In [1]:
import pandas as pd, numpy as np

In [2]:
path = '/ihme/homes/beatrixh/vivarium_research_lsff/data_prep/outputs/lsff_data_estimated_03_08_2021.csv'

In [6]:
## load legal combos
import pickle
data_prep_dir = '/ihme/homes/beatrixh/vivarium_research_lsff/data_prep/inputs/'

with open(data_prep_dir + 'lsff_vehicle_nutrient_pairs.pickle', 'rb') as handle:
    vehicle_nutrient_map = pickle.load(handle)
    
with open(data_prep_dir + 'lsff_country_vehicle_pairs.pickle', 'rb') as handle:
    country_vehicle_map = pickle.load(handle)
    
with open(data_prep_dir + 'lsff_vehicle_country_pairs.pickle', 'rb') as handle:
    vehicle_country_map = pickle.load(handle)

In [9]:
country_vehicle_map['Pakistan']

['wheat flour', 'oil']

In [7]:
vehicle_nutrient_map['wheat flour']

['folic acid', 'iron', 'zinc', 'vitamin b1', 'vitamin b12', 'vitamin a']

In [3]:
df = pd.read_csv(path)

In [4]:
df.head()

,location_name,vehicle,nutrient,standard,A,B,B_estimate,C,C_estimate
0,Angola,wheat flour,iron,Unknown,NaN,NaN,NaN,NaN,NaN
1,Angola,wheat flour,zinc,Unknown,NaN,NaN,NaN,NaN,NaN
2,Angola,wheat flour,folic acid,Unknown,NaN,NaN,NaN,NaN,NaN
3,Angola,wheat flour,vitamin b12,Unknown,NaN,NaN,NaN,NaN,NaN
4,Angola,wheat flour,vitamin b1,Unknown,NaN,NaN,NaN,NaN,NaN

In [8]:
df[df.location_name=="Pakistan"].sort_values(['location_name','vehicle','nutrient'])

,location_name,vehicle,nutrient,standard,A,B,B_estimate,C,C_estimate
260,Pakistan,oil,vitamin a,Mandatory,100.000000,99.000000,0.0,30.000000,0.0
261,Pakistan,oil,vitamin d,Mandatory,100.000000,99.000000,0.0,64.373333,1.0
256,Pakistan,wheat flour,folic acid,Mandatory in Punjab only,97.333333,48.666667,0.0,0.000000,1.0
255,Pakistan,wheat flour,iron,Mandatory in Punjab only,97.333333,48.666667,0.0,5.333333,0.0
348,Pakistan,wheat flour,vitamin a,NaN,97.333333,48.666667,0.0,0.000000,1.0
259,Pakistan,wheat flour,vitamin b1,Unknown,97.333333,48.666667,0.0,0.000000,1.0
258,Pakistan,wheat flour,vitamin b12,Unknown,97.333333,48.666667,0.0,0.000000,1.0
257,Pakistan,wheat flour,zinc,Unknown,97.333333,48.666667,0.0,0.000000,1.0

In [10]:
df[df.location_name=="Bangladesh"].sort_values(['location_name','vehicle','nutrient'])

,location_name,vehicle,nutrient,standard,A,B,B_estimate,C,C_estimate
18,Bangladesh,oil,vitamin a,Mandatory,80.78,87.9500,0.0,42.849572,1.0
19,Bangladesh,oil,vitamin d,Unknown,80.78,87.9500,0.0,0.000000,1.0
14,Bangladesh,wheat flour,folic acid,Voluntary,62.35,49.2565,1.0,0.155875,1.0
12,Bangladesh,wheat flour,iron,Voluntary,62.35,49.2565,1.0,0.155875,1.0
17,Bangladesh,wheat flour,vitamin a,Voluntary,62.35,49.2565,1.0,0.155875,1.0
16,Bangladesh,wheat flour,vitamin b1,Voluntary,62.35,49.2565,1.0,0.155875,1.0
15,Bangladesh,wheat flour,vitamin b12,Voluntary,62.35,49.2565,1.0,0.155875,1.0
13,Bangladesh,wheat flour,zinc,Voluntary,62.35,49.2565,1.0,0.155875,1.0

In [11]:
df[df.location_name=="South Africa"].sort_values(['location_name','vehicle','nutrient'])

,location_name,vehicle,nutrient,standard,A,B,B_estimate,C,C_estimate
272,South Africa,maize flour,folic acid,Mandatory,97.15,97.05,0.0,46.85,0.0
270,South Africa,maize flour,iron,Mandatory,97.15,97.05,0.0,46.85,0.0
274,South Africa,maize flour,vitamin a,Mandatory,97.15,97.05,0.0,46.85,0.0
273,South Africa,maize flour,vitamin b1,Mandatory,97.15,97.05,0.0,46.85,0.0
275,South Africa,maize flour,vitamin b12,Unknown,97.15,97.05,0.0,0.00,1.0
271,South Africa,maize flour,zinc,Mandatory,97.15,97.05,0.0,46.85,0.0
268,South Africa,oil,vitamin a,Unknown,NaN,NaN,NaN,NaN,NaN
269,South Africa,oil,vitamin d,Unknown,NaN,NaN,NaN,NaN,NaN
264,South Africa,wheat flour,folic acid,Mandatory,14.75,14.75,0.0,8.55,0.0
262,South Africa,wheat flour,iron,Mandatory,14.75,14.75,0.0,8.55,0.0
266,South Africa,wheat flour,vitamin a,Mandatory,14.75,14.75,0.0,8.55,0.0
265,South Africa,wheat flour,vitamin b1,Mandatory,14.75,14.75,0.0,8.55,0.0
267,South Africa,wheat flour,vitamin b12,Unknown,14.75,14.75,0.0,0.00,1.0
263,South Africa,wheat flour,zinc,Mandatory,14.75,14.75,0.0,8.55,0.0