In [2]:
import pandas as pd, numpy as np

In [3]:
tier1_path = '/ihme/homes/beatrixh/vivarium_research_lsff/data_prep/outputs/nigeria_ethiopia_india_coverage_data.csv'

In [4]:
ls /ihme/homes/beatrixh/vivarium_research_lsff/data_prep/outputs/ | grep tier

~$gday_data_assumptions_tier2.xlsx
gday_data_assumptions_tier2.xlsx
gday_tier2_03_16_2021.csv
gday_tier3_03_23_2021.csv
gday_tier4_03_29_2021.csv
population_coverage_data_tier2_input_data.csv
population_coverage_data_tier2_locs_3_17_2021.csv
population_coverage_data_tier3_locs_3_23_2021.csv
population_coverage_data_tier3_locs_3_26_2021.csv
population_coverage_data_tier4_locs_3_26_2021.csv
population_coverage_tier3_input_data.csv
tier123_coverage_data_2021_03_24.csv

In [5]:
tier2_path = '/ihme/homes/beatrixh/vivarium_research_lsff/data_prep/outputs/population_coverage_data_tier2_locs_3_17_2021.csv'
tier3_path = '/ihme/homes/beatrixh/vivarium_research_lsff/data_prep/outputs/population_coverage_data_tier3_locs_3_26_2021.csv'
tier4_path = '/ihme/homes/beatrixh/vivarium_research_lsff/data_prep/outputs/population_coverage_data_tier4_locs_3_26_2021.csv'

In [6]:
t1 = pd.read_csv(tier1_path)
t2 = pd.read_csv(tier2_path)
t3 = pd.read_csv(tier3_path)
t4 = pd.read_csv(tier4_path)

In [7]:
t1.head()

,location_id,location_name,sub_population,vehicle,value_description,nutrient,value_mean,value_025_percentile,value_975_percentile
0,179,Ethiopia,NaN,oil,percent of population eating fortified vehicle,vitamin a,1.0,0.0,5.0
1,179,Ethiopia,NaN,wheat flour,percent of population eating fortified vehicle,folic acid,1.0,0.0,5.0
2,179,Ethiopia,under-5,wheat flour,percent of population eating industrially prod...,na,27.0,17.0,37.0
3,179,Ethiopia,women of reproductive age,wheat flour,percent of population eating industrially prod...,na,20.0,10.0,30.0
4,179,Ethiopia,under-5,oil,percent of population eating industrially prod...,na,70.0,60.0,80.0

In [9]:
all_data = pd.concat([t1, t2, t3, t4])

/ihme/homes/beatrixh/.local/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [10]:
all_data = all_data.drop(columns='location_id')

sort_helper = {
    'percent of population eating fortified vehicle': 'C',
 'percent of population eating industrially produced vehicle': 'B',
 'percent of population eating vehicle': 'A'}


all_data['sort_helper'] = all_data.value_description.map(sort_helper)

all_data = all_data.sort_values(['location_name','vehicle','sort_helper','value_description','nutrient']).drop(columns='sort_helper')

col_order = ['location_name','vehicle','value_description','nutrient','value_mean','value_025_percentile','value_975_percentile','sub_population','estimation_status', 'source_citation',
       'source_link', 'data_choice_notes', 'CI_source']

all_data = all_data[col_order]

In [11]:
all_data

,location_name,vehicle,value_description,nutrient,value_mean,value_025_percentile,value_975_percentile,sub_population,estimation_status,source_citation,source_link,data_choice_notes,CI_source
2,Bangladesh,oil,percent of population eating vehicle,na,100.000000,96.514892,100.000000,total population,na,"Grant J Aaron, Valerie M Friesen, Svenja Jungj...",https://doi.org/10.3945/jn.116.245753,Keeping Aaron (survey data) number from 2015 (...,modeling
1,Bangladesh,oil,percent of population eating industrially prod...,na,88.400000,84.500000,92.300000,total population,na,"Grant J Aaron, Valerie M Friesen, Svenja Jungj...",https://doi.org/10.3945/jn.116.245753,Keeping Aaron number (88%) and descarding Ragh...,extraction
0,Bangladesh,oil,percent of population eating fortified vehicle,vitamin a,42.849572,41.356218,44.342926,NaN,multiplicative,NaN,NaN,NaN,modeling
8,Bangladesh,wheat flour,percent of population eating vehicle,na,41.900000,31.257526,52.542474,women of reproductive age,na,"Leyvraz M, Laillou A, Rahman S, et al. An Asse...",https://www.mdpi.com/2072-6643/8/9/541/htm,"Keeping Levyraz numbers (42% and 76%), as they...",modeling
9,Bangladesh,wheat flour,percent of population eating vehicle,na,76.200000,56.845429,95.554571,under-5,na,"Leyvraz M, Laillou A, Rahman S, et al. An Asse...",https://www.mdpi.com/2072-6643/8/9/541/htm,"Keeping Levyraz numbers (42% and 76%), as they...",modeling
...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,Viet Nam,wheat flour,percent of population eating industrially prod...,na,21.930000,9.639098,34.220902,NaN,multiplicative,NaN,NaN,NaN,modeling
58,Viet Nam,wheat flour,percent of population eating fortified vehicle,folic acid,4.111875,1.807331,6.416419,NaN,multiplicative,NaN,NaN,NaN,modeling
59,Viet Nam,wheat flour,percent of population eating fortified vehicle,iron,4.111875,1.807331,6.416419,NaN,multiplicative,NaN,NaN,NaN,modeling
60,Viet Nam,wheat flour,percent of population eating fortified vehicle,vitamin a,4.111875,1.807331,6.416419,NaN,multiplicative,NaN,NaN,NaN,modeling
61,Viet Nam,wheat flour,percent of population eating fortified vehicle,zinc,4.111875,1.807331,6.416419,NaN,multiplicative,NaN,NaN,NaN,modeling

In [12]:
# save_path = '/ihme/homes/beatrixh/vivarium_research_lsff/data_prep/outputs/tier1234_coverage_data_2021_03_24.csv'
# all_data.to_csv(save_path, index = False)

In [13]:
# ls /ihme/homes/beatrixh/vivarium_research_lsff/data_prep/outputs/ | grep lsff_input_

lsff_input_coverage_data.csv

In [27]:
all_inputted_data_path = '/ihme/homes/beatrixh/vivarium_research_lsff/data_prep/outputs/lsff_input_coverage_data.csv'

In [14]:
template = pd.read_csv(all_inputted_data_path)

In [15]:
template.columns

Index(['location_id', 'location_name', 'sub_population', 'vehicle',
       'value_description', 'nutrient', 'value_mean', 'value_025_percentile',
       'value_975_percentile'],
      dtype='object')

In [16]:
from db_queries import get_location_metadata as get_locs

In [17]:
loc_metadata = get_locs(location_set_id=35, gbd_round_id=6, decomp_step="step4")

In [20]:
loc_metadata = loc_metadata.loc[loc_metadata.location_name.isin(all_data.location_name.unique()),['location_id','location_name']]

In [21]:
loc_metadata

      location_id                     location_name
635           161                        Bangladesh
637           163                             India
731           164                             Nepal
732           165                          Pakistan
799            11                         Indonesia
838            15                           Myanmar
926            20                          Viet Nam
932           171  Democratic Republic of the Congo
940           179                          Ethiopia
952           180                             Kenya
1002          184                        Mozambique
1006          190                            Uganda
1007          189       United Republic of Tanzania
1014          196                      South Africa
1027          201                      Burkina Faso
1029          202                          Cameroon
1031          205                     Côte d'Ivoire
1040          214                           Nigeria

In [23]:
all_data = all_data.merge(loc_metadata, on = 'location_name', how = 'left')

In [25]:
formatted_data = all_data[template.columns]

In [28]:
formatted_data.to_csv(all_inputted_data_path, index = False)