In [1]:
import pandas as pd, numpy as np

In [3]:
tier1_path = '/ihme/homes/beatrixh/vivarium_research_lsff/data_prep/outputs/nigeria_ethiopia_india_coverage_data.csv'

In [5]:
tier2_path = '/ihme/homes/beatrixh/vivarium_research_lsff/data_prep/outputs/population_coverage_data_tier2_locs_3_17_2021.csv'
tier3_path = '/ihme/homes/beatrixh/vivarium_research_lsff/data_prep/outputs/population_coverage_data_tier3_locs_3_23_2021.csv'

In [12]:
t1 = pd.read_csv(tier1_path)
t2 = pd.read_csv(tier2_path)
t3 = pd.read_csv(tier3_path)

In [13]:
t1.head()

,location_id,location_name,sub_population,vehicle,value_description,nutrient,value_mean,value_025_percentile,value_975_percentile
0,179,Ethiopia,NaN,oil,percent of population eating fortified vehicle,vitamin a,1.0,0.0,5.0
1,179,Ethiopia,NaN,wheat flour,percent of population eating fortified vehicle,folic acid,1.0,0.0,5.0
2,179,Ethiopia,under-5,wheat flour,percent of population eating industrially prod...,na,27.0,17.0,37.0
3,179,Ethiopia,women of reproductive age,wheat flour,percent of population eating industrially prod...,na,20.0,10.0,30.0
4,179,Ethiopia,under-5,oil,percent of population eating industrially prod...,na,70.0,60.0,80.0

In [28]:
all_data = t1.append(t2).append(t3)

In [29]:
all_data = all_data.drop(columns='location_id')

sort_helper = {
    'percent of population eating fortified vehicle': 'C',
 'percent of population eating industrially produced vehicle': 'B',
 'percent of population eating vehicle': 'A'}


all_data['sort_helper'] = all_data.value_description.map(sort_helper)

all_data = all_data.sort_values(['location_name','vehicle','sort_helper','value_description','nutrient']).drop(columns='sort_helper')

col_order = ['location_name','vehicle','value_description','nutrient','value_mean','value_025_percentile','value_975_percentile','sub_population','estimation_status', 'source_citation',
       'source_link', 'data_choice_notes', 'CI_source']

all_data = all_data[col_order]

In [30]:
save_path = '/ihme/homes/beatrixh/vivarium_research_lsff/data_prep/outputs/tier123_coverage_data_2021_03_24.csv'
all_data.to_csv(save_path, index = False)