In [1]:
import pandas as pd, numpy as np
from db_queries import get_location_metadata as get_locs

In [2]:
tier1_path = '/ihme/homes/beatrixh/vivarium_research_lsff/data_prep/outputs/nigeria_ethiopia_india_coverage_data.csv'

In [3]:
ls /ihme/homes/beatrixh/vivarium_research_lsff/data_prep/outputs/ | grep tier

~$gday_data_assumptions_tier2.xlsx
gday_data_assumptions_tier2.xlsx
gday_tier2_03_16_2021.csv
gday_tier3_03_23_2021.csv
gday_tier4_03_29_2021.csv
population_coverage_data_tier2_input_data.csv
population_coverage_data_tier2_locs_3_17_2021.csv
population_coverage_data_tier3_locs_3_23_2021.csv
population_coverage_data_tier3_locs_3_26_2021.csv
population_coverage_data_tier3_locs_3_31_2021.csv
population_coverage_data_tier4_locs_3_26_2021.csv
population_coverage_tier3_input_data.csv
tier1234_coverage_data_2021_03_24.csv
tier123_coverage_data_2021_03_24.csv
tier5_coverage_data_03_29_2021.csv

In [4]:
tier2_path = '/ihme/homes/beatrixh/vivarium_research_lsff/data_prep/outputs/population_coverage_data_tier2_locs_3_17_2021.csv'
tier3_path = '/ihme/homes/beatrixh/vivarium_research_lsff/data_prep/outputs/population_coverage_data_tier3_locs_3_31_2021.csv'
tier4_path = '/ihme/homes/beatrixh/vivarium_research_lsff/data_prep/outputs/population_coverage_data_tier4_locs_3_26_2021.csv'

In [5]:
t1 = pd.read_csv(tier1_path)
t2 = pd.read_csv(tier2_path)
t3 = pd.read_csv(tier3_path)
t4 = pd.read_csv(tier4_path)

In [6]:
all_data = pd.concat([t1, t2, t3, t4])

/ihme/homes/beatrixh/.local/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [7]:
all_data = all_data.drop(columns='location_id')

sort_helper = {
    'percent of population eating fortified vehicle': 'C',
 'percent of population eating industrially produced vehicle': 'B',
 'percent of population eating vehicle': 'A'}


all_data['sort_helper'] = all_data.value_description.map(sort_helper)

all_data = all_data.sort_values(['location_name','vehicle','sort_helper','value_description','nutrient']).drop(columns='sort_helper')

col_order = ['location_name','vehicle','value_description','nutrient','value_mean','value_025_percentile','value_975_percentile','sub_population','estimation_status', 'source_citation',
       'source_link', 'data_choice_notes', 'CI_source']

all_data = all_data[col_order]

In [8]:
all_data

,location_name,vehicle,value_description,nutrient,value_mean,value_025_percentile,value_975_percentile,sub_population,estimation_status,source_citation,source_link,data_choice_notes,CI_source
2,Bangladesh,oil,percent of population eating vehicle,na,100.000000,96.514892,100.000000,total population,na,"Grant J Aaron, Valerie M Friesen, Svenja Jungj...",https://doi.org/10.3945/jn.116.245753,Keeping Aaron (survey data) number from 2015 (...,modeling
1,Bangladesh,oil,percent of population eating industrially prod...,na,88.400000,84.500000,92.300000,total population,na,"Grant J Aaron, Valerie M Friesen, Svenja Jungj...",https://doi.org/10.3945/jn.116.245753,Keeping Aaron number (88%) and descarding Ragh...,extraction
0,Bangladesh,oil,percent of population eating fortified vehicle,vitamin a,42.849572,41.356218,44.342926,NaN,multiplicative,NaN,NaN,NaN,modeling
8,Bangladesh,wheat flour,percent of population eating vehicle,na,41.900000,31.257526,52.542474,women of reproductive age,na,"Leyvraz M, Laillou A, Rahman S, et al. An Asse...",https://www.mdpi.com/2072-6643/8/9/541/htm,"Keeping Levyraz numbers (42% and 76%), as they...",modeling
9,Bangladesh,wheat flour,percent of population eating vehicle,na,76.200000,56.845429,95.554571,under-5,na,"Leyvraz M, Laillou A, Rahman S, et al. An Asse...",https://www.mdpi.com/2072-6643/8/9/541/htm,"Keeping Levyraz numbers (42% and 76%), as they...",modeling
...,...,...,...,...,...,...,...,...,...,...,...,...,...
55,Viet Nam,wheat flour,percent of population eating industrially prod...,na,21.930000,9.639098,34.220902,NaN,multiplicative,NaN,NaN,NaN,modeling
56,Viet Nam,wheat flour,percent of population eating fortified vehicle,folic acid,4.111875,1.807331,6.416419,NaN,multiplicative,NaN,NaN,NaN,modeling
57,Viet Nam,wheat flour,percent of population eating fortified vehicle,iron,4.111875,1.807331,6.416419,NaN,multiplicative,NaN,NaN,NaN,modeling
58,Viet Nam,wheat flour,percent of population eating fortified vehicle,vitamin a,4.111875,1.807331,6.416419,NaN,multiplicative,NaN,NaN,NaN,modeling
59,Viet Nam,wheat flour,percent of population eating fortified vehicle,zinc,4.111875,1.807331,6.416419,NaN,multiplicative,NaN,NaN,NaN,modeling

In [9]:
final_cols = ['location_id', 'location_name', 'sub_population', 'vehicle',
       'value_description', 'nutrient', 'value_mean', 'value_025_percentile',
       'value_975_percentile']

In [10]:
loc_metadata = get_locs(location_set_id=35, gbd_round_id=6, decomp_step="step4")

In [11]:
loc_metadata = loc_metadata.loc[loc_metadata.location_name.isin(all_data.location_name.unique()),['location_id','location_name']]

In [12]:
all_data = all_data.merge(loc_metadata, on = 'location_name', how = 'left')

In [13]:
df = all_data[final_cols]

In [14]:
df.head()

,location_id,location_name,sub_population,vehicle,value_description,nutrient,value_mean,value_025_percentile,value_975_percentile
0,161,Bangladesh,total population,oil,percent of population eating vehicle,na,100.000000,96.514892,100.000000
1,161,Bangladesh,total population,oil,percent of population eating industrially prod...,na,88.400000,84.500000,92.300000
2,161,Bangladesh,NaN,oil,percent of population eating fortified vehicle,vitamin a,42.849572,41.356218,44.342926
3,161,Bangladesh,women of reproductive age,wheat flour,percent of population eating vehicle,na,41.900000,31.257526,52.542474
4,161,Bangladesh,under-5,wheat flour,percent of population eating vehicle,na,76.200000,56.845429,95.554571

In [15]:
all_inputted_data_path = '/ihme/homes/beatrixh/vivarium_research_lsff/data_prep/outputs/lsff_input_coverage_data.csv'

In [16]:
# df.to_csv(all_inputted_data_path, index = False)

In [17]:
subpop_map = {
    'total population': 'total population',
    'women of reproductive age': 'women of reproductive age',
    'under-5': 'under-5',
    '8-59 months': 'under-5',
    'children 12-36 months': 'under-5',
    'households with children <2 years old': 'NA',
    np.nan : 'NA'
}

df['subpop_val'] = df.sub_population.map(subpop_map)

/ihme/homes/beatrixh/.local/lib/python3.7/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

In [18]:
df['nq_counts'] = df.groupby(['location_name','vehicle','value_description','nutrient']).transform('count').subpop_val

/ihme/homes/beatrixh/.local/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [19]:
df[(df.nq_counts > 1)].sort_values(['location_name','vehicle','value_description','nutrient']).set_index(['location_id','location_name','vehicle','value_description','nutrient'])[['nq_counts','subpop_val','value_mean','value_025_percentile','value_975_percentile']]

                                                                                                   nq_counts  \
location_id location_name vehicle     value_description                                  nutrient
161         Bangladesh    wheat flour percent of population eating vehicle               na                2
                                                                                         na                2
201         Burkina Faso  wheat flour percent of population eating vehicle               na                2
                                                                                         na                2
202         Cameroon      wheat flour percent of population eating vehicle               na                2
                                                                                         na                2
179         Ethiopia      wheat flour percent of population eating industrially produ... na                2
                                                                                         na                2
20          Viet Nam      oil         percent of population eating vehicle               na                2
                                                                                         na                2
                          wheat flour percent of population eating vehicle               na                2
                                                                                         na                2

                                                                                                                  subpop_val  \
location_id location_name vehicle     value_description                                  nutrient
161         Bangladesh    wheat flour percent of population eating vehicle               na        women of reproductive age
                                                                                         na                          under-5
201         Burkina Faso  wheat flour percent of population eating vehicle               na        women of reproductive age
                                                                                         na                          under-5
202         Cameroon      wheat flour percent of population eating vehicle               na        women of reproductive age
                                                                                         na                          under-5
179         Ethiopia      wheat flour percent of population eating industrially produ... na                          under-5
                                                                                         na        women of reproductive age
20          Viet Nam      oil         percent of population eating vehicle               na                          under-5
                                                                                         na                               NA
                          wheat flour percent of population eating vehicle               na        women of reproductive age
                                                                                         na                          under-5

                                                                                                   value_mean  \
location_id location_name vehicle     value_description                                  nutrient
161         Bangladesh    wheat flour percent of population eating vehicle               na              41.9
                                                                                         na              76.2
201         Burkina Faso  wheat flour percent of population eating vehicle               na              48.0
                                                                                         na              57.0
202         Cameroon      wheat flour percent of population eating vehicle               na              92.0
                                                                                         na              94.0
179         Ethiopia      wheat flour percent of population eating industrially produ... na              27.0
                                                                                         na              20.0
20          Viet Nam      oil         percent of population eating vehicle               na              38.3
                                                                                         na              56.3
                          wheat flour percent of population eating vehicle               na              38.8
                                                                                         na              16.4

                                                                                                   value_025_percentile  \
location_id location_name vehicle     value_description                                  nutrient
161         Bangladesh    wheat flour percent of population eating vehicle               na                   31.257526
                                                                                         na                   56.845429
201         Burkina Faso  wheat flour percent of population eating vehicle               na                   21.097889
                                                                                         na                   25.053743
202         Cameroon      wheat flour percent of population eating vehicle               na                   90.000000
                                                                                         na                   92.000000
179         Ethiopia      wheat flour percent of population eating industrially produ... na                   17.000000
                                                                                         na                   10.000000
20          Viet Nam      oil         percent of population eating vehicle               na                   19.140406
                                                                                         na                    0.000000
                          wheat flour percent of population eating vehicle               na                   17.054127
                                                                                         na                    7.208445

                                                                                                   value_975_percentile
location_id location_name vehicle     value_description                                  nutrient
161         Bangladesh    wheat flour percent of population eating vehicle               na                   52.542474
                                                                                         na                   95.554571
201         Burkina Faso  wheat flour percent of population eating vehicle               na                   74.902111
                                                                                         na                   88.946257
202         Cameroon      wheat flour percent of population eating vehicle               na                   94.000000
                                                                                         na                   96.000000
179         Ethiopia      wheat flour percent of population eating industrially produ... na                   37.000000
                                                                                         na                   30.000000
20          Viet Nam      oil         percent of population eating vehicle               na                   57.459594
                                                                                         na                  100.000000
                          wheat flour percent of population eating vehicle               na                   60.545873
                                                                                         na                   25.591555

In [20]:
assert(df.nq_counts.min()==1), "data formatting error"

In [21]:
df['u5_applicable'] = False
df['wra_applicable'] = False

df.loc[(df.nq_counts==1),'u5_applicable'] = True
df.loc[(df.nq_counts==1),'wra_applicable'] = True

/ihme/homes/beatrixh/.local/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/ihme/homes/beatrixh/.local/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/ihme/code/central_comp/miniconda_svc-ccomp/envs/v107/lib/python3.7/site-packages/pandas/core/indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [22]:
df.loc[(df.nq_counts==2) &
       (df.subpop_val=='under-5'),
       'u5_applicable'] = True

df.loc[(df.nq_counts==2) &
       (df.subpop_val=='women of reproductive age'),
       'wra_applicable'] = True

In [23]:
#what's left over?
df.loc[(df.nq_counts==2) &
       ~(df.subpop_val.isin(['under-5','women of reproductive age']))]

,location_id,location_name,sub_population,vehicle,value_description,nutrient,value_mean,value_025_percentile,value_975_percentile,subpop_val,nq_counts,u5_applicable,wra_applicable
205,20,Viet Nam,NaN,oil,percent of population eating vehicle,na,56.3,0.0,100.0,NA,2,False,False

In [24]:
df.loc[(df.location_name=="Viet Nam") & (df.vehicle=="oil") & (df.value_description=="percent of population eating vehicle")]

,location_id,location_name,sub_population,vehicle,value_description,nutrient,value_mean,value_025_percentile,value_975_percentile,subpop_val,nq_counts,u5_applicable,wra_applicable
204,20,Viet Nam,under-5,oil,percent of population eating vehicle,na,38.3,19.140406,57.459594,under-5,2,True,False
205,20,Viet Nam,NaN,oil,percent of population eating vehicle,na,56.3,0.000000,100.000000,NA,2,False,False

In [25]:
df.loc[(df.nq_counts==2) &
       ~(df.subpop_val.isin(['under-5','women of reproductive age'])),'wra_applicable'] = True

In [26]:
df[(df.wra_applicable)].shape, df[(df.u5_applicable)].shape

((209, 13), (209, 13))

In [30]:
df[final_cols + ['u5_applicable','wra']]

,location_id,location_name,sub_population,vehicle,value_description,nutrient,value_mean,value_025_percentile,value_975_percentile,subpop_val,nq_counts,u5_applicable,wra_applicable
0,161,Bangladesh,total population,oil,percent of population eating vehicle,na,100.000000,96.514892,100.000000,total population,1,True,True
1,161,Bangladesh,total population,oil,percent of population eating industrially prod...,na,88.400000,84.500000,92.300000,total population,1,True,True
2,161,Bangladesh,NaN,oil,percent of population eating fortified vehicle,vitamin a,42.849572,41.356218,44.342926,NA,1,True,True
3,161,Bangladesh,women of reproductive age,wheat flour,percent of population eating vehicle,na,41.900000,31.257526,52.542474,women of reproductive age,2,False,True
4,161,Bangladesh,under-5,wheat flour,percent of population eating vehicle,na,76.200000,56.845429,95.554571,under-5,2,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,20,Viet Nam,NaN,wheat flour,percent of population eating industrially prod...,na,21.930000,9.639098,34.220902,NA,1,True,True
211,20,Viet Nam,NaN,wheat flour,percent of population eating fortified vehicle,folic acid,4.111875,1.807331,6.416419,NA,1,True,True
212,20,Viet Nam,NaN,wheat flour,percent of population eating fortified vehicle,iron,4.111875,1.807331,6.416419,NA,1,True,True
213,20,Viet Nam,NaN,wheat flour,percent of population eating fortified vehicle,vitamin a,4.111875,1.807331,6.416419,NA,1,True,True
214,20,Viet Nam,NaN,wheat flour,percent of population eating fortified vehicle,zinc,4.111875,1.807331,6.416419,NA,1,True,True

In [29]:
all_inputted_data_path

'/ihme/homes/beatrixh/vivarium_research_lsff/data_prep/outputs/lsff_input_coverage_data.csv'