In [1]:
import pandas as pd, numpy as np
from tqdm import tqdm

import data_processing
import lbwsg_boe
# import lbwsg
# import lsff_interventions
# import demography

!date
!whoami
!pwd

Fri Apr  9 03:13:19 PDT 2021
ndbs
/ihme/homes/ndbs/vivarium_research_lsff/nanosim_models

In [2]:
vivarium_research_lsff_path = '/ihme/homes/ndbs/vivarium_research_lsff'

/ihme/homes/ndbs/miniconda3/envs/lsff-iron-38/lib/python3.8/site-packages/ipykernel/ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

In [3]:
!ls results2/

In [4]:
%load_ext autoreload
%autoreload 2

In [5]:
locations = pd.read_csv('../gbd_data_summary/input_data/bmgf_top_25_countries_20201203.csv')
location_ids = locations.location_id.to_list()
locations

                       location_name  location_id
0                             Angola          168
1                         Bangladesh          161
2                       Burkina Faso          201
3                           Cameroon          202
4                              China            6
5                      Côte d'Ivoire          205
6   Democratic Republic of the Congo          171
7                              Egypt          141
8                           Ethiopia          179
9                              Ghana          207
10                             India          163
11                         Indonesia           11
12                             Kenya          180
13                        Madagascar          181
14                        Mozambique          184
15                           Myanmar           15
16                             Nepal          164
17                             Niger          213
18                           Nigeria          214
19                          Pakistan          165
20                      South Africa          196
21                             Sudan          522
22                            Uganda          190
23       United Republic of Tanzania          189
24                          Viet Nam           20

In [6]:
for location in tqdm(locations.iloc[18:23, 0]):
    print(location)

/ihme/homes/ndbs/miniconda3/envs/lsff-iron-38/lib/python3.8/site-packages/ipykernel/ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)
100%|██████████| 5/5 [00:00<00:00, 14246.96it/s]

Nigeria
Pakistan
South Africa
Sudan
Uganda

In [7]:
%%time
for location in tqdm(locations.iloc[18:23, 0]):
    print(location)
    lbwsg_boe.main(
    vivarium_research_lsff_path,
    "results2",
    location, 80_000, random_seed=3456, num_draws=250, take_mean=False
    )
!ls results2/

  0%|          | 0/5 [00:00<?, ?it/s]

Nigeria

/ihme/homes/ndbs/miniconda3/envs/lsff-iron-38/lib/python3.8/site-packages/tables/atom.py:1224: DeprecationWarning: tostring() is deprecated. Use tobytes() instead.
  return pickle.loads(array.tostring())
 20%|██        | 1/5 [2:00:46<8:03:06, 7246.74s/it]

Pakistan

/ihme/homes/ndbs/miniconda3/envs/lsff-iron-38/lib/python3.8/site-packages/tables/atom.py:1224: DeprecationWarning: tostring() is deprecated. Use tobytes() instead.
  return pickle.loads(array.tostring())
 40%|████      | 2/5 [3:01:38<4:16:35, 5131.98s/it]

South Africa

/ihme/homes/ndbs/miniconda3/envs/lsff-iron-38/lib/python3.8/site-packages/tables/atom.py:1224: DeprecationWarning: tostring() is deprecated. Use tobytes() instead.
  return pickle.loads(array.tostring())
 60%|██████    | 3/5 [5:04:45<3:25:23, 6161.84s/it]

Sudan

/ihme/homes/ndbs/miniconda3/envs/lsff-iron-38/lib/python3.8/site-packages/tables/atom.py:1224: DeprecationWarning: tostring() is deprecated. Use tobytes() instead.
  return pickle.loads(array.tostring())
 80%|████████  | 4/5 [7:06:51<1:50:21, 6621.35s/it]/ihme/homes/ndbs/miniconda3/envs/lsff-iron-38/lib/python3.8/site-packages/tables/atom.py:1224: DeprecationWarning: tostring() is deprecated. Use tobytes() instead.
  return pickle.loads(array.tostring())

Uganda

100%|██████████| 5/5 [9:08:47<00:00, 6585.44s/it]

Côte d'Ivoire_parallel.txt
Democratic Republic of the Congo_parallel.txt
Egypt_parallel.txt
Ethiopia_parallel.txt
Ghana_parallel.txt
India_parallel.txt
Indonesia_parallel.txt
iron_bw_results__Democratic Republic of the Congo.csv
iron_bw_results__Egypt.csv
iron_bw_results__Ethiopia.csv
iron_bw_results__Ghana.csv
iron_bw_results__Indonesia.csv
iron_bw_results__Kenya.csv
iron_bw_results__Nigeria.csv
iron_bw_results__Pakistan.csv
iron_bw_results__South Africa.csv
iron_bw_results__Sudan.csv
iron_bw_results__Uganda.csv
Kenya_parallel.txt
Nigeria_parallel.txt
Pakistan_parallel.txt
South Africa_parallel.txt
Sudan_parallel.txt
Uganda_parallel.txt

CPU times: user 8h 36min 55s, sys: 55min 46s, total: 9h 32min 41s
Wall time: 9h 8min 47s

# Woo hoo! Do more locations

In [8]:
for location in tqdm(locations.iloc[[17,16,15], 0]):
    print(location)

/ihme/homes/ndbs/miniconda3/envs/lsff-iron-38/lib/python3.8/site-packages/ipykernel/ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)
100%|██████████| 3/3 [00:00<00:00, 10424.95it/s]

Niger
Nepal
Myanmar

In [9]:
%%time
for location in tqdm(locations.iloc[[17,16,15], 0]):
    print(location)
    lbwsg_boe.main(
    vivarium_research_lsff_path,
    "results2",
    location, 80_000, random_seed=3456, num_draws=250, take_mean=False
    )
!ls results2/

  0%|          | 0/3 [00:00<?, ?it/s]

Niger

/ihme/homes/ndbs/miniconda3/envs/lsff-iron-38/lib/python3.8/site-packages/tables/atom.py:1224: DeprecationWarning: tostring() is deprecated. Use tobytes() instead.
  return pickle.loads(array.tostring())
 33%|███▎      | 1/3 [2:00:54<4:01:48, 7254.17s/it]

Nepal

/ihme/homes/ndbs/miniconda3/envs/lsff-iron-38/lib/python3.8/site-packages/tables/atom.py:1224: DeprecationWarning: tostring() is deprecated. Use tobytes() instead.
  return pickle.loads(array.tostring())
 67%|██████▋   | 2/3 [3:01:54<1:25:39, 5139.95s/it]

Myanmar

/ihme/homes/ndbs/miniconda3/envs/lsff-iron-38/lib/python3.8/site-packages/tables/atom.py:1224: DeprecationWarning: tostring() is deprecated. Use tobytes() instead.
  return pickle.loads(array.tostring())
100%|██████████| 3/3 [4:01:33<00:00, 4831.22s/it]

Cameroon_parallel.txt
China_parallel.txt
Côte d'Ivoire_parallel.txt
Democratic Republic of the Congo_parallel.txt
Egypt_parallel.txt
Ethiopia_parallel.txt
Ghana_parallel.txt
India_parallel.txt
Indonesia_parallel.txt
iron_bw_results__China.csv
iron_bw_results__Côte d'Ivoire.csv
iron_bw_results__Democratic Republic of the Congo.csv
iron_bw_results__Egypt.csv
iron_bw_results__Ethiopia.csv
iron_bw_results__Ghana.csv
iron_bw_results__India.csv
iron_bw_results__Indonesia.csv
iron_bw_results__Kenya.csv
iron_bw_results__Myanmar.csv
iron_bw_results__Nepal.csv
iron_bw_results__Niger.csv
iron_bw_results__Nigeria.csv
iron_bw_results__Pakistan.csv
iron_bw_results__South Africa.csv
iron_bw_results__Sudan.csv
iron_bw_results__Uganda.csv
iron_bw_results__Viet Nam.csv
Kenya_parallel.txt
Myanmar_parallel.txt
Nepal_parallel.txt
Nigeria_parallel.txt
Niger_parallel.txt
Pakistan_parallel.txt
South Africa_parallel.txt
Sudan_parallel.txt
Uganda_parallel.txt
United Republic of Tanzania_parallel.txt
Viet Nam_parallel.txt
CPU times: user 3h 47min 37s, sys: 23min 28s, total: 4h 11min 6s
Wall time: 4h 1min 33s