In [1]:
import pandas as pd, numpy as np

In [2]:
output_dir = '/ihme/homes/beatrixh/vivarium_research_lsff/data_prep/outputs/'

md = pd.read_csv(output_dir + 'lsff_input_coverage_data_with_metadata.csv')
df = pd.read_csv(output_dir + 'lsff_input_coverage_data.csv')

In [3]:
md.shape, df.shape

((335, 16), (334, 11))

In [4]:
md = md.drop(columns=['value_025_percentile','value_975_percentile'])
df = df.drop(columns=['value_025_percentile','value_975_percentile'])

In [5]:
df.head()

,location_id,location_name,sub_population,vehicle,value_description,nutrient,value_mean,u5_applicable,wra_applicable
0,179,Ethiopia,NaN,maize flour,percent of population eating vehicle,na,59.263848,True,True
1,179,Ethiopia,NaN,maize flour,percent of population eating industrially prod...,na,27.167514,True,True
2,179,Ethiopia,NaN,maize flour,percent of population eating fortified vehicle,folic acid,0.000000,True,True
3,179,Ethiopia,NaN,maize flour,percent of population eating fortified vehicle,iron,0.000000,True,True
4,179,Ethiopia,NaN,maize flour,percent of population eating fortified vehicle,vitamin a,0.000000,True,True

In [6]:
df = df.rename(columns={'value_mean':'value_mean_b'})

In [7]:
idcols = ['location_id','location_name','sub_population','vehicle','value_description','nutrient','u5_applicable','wra_applicable']

In [16]:
check = df.merge(md, on = idcols, how = 'left')

In [20]:
check.loc[np.abs(check.value_mean - check.value_mean_b) > .1,idcols + ['value_mean','value_mean_b']]

,location_id,location_name,sub_population,vehicle,value_description,nutrient,u5_applicable,wra_applicable,value_mean,value_mean_b
29,214,Nigeria,NaN,maize flour,percent of population eating fortified vehicle,iron,True,True,5.453315,1.873227
90,196,South Africa,NaN,oil,percent of population eating fortified vehicle,vitamin a,True,True,34.013318,30.203728
91,196,South Africa,NaN,oil,percent of population eating industrially prod...,na,True,True,81.716956,58.513432
92,196,South Africa,NaN,oil,percent of population eating vehicle,na,True,True,99.014877,90.967018
112,201,Burkina Faso,NaN,oil,percent of population eating industrially prod...,na,True,True,51.975594,63.359728
...,...,...,...,...,...,...,...,...,...,...
329,522,Sudan,NaN,wheat flour,percent of population eating industrially prod...,na,True,True,35.365713,57.902255
330,522,Sudan,NaN,wheat flour,percent of population eating fortified vehicle,folic acid,True,True,1.760469,6.525113
331,522,Sudan,NaN,wheat flour,percent of population eating fortified vehicle,iron,True,True,1.760469,6.525113
332,522,Sudan,NaN,wheat flour,percent of population eating fortified vehicle,vitamin a,True,True,1.760469,6.525113
333,522,Sudan,NaN,wheat flour,percent of population eating fortified vehicle,zinc,True,True,1.760469,6.525113

In [22]:
check.loc[np.abs(check.value_mean - check.value_mean_b) > .1].estimation_status.value_counts()

regression        90
multiplicative     6
na                 3
Name: estimation_status, dtype: int64

In [23]:
check.loc[(check.estimation_status=="na") & (np.abs(check.value_mean - check.value_mean_b) > .1)]

,location_id,location_name,sub_population,vehicle,value_description,nutrient,value_mean_b,u5_applicable,wra_applicable,value_mean,estimation_status,source_citation,source_link,CI_source,data_choice_notes
113,201,Burkina Faso,total population,oil,percent of population eating fortified vehicle,vitamin a,51.083142,True,True,75.00,na,"Sablah M, Klopp J, Steinberg D, Touaoro Z, Lai...",https://pubmed.ncbi.nlm.nih.gov/23444712/,modeling,"Out of two numbers from the same source, disca..."
131,180,Kenya,total population,wheat flour,percent of population eating industrially prod...,na,36.720531,True,True,30.95,na,"Central Bureau of Statistics (Kenya), UK Depar...",NID 7375,modeling,Only one source.
191,205,Côte d'Ivoire,households with children <2 years old,wheat flour,percent of population eating industrially prod...,na,11.592952,True,True,10.20,na,"Grant J Aaron, Valerie M Friesen, Svenja Jungj...",https://doi.org/10.3945/jn.116.245753,extraction,Only one source