In [18]:
import pandas as pd, numpy as np

In [26]:
output_dir = '/ihme/homes/beatrixh/vivarium_research_lsff/data_prep/outputs/'

meta_old = pd.read_csv(output_dir + 'lsff_input_coverage_data_with_metadata.csv')
df_old = pd.read_csv(output_dir + 'lsff_input_coverage_data.csv')

meta_new = pd.read_csv(output_dir + 'test_lsff_input_coverage_data_with_metadata.csv')
df_new = pd.read_csv(output_dir + 'test_lsff_input_coverage_data.csv')

In [29]:
meta_old.columns

Index(['location_id', 'location_name', 'sub_population', 'vehicle',
       'value_description', 'nutrient', 'value_mean', 'value_025_percentile',
       'value_975_percentile', 'u5_applicable', 'wra_applicable',
       'estimation_status', 'source_citation', 'source_link', 'CI_source',
       'data_choice_notes'],
      dtype='object')

In [20]:
idcols = ['location_id','location_name','sub_population','vehicle','value_description','nutrient','u5_applicable','wra_applicable']

In [21]:
b427 = pd.read_csv('/ihme/homes/beatrixh/vivarium_research_lsff/data_prep/outputs/427b_lsff_input_coverage_data.csv')

In [22]:
b427.head()

,location_id,location_name,sub_population,vehicle,value_description,nutrient,value_mean,value_025_percentile,value_975_percentile,u5_applicable,wra_applicable
0,179,Ethiopia,NaN,maize flour,percent of population eating vehicle,na,59.263848,24.950317,93.577380,True,True
1,179,Ethiopia,NaN,maize flour,percent of population eating industrially prod...,na,27.167514,11.437632,42.897396,True,True
2,179,Ethiopia,NaN,maize flour,percent of population eating fortified vehicle,folic acid,0.000000,0.000000,0.000000,True,True
3,179,Ethiopia,NaN,maize flour,percent of population eating fortified vehicle,iron,0.000000,0.000000,0.000000,True,True
4,179,Ethiopia,NaN,maize flour,percent of population eating fortified vehicle,vitamin a,0.000000,0.000000,0.000000,True,True

In [ ]:
b427.merge(df_old, on )

In [23]:
compare = df_old.merge(b427, on = idcols, how = 'left')

In [24]:
compare.loc[np.abs(compare.value_mean_x - compare.value_mean_y) > .1].location_name.value_counts()

Series([], Name: location_name, dtype: int64)

In [14]:
compare.loc[
    (compare.location_name=="Côte d'Ivoire") &
    (np.abs(compare.value_mean_x - compare.value_mean_y) > .1),
    idcols + ['value_mean_x','value_mean_y']
]

,location_id,location_name,sub_population,vehicle,value_description,nutrient,u5_applicable,wra_applicable,value_mean_x,value_mean_y
182,205,Côte d'Ivoire,NaN,maize flour,percent of population eating industrially prod...,na,True,True,9.176518,5.387876
183,205,Côte d'Ivoire,NaN,maize flour,percent of population eating fortified vehicle,folic acid,True,True,6.764752,22.793768
184,205,Côte d'Ivoire,NaN,maize flour,percent of population eating fortified vehicle,iron,True,True,6.764752,22.793768
185,205,Côte d'Ivoire,NaN,maize flour,percent of population eating fortified vehicle,vitamin a,True,True,6.764752,22.793768
186,205,Côte d'Ivoire,NaN,maize flour,percent of population eating fortified vehicle,zinc,True,True,6.764752,22.793768
191,205,Côte d'Ivoire,households with children <2 years old,wheat flour,percent of population eating industrially prod...,na,True,True,11.592952,10.200000
192,205,Côte d'Ivoire,NaN,wheat flour,percent of population eating fortified vehicle,folic acid,True,True,0.000000,10.599703
193,205,Côte d'Ivoire,NaN,wheat flour,percent of population eating fortified vehicle,iron,True,True,10.298122,13.401500
194,205,Côte d'Ivoire,NaN,wheat flour,percent of population eating fortified vehicle,vitamin a,True,True,0.000000,10.599703

In [15]:
compare.loc[
    (compare.location_name=="Angola") &
    (np.abs(compare.value_mean_x - compare.value_mean_y) > .1),
    idcols + ['value_mean_x','value_mean_y']
]

,location_id,location_name,sub_population,vehicle,value_description,nutrient,u5_applicable,wra_applicable,value_mean_x,value_mean_y
236,168,Angola,NaN,maize flour,percent of population eating industrially prod...,na,True,True,10.695686,5.550861
237,168,Angola,NaN,maize flour,percent of population eating fortified vehicle,folic acid,True,True,7.651011,22.485675
238,168,Angola,NaN,maize flour,percent of population eating fortified vehicle,iron,True,True,7.654863,22.485675
239,168,Angola,NaN,maize flour,percent of population eating fortified vehicle,vitamin a,True,True,7.655085,22.485675
240,168,Angola,NaN,maize flour,percent of population eating fortified vehicle,zinc,True,True,7.661088,22.485675
242,168,Angola,NaN,oil,percent of population eating industrially prod...,na,True,True,39.102709,35.635430
243,168,Angola,NaN,oil,percent of population eating fortified vehicle,vitamin a,True,True,8.805705,42.655477
245,168,Angola,NaN,wheat flour,percent of population eating industrially prod...,na,True,True,26.261094,23.271861
246,168,Angola,NaN,wheat flour,percent of population eating fortified vehicle,folic acid,True,True,16.888381,20.670828
247,168,Angola,NaN,wheat flour,percent of population eating fortified vehicle,iron,True,True,16.888381,20.670828
248,168,Angola,NaN,wheat flour,percent of population eating fortified vehicle,vitamin a,True,True,16.888381,20.670828
249,168,Angola,NaN,wheat flour,percent of population eating fortified vehicle,zinc,True,True,16.888381,20.670828

In [11]:
compare.loc[np.abs(compare.value_mean_x - compare.value_mean_y) > 1].estimation_status.value_counts()

regression        84
multiplicative     6
na                 3
Name: estimation_status, dtype: int64

In [7]:
compare.loc[np.abs(compare.value_mean_x - compare.value_mean_y) > .1].sort_values(['location_name'])

,location_id,location_name,sub_population,vehicle,value_description,nutrient,value_mean_x,value_025_percentile_x,value_975_percentile_x,u5_applicable,wra_applicable,value_mean_y,value_025_percentile_y,value_975_percentile_y,estimation_status,source_citation,source_link,CI_source,data_choice_notes
246,168,Angola,NaN,wheat flour,percent of population eating fortified vehicle,folic acid,16.888381,8.309185,25.467577,True,True,20.670828,NaN,NaN,regression,NaN,NaN,modeling,NaN
238,168,Angola,NaN,maize flour,percent of population eating fortified vehicle,iron,7.654863,0.000000,15.068607,True,True,22.485675,NaN,NaN,regression,NaN,NaN,modeling,NaN
239,168,Angola,NaN,maize flour,percent of population eating fortified vehicle,vitamin a,7.655085,0.000000,15.049151,True,True,22.485675,NaN,NaN,regression,NaN,NaN,modeling,NaN
240,168,Angola,NaN,maize flour,percent of population eating fortified vehicle,zinc,7.661088,0.000000,15.094432,True,True,22.485675,NaN,NaN,regression,NaN,NaN,modeling,NaN
242,168,Angola,NaN,oil,percent of population eating industrially prod...,na,39.102709,36.377172,41.828246,True,True,35.635430,NaN,NaN,regression,NaN,NaN,modeling,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
329,522,Sudan,NaN,wheat flour,percent of population eating industrially prod...,na,57.902255,28.488257,87.316254,True,True,35.365713,NaN,NaN,regression,NaN,NaN,modeling,NaN
330,522,Sudan,NaN,wheat flour,percent of population eating fortified vehicle,folic acid,6.525113,3.210395,9.839831,True,True,1.760469,NaN,NaN,regression,NaN,NaN,modeling,NaN
331,522,Sudan,NaN,wheat flour,percent of population eating fortified vehicle,iron,6.525113,3.210395,9.839831,True,True,1.760469,NaN,NaN,regression,NaN,NaN,modeling,NaN
332,522,Sudan,NaN,wheat flour,percent of population eating fortified vehicle,vitamin a,6.525113,3.210395,9.839831,True,True,1.760469,NaN,NaN,regression,NaN,NaN,modeling,NaN
333,522,Sudan,NaN,wheat flour,percent of population eating fortified vehicle,zinc,6.525113,3.210395,9.839831,True,True,1.760469,NaN,NaN,regression,NaN,NaN,modeling,NaN