In [1]:
import pandas as pd, numpy as np

# LSFF: Generate data summary tables by value_description

In [5]:
## read in data
path = '/ihme/homes/beatrixh/notebooks/viv_rsc/new_lsff/outputs/data_counts_full.csv'
data_counts_all = pd.read_csv(path)

## save data summaries

In [6]:
save_dir = '/ihme/homes/beatrixh/notebooks/viv_rsc/new_lsff/outputs/'

## eating fortified vehicle

In [9]:
eating_fortified = data_counts_all[data_counts_all.value_description=="percent of population eating fortified vehicle"]
eating_fortified.to_csv(save_dir + '/data_summary_percent_of_population_eating_fortified_vehicle.csv')

## eating industrially produced vehicle

In [12]:
eating_ind_prod = data_counts_all[data_counts_all.value_description=="percent of population eating industrially produced vehicle"]
eating_ind_prod.to_csv(save_dir + '/data_summary_percent_of_population_eating_industrially_prod_vehicle.csv')

## eating vehicle

In [20]:
eating_vehicle = data_counts_all[data_counts_all.value_description=="percent of population eating vehicle"]

#subset NAs to only those countries-vehicles where we don't have
#(% of population eating fortified) & (% eating industrially produced)

In [21]:
data_counts_wide = pd.pivot_table(data_counts_all, index = ['location_name','vehicle','nutrient'], columns = 'value_description', values = 'n_data_points')
data_counts_wide = data_counts_wide.reset_index()

In [22]:
data_counts_wide['needs_pct_pop_eating_vehicle'] = data_counts_wide[['percent of population eating industrially produced vehicle','percent of population eating fortified vehicle']].sum(axis=1)

In [23]:
# find vehicle-country pairs for which any datapoint is missing (min count of datapoints == 0)
needs_pct_pop_eating_vehicle = data_counts_wide.groupby(['location_name','vehicle']).needs_pct_pop_eating_vehicle.min().reset_index()

In [24]:
needs_pct_pop_eating_vehicle = needs_pct_pop_eating_vehicle.loc[needs_pct_pop_eating_vehicle.needs_pct_pop_eating_vehicle==0,['location_name','vehicle']]

In [25]:
eating_vehicle = eating_vehicle.merge(needs_pct_pop_eating_vehicle, on = ['location_name','vehicle'], how = 'right')
eating_vehicle

,location_name,vehicle,nutrient,value_description,n_data_points,mean_mean,value_means
0,Angola,maize flour,na,percent of population eating vehicle,0,NaN,[nan]
1,Angola,oil,na,percent of population eating vehicle,0,NaN,[nan]
2,Angola,wheat flour,na,percent of population eating vehicle,0,NaN,[nan]
3,Bangladesh,oil,na,percent of population eating vehicle,10,80.78,"[95.0, 89.0, 75.0, 95.0, 51.0, 59.0, 68.0, 76...."
4,Bangladesh,wheat flour,na,percent of population eating vehicle,12,62.35,"[40.0, 68.0, 63.0, 59.0, 70.0, 70.0, 77.0, 65...."
...,...,...,...,...,...,...,...
67,Sudan,maize flour,na,percent of population eating vehicle,0,NaN,[nan]
68,Sudan,oil,na,percent of population eating vehicle,0,NaN,[nan]
69,Sudan,wheat flour,na,percent of population eating vehicle,0,NaN,[nan]
70,Vietnam,oil,na,percent of population eating vehicle,10,54.50,"[91.5, 89.4, 38.3, 45.8, 28.9, 38.3, 41.5, 43...."
71,Vietnam,wheat flour,na,percent of population eating vehicle,10,21.93,"[4.2, 38.8, 46.7, 31.1, 16.4, 17.5, 9.6, 22.7,..."

In [26]:
eating_vehicle.to_csv(save_dir + '/data_summary_percent_of_population_eating_vehicle.csv')

## pct vehicle that is industrially produced

In [27]:
vehicle_ind_prod = data_counts_all[data_counts_all.value_description=="percent of vehicle that is industrially produced"]

In [28]:
vehicle_ind_prod = vehicle_ind_prod.merge(eating_ind_prod.loc[eating_ind_prod.n_data_points==0,['location_name','vehicle']], 
                       on = ['location_name','vehicle'], 
                       how = 'right')

In [29]:
vehicle_ind_prod.to_csv(save_dir + '/data_summary_percent_of_vehicle_industrially_produced.csv')

## pct vehicle fortified

In [30]:
vehicle_fortified = data_counts_all[data_counts_all.value_description=="percent of vehicle that is fortified"]
# eating_fortified.to_csv(save_dir + '/data_summary_percent_of_population_eating_fortified_vehicle.csv')

In [31]:
vehicle_fortified = vehicle_fortified.merge(eating_fortified.loc[eating_fortified.n_data_points==0,['location_name','vehicle','nutrient']],
                                           on = ['location_name','vehicle','nutrient'],
                                           how = 'right')

In [32]:
vehicle_fortified.to_csv(save_dir + '/data_summary_percent_of_vehicle_fortified.csv')

In [33]:
vehicle_fortified.head()

,location_name,vehicle,nutrient,value_description,n_data_points,mean_mean,value_means
0,Angola,maize flour,folic acid,percent of vehicle that is fortified,0,NaN,[nan]
1,Angola,maize flour,iron,percent of vehicle that is fortified,0,NaN,[nan]
2,Angola,maize flour,vitamin a,percent of vehicle that is fortified,0,NaN,[nan]
3,Angola,maize flour,vitamin b1,percent of vehicle that is fortified,0,NaN,[nan]
4,Angola,maize flour,vitamin b12,percent of vehicle that is fortified,0,NaN,[nan]