In [1]:
import pandas as pd, numpy as np

In [2]:
ls /ihme/homes/beatrixh/vivarium_research_lsff/data_prep/outputs/ | grep gday

gday_data_assumptions_nigeria_ethiopia_india.xlsx
~$gday_data_assumptions_tier2.xlsx
gday_data_assumptions_tier2.xlsx
gday_nigeria_ethiopia_india_02_23_2021.csv
gday_nigeria_ethiopia_india_02_24_2021.csv
gday_tier2_03_16_2021.csv
gday_tier2_04_02_2021.csv
gday_tier3_03_23_2021.csv
gday_tier3_04_01_2021.csv
gday_tier3_04_02_2021.csv
gday_tier4_03_29_2021.csv
gday_tier4_04_02_2021.csv
gday_tier5_04_02_2021.csv
lsff_gday_data.csv
lsff_gday_data_w_metadata.csv

In [3]:
# Concat all gday data

In [4]:
outputs_dir = '/ihme/homes/beatrixh/vivarium_research_lsff/data_prep/outputs/'

t1_path = outputs_dir + 'gday_nigeria_ethiopia_india_02_24_2021.csv'
t2_path = outputs_dir + 'gday_tier2_04_02_2021.csv'
t3_path = outputs_dir + 'gday_tier3_04_02_2021.csv'
t4_path = outputs_dir + 'gday_tier4_04_02_2021.csv'
t5_path = outputs_dir + 'gday_tier5_04_02_2021.csv'


df = pd.concat([pd.read_csv(path) for path in [t1_path, t2_path, t3_path, t4_path, t5_path]])

/ihme/homes/beatrixh/.local/lib/python3.7/site-packages/ipykernel_launcher.py:10: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  # Remove the CWD from sys.path while we load stuff.

In [5]:
df = df.drop(columns = 'Unnamed: 0')

In [6]:
df[['location_id','location_name']].sort_values(by = 'location_name').drop_duplicates()

    location_id                     location_name
1           168                            Angola
0           161                        Bangladesh
1           201                      Burkina Faso
0           202                          Cameroon
2             6                             China
3           205                     Côte d'Ivoire
4           171  Democratic Republic of the Congo
4           141                             Egypt
3           179                          Ethiopia
5           207                             Ghana
2           163                             India
6            11                         Indonesia
2           180                             Kenya
7           181                        Madagascar
8           184                        Mozambique
5            15                           Myanmar
6           164                             Nepal
10          213                             Niger
6           214                           Nigeria
1           165                          Pakistan
6           196                      South Africa
11          522                             Sudan
4           190                            Uganda
2           189       United Republic of Tanzania
7            20                          Viet Nam

In [7]:
df.sort_values('location_name').location_name.unique()

array(['Angola', 'Bangladesh', 'Burkina Faso', 'Cameroon', 'China',
       "Côte d'Ivoire", 'Democratic Republic of the Congo', 'Egypt',
       'Ethiopia', 'Ghana', 'India', 'Indonesia', 'Kenya', 'Madagascar',
       'Mozambique', 'Myanmar', 'Nepal', 'Niger', 'Nigeria', 'Pakistan',
       'South Africa', 'Sudan', 'Uganda', 'United Republic of Tanzania',
       'Viet Nam'], dtype=object)

In [8]:
df.loc[(df.location_name=="Vietnam"),'location_name'] = "Viet Nam"

In [9]:
assert(len(df[(df.mass_unit.isna())])==0)

In [10]:
for col in ['location_id', 'location_name', 'sub_population', 'vehicle', 'metric',
       'mass_unit', 'time_unit', 'pop_denom', 'value_mean', 'lower', 'upper']:
    if len(df[(df[col].isna())])>0:
        print(f"Check {col} for NAs")

In [11]:
# early deliverable
df = df[(df.vehicle.isin(['wheat flour','maize flour','oil']))]

In [12]:
assert(len(df[df.value_mean >= df.upper])==0), "check upper"
assert(len(df[df.value_mean <= df.lower])==0), "check lower"

In [13]:
df[df.value_mean >= df.upper]

Empty DataFrame
Columns: [data_choice_notes, location_id, location_name, lower, mass_unit, mean_value_source_citation, mean_value_source_link, metric, pop_denom, sub_population, time_unit, upper, value_mean, vehicle]
Index: []

In [14]:
df[df.value_mean <= df.lower]

Empty DataFrame
Columns: [data_choice_notes, location_id, location_name, lower, mass_unit, mean_value_source_citation, mean_value_source_link, metric, pop_denom, sub_population, time_unit, upper, value_mean, vehicle]
Index: []

In [15]:
save_path = '/ihme/homes/beatrixh/vivarium_research_lsff/data_prep/outputs/lsff_gday_data.csv'
save_metadata_path = '/ihme/homes/beatrixh/vivarium_research_lsff/data_prep/outputs/lsff_gday_data_w_metadata.csv'

In [16]:
df[['location_id', 'location_name', 'sub_population', 'vehicle', 'metric',
       'mass_unit', 'time_unit', 'pop_denom', 'value_mean', 'lower', 'upper']].to_csv(save_path, index = False)

df.to_csv(save_metadata_path, index = False)