In [1]:
import pandas as pd, numpy as np

In [4]:
ls /ihme/homes/beatrixh/vivarium_research_lsff/data_prep/outputs/ | grep gday

gday_data_assumptions_nigeria_ethiopia_india.xlsx
gday_data_assumptions_tier2.xlsx
gday_nigeria_ethiopia_india_02_23_2021.csv
gday_nigeria_ethiopia_india_02_24_2021.csv
gday_tier2_03_16_2021.csv
gday_tier3_03_23_2021.csv
gday_tier4_03_29_2021.csv
~$gday_data_assumptions_tier2.xlsx

In [8]:
outputs_dir = '/ihme/homes/beatrixh/vivarium_research_lsff/data_prep/outputs/'

t1_path = outputs_dir + 'gday_nigeria_ethiopia_india_02_24_2021.csv'
t2_path = outputs_dir + 'gday_tier2_03_16_2021.csv'
t3_path = outputs_dir + 'gday_tier3_03_23_2021.csv'
t4_path = outputs_dir + 'gday_tier4_03_29_2021.csv'


df = pd.concat([pd.read_csv(path) for path in [t1_path, t2_path, t3_path, t4_path]])

In [11]:
df = df.drop(columns = 'Unnamed: 0')

In [12]:
save_path = '/ihme/homes/beatrixh/vivarium_research_lsff/data_prep/outputs/lsff_gday_data.csv'
save_metadata_path = '/ihme/homes/beatrixh/vivarium_research_lsff/data_prep/outputs/lsff_gday_data_w_metadata.csv'

In [15]:
df[['location_id', 'location_name', 'sub_population', 'vehicle', 'metric',
       'mass_unit', 'time_unit', 'pop_denom', 'value_mean', 'lower', 'upper']].to_csv(save_path, index = F)

,location_id,location_name,sub_population,vehicle,metric,mass_unit,time_unit,pop_denom,value_mean,lower,upper
0,163,India,total population,rice,mean,g,day,capita,282.770000,170.800111,394.739889
1,163,India,total population,salt,mean,g,day,consumers,9.500000,5.738236,13.261764
2,163,India,total population,wheat flour,mean,g,day,capita,169.620000,113.134860,226.105140
3,179,Ethiopia,total population,maize flour,mean,g,day,capita,113.840000,68.762191,158.917809
4,179,Ethiopia,total population,salt,mean,g,day,capita,5.800000,3.503344,8.096656
5,179,Ethiopia,total population,wheat flour,mean,g,day,capita,97.640000,65.124913,130.155087
6,214,Nigeria,total population,maize flour,mean,g,day,capita,95.100000,57.442765,132.757235
7,214,Nigeria,total population,salt,mean,g,day,consumers,7.200000,4.348979,10.051021
8,214,Nigeria,total population,wheat flour,mean,g,day,capita,49.150000,32.782563,65.517437
9,214,Nigeria,women of reproductive age,bouillon,mean,g,day,consumers,2.668675,2.743522,7.256478
10,214,Nigeria,women of reproductive age,rice,mean,g,day,consumers,91.367479,106.912401,247.087599
0,161,Bangladesh,women of reproductive age,wheat flour,mean,g,day,capita,77.900000,51.958528,103.841472
1,165,Pakistan,women of reproductive age,wheat flour,mean,g,day,capita,86.175260,198.696349,397.103651
2,189,United Republic of Tanzania,total population,maize flour,mean,g,day,capita,172.470000,102.944854,241.995146
3,189,United Republic of Tanzania,total population,wheat flour,mean,g,day,capita,32.960000,21.983994,43.936006
4,190,Uganda,total population,maize flour,mean,g,day,capita,126.300000,75.386647,177.213353
5,190,Uganda,total population,wheat flour,mean,g,day,capita,30.270000,20.189790,40.350210
6,196,South Africa,total population,maize flour,mean,g,day,capita,283.290000,169.091713,397.488287
7,196,South Africa,total population,wheat flour,mean,g,day,capita,156.360000,104.290571,208.429429
0,201,Burkina Faso,total population,maize flour,mean,g,day,capita,210.990000,124.538596,297.441404
1,201,Burkina Faso,total population,wheat flour,mean,g,day,capita,37.640000,24.468022,50.811978
2,180,Kenya,total population,maize flour,mean,g,day,capita,216.680000,127.897166,305.462834
3,180,Kenya,total population,wheat flour,mean,g,day,capita,100.110000,65.076877,135.143123
4,15,Myanmar,women of reproductive age,maize flour,mean,g,day,capita,12.383562,2.667967,6.372033
5,15,Myanmar,total population,wheat flour,mean,g,day,capita,29.920000,19.449607,40.390393
6,164,Nepal,total population,wheat flour,mean,g,day,NaN,5.700000,3.705306,7.694694
7,20,Vietnam,total population,wheat flour,mean,g,day,capita,30.360000,19.735631,40.984369
0,202,Cameroon,total population,maize flour,mean,g,day,capita,139.340000,82.246590,196.433410
1,202,Cameroon,women of reproductive age,wheat flour,NaN,g,day,consumers,79.000000,51.354243,106.645757
2,205,Côte d'Ivoire,total population,maize flour,mean,g,day,capita,43.900000,25.912339,61.887661
3,205,Côte d'Ivoire,total population,wheat flour,mean,g,day,capita,70.080000,45.555764,94.604236
4,171,Democratic Republic of the Congo,total population,maize flour,mean,g,day,capita,60.800000,35.887704,85.712296
5,171,Democratic Republic of the Congo,total population,wheat flour,mean,g,day,capita,34.000000,22.101826,45.898174
6,11,Indonesia,total population,wheat flour,mean,g,day,capita,73.590000,47.837452,99.342548
7,184,Mozambique,total population,maize flour,mean,g,day,capita,180.600000,106.600647,254.599353
8,184,Mozambique,total population,wheat flour,mean,g,day,capita,65.920000,42.851540,88.988460