In [1]:
import pandas as pd, numpy as np
from tqdm import tqdm

import data_processing
import lbwsg_boe
# import lbwsg
# import lsff_interventions
# import demography

!date
!whoami
!pwd

Fri Apr  9 02:30:43 PDT 2021
ndbs
/ihme/homes/ndbs/vivarium_research_lsff/nanosim_models

In [2]:
vivarium_research_lsff_path = '/ihme/homes/ndbs/vivarium_research_lsff'

/ihme/homes/ndbs/miniconda3/envs/lsff-iron-38/lib/python3.8/site-packages/ipykernel/ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

In [3]:
!ls results/

Angola_parallel.txt
Bangladesh_parallel.txt
Burkina Faso_parallel.txt
Cameroon_parallel.txt
China_parallel.txt
Côte d'Ivoire_parallel.txt
Democratic Republic of the Congo_parallel.txt
Egypt_parallel.txt
Ethiopia_parallel.txt
Ghana_parallel.txt
India_parallel.txt
Indonesia_parallel.txt
iron_bw_results__Angola.csv
iron_bw_results__Bangladesh.csv
iron_bw_results__Burkina Faso.csv
iron_bw_results__Cameroon.csv
iron_bw_results__China.csv
iron_bw_results__Côte d'Ivoire.csv
iron_bw_results__Democratic Republic of the Congo.csv
iron_bw_results__Egypt.csv
iron_bw_results__Ethiopia.csv
iron_bw_results__Ghana.csv
iron_bw_results__India.csv
iron_bw_results__Indonesia.csv
iron_bw_results__Kenya.csv
iron_bw_results_location_id_214.csv
Kenya_parallel.txt

In [4]:
%load_ext autoreload
%autoreload 2

In [5]:
locations = pd.read_csv('../gbd_data_summary/input_data/bmgf_top_25_countries_20201203.csv')
location_ids = locations.location_id.to_list()
locations

                       location_name  location_id
0                             Angola          168
1                         Bangladesh          161
2                       Burkina Faso          201
3                           Cameroon          202
4                              China            6
5                      Côte d'Ivoire          205
6   Democratic Republic of the Congo          171
7                              Egypt          141
8                           Ethiopia          179
9                              Ghana          207
10                             India          163
11                         Indonesia           11
12                             Kenya          180
13                        Madagascar          181
14                        Mozambique          184
15                           Myanmar           15
16                             Nepal          164
17                             Niger          213
18                           Nigeria          214
19                          Pakistan          165
20                      South Africa          196
21                             Sudan          522
22                            Uganda          190
23       United Republic of Tanzania          189
24                          Viet Nam           20

In [ ]:
%%time
for location in tqdm(locations.iloc[0:13, 0]):
    print(location)
    lbwsg_boe.main(
    vivarium_research_lsff_path,
    "results",
    location, 80_000, random_seed=3456, num_draws=250, take_mean=False
    )
!ls results/

/ihme/homes/ndbs/miniconda3/envs/lsff-iron-38/lib/python3.8/site-packages/ipykernel/ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)
  0%|          | 0/13 [00:00<?, ?it/s]

Angola

/ihme/homes/ndbs/miniconda3/envs/lsff-iron-38/lib/python3.8/site-packages/tables/atom.py:1224: DeprecationWarning: tostring() is deprecated. Use tobytes() instead.
  return pickle.loads(array.tostring())
  8%|▊         | 1/13 [6:04:36<72:55:22, 21876.90s/it]

Bangladesh

/ihme/homes/ndbs/miniconda3/envs/lsff-iron-38/lib/python3.8/site-packages/tables/atom.py:1224: DeprecationWarning: tostring() is deprecated. Use tobytes() instead.
  return pickle.loads(array.tostring())
 15%|█▌        | 2/13 [8:19:32<42:04:33, 13770.33s/it]

Burkina Faso

/ihme/homes/ndbs/miniconda3/envs/lsff-iron-38/lib/python3.8/site-packages/tables/atom.py:1224: DeprecationWarning: tostring() is deprecated. Use tobytes() instead.
  return pickle.loads(array.tostring())