In [1]:
from functions_for_all_nutrients import *
from iron_hemoglobin_functions import *
import matplotlib.backends.backend_pdf
from matplotlib.backends.backend_pdf import PdfPages

In [2]:
username = !whoami
username

['alibow']

In [3]:
index_cols=['location_id','sex_id','age_group_id']

age_group_ids = [2,3,4,5]
sex_ids = [1,2]
coverage_levels = [0.2,0.5,0.8]
years = [2021,2025]

In [4]:
coverage_data_dir = f'/ihme/homes/{username[0]}/notebooks/vivarium_research_lsff/data_prep/outputs/lsff_input_coverage_data.csv'

In [5]:
location_ids = (list(
                pd.read_csv(coverage_data_dir)
                .location_id
                .unique()))
location_ids

[179,
 163,
 214,
 161,
 165,
 190,
 189,
 196,
 201,
 180,
 15,
 164,
 20,
 202,
 205,
 171,
 11,
 184,
 168,
 6,
 141,
 207,
 181,
 213,
 522]

In [6]:
nutrient = 'iron'
vehicles = ['wheat flour','maize flour']
effective_fractions = [0, 
                       0, 
                       0.1666666667, 
                       0.9166666667]

In [7]:
baseline_coverage, counterfactual_coverage = get_baseline_and_counterfactual_coverage(coverage_data_dir,
                                             location_ids,
                                             nutrient,
                                             vehicles,
                                             years,
                                             coverage_levels, 'U5')
counterfactual_coverage.head()

Excluded location IDs [] due to missing data
Excluded [11]/iron/wheat flour due to impossible logical values
Excluded location IDs [] due to missing data

,coverage_level,draw_0,draw_1,draw_10,draw_100,draw_101,draw_102,draw_103,draw_104,draw_105,...,draw_993,draw_994,draw_995,draw_996,draw_997,draw_998,draw_999,location_id,vehicle,year
0,0.2,0.048558,0.040897,0.057464,0.055794,0.078894,0.069322,0.066442,0.074779,0.040128,...,0.060894,0.038659,0.063932,0.084612,0.040307,0.073570,0.062551,6,wheat flour,2021
1,0.5,0.048558,0.040897,0.057464,0.055794,0.078894,0.069322,0.066442,0.074779,0.040128,...,0.060894,0.038659,0.063932,0.084612,0.040307,0.073570,0.062551,6,wheat flour,2021
2,0.8,0.048558,0.040897,0.057464,0.055794,0.078894,0.069322,0.066442,0.074779,0.040128,...,0.060894,0.038659,0.063932,0.084612,0.040307,0.073570,0.062551,6,wheat flour,2021
3,0.2,0.120739,0.101692,0.142882,0.138732,0.196147,0.172361,0.165201,0.185922,0.099780,...,0.151410,0.096126,0.158963,0.210341,0.100224,0.182919,0.155529,6,wheat flour,2025
4,0.5,0.229011,0.192883,0.271010,0.263139,0.372025,0.326920,0.313341,0.352636,0.189257,...,0.287184,0.182327,0.301509,0.398936,0.190100,0.346941,0.294997,6,wheat flour,2025

# HEMOGLOBIN

In [8]:
from scipy.stats import norm

# mean and 0.975-quantile of normal distribution for mean difference (MD)
mean = 3
q_975 = 6.1

# 0.975-quantile of standard normal distribution (=1.96, approximately)
q_975_stdnorm = norm().ppf(0.975)

std = (q_975 - mean) / q_975_stdnorm # std dev of normal distribution

# Frozen normal distribution for MD, representing uncertainty in our effect size
hb_md_distribution = norm(mean, std)

In [9]:
mean_difference_hemoglobin_fort = generate_normal_rr_deficiency_nofort_draws(mean, std, location_ids)
mean_difference_hemoglobin_fort.head()

draws,draw_0,draw_1,draw_10,draw_100,draw_101,draw_102,draw_103,draw_104,draw_105,draw_106,...,draw_990,draw_991,draw_992,draw_993,draw_994,draw_995,draw_996,draw_997,draw_998,draw_999
location_id,,,,,,,,,,,,,,,,,,,,,
179,5.67384,2.263045,2.010783,1.632669,3.592127,3.619293,0.71747,3.769218,2.099288,5.25659,...,2.68253,2.315703,4.976409,5.670455,1.949907,3.061148,3.881265,2.227427,2.005891,1.92852
163,5.67384,2.263045,2.010783,1.632669,3.592127,3.619293,0.71747,3.769218,2.099288,5.25659,...,2.68253,2.315703,4.976409,5.670455,1.949907,3.061148,3.881265,2.227427,2.005891,1.92852
214,5.67384,2.263045,2.010783,1.632669,3.592127,3.619293,0.71747,3.769218,2.099288,5.25659,...,2.68253,2.315703,4.976409,5.670455,1.949907,3.061148,3.881265,2.227427,2.005891,1.92852
161,5.67384,2.263045,2.010783,1.632669,3.592127,3.619293,0.71747,3.769218,2.099288,5.25659,...,2.68253,2.315703,4.976409,5.670455,1.949907,3.061148,3.881265,2.227427,2.005891,1.92852
165,5.67384,2.263045,2.010783,1.632669,3.592127,3.619293,0.71747,3.769218,2.099288,5.25659,...,2.68253,2.315703,4.976409,5.670455,1.949907,3.061148,3.881265,2.227427,2.005891,1.92852

In [10]:
effective_baseline_coverage = get_effective_iron_hemoglobin_coverage(baseline_coverage.set_index(['location_id','vehicle','year']), 
                                                                     sex_ids, 
                                                                     age_group_ids, 
                                                                     effective_fractions, 
                                                                     years)

effective_counterfactual_coverage = get_effective_iron_hemoglobin_coverage(counterfactual_coverage.set_index(['location_id','vehicle','year','coverage_level']), 
                                                                     sex_ids, 
                                                                     age_group_ids, 
                                                                     effective_fractions, 
                                                                     years)

delta_effective_coverage = effective_counterfactual_coverage - effective_baseline_coverage
delta_effective_coverage

NOTE: not currently applying time lag effect.
NOTE: not currently applying time lag effect.

                                                                   draw_0  \
location_id sex_id age_group_id vehicle     year coverage_level
6           1      2            wheat flour 2021 0.2             0.000000
                                                 0.5             0.000000
                                                 0.8             0.000000
                                            2025 0.2             0.000000
                                                 0.5             0.000000
...                                                                   ...
522         2      5            wheat flour 2021 0.5             0.000000
                                                 0.8             0.000000
                                            2025 0.2             0.064429
                                                 0.5             0.161073
                                                 0.8             0.257716

                                                                   draw_1  \
location_id sex_id age_group_id vehicle     year coverage_level
6           1      2            wheat flour 2021 0.2             0.000000
                                                 0.5             0.000000
                                                 0.8             0.000000
                                            2025 0.2             0.000000
                                                 0.5             0.000000
...                                                                   ...
522         2      5            wheat flour 2021 0.5             0.000000
                                                 0.8             0.000000
                                            2025 0.2             0.097893
                                                 0.5             0.244731
                                                 0.8             0.391570

                                                                  draw_10  \
location_id sex_id age_group_id vehicle     year coverage_level
6           1      2            wheat flour 2021 0.2             0.000000
                                                 0.5             0.000000
                                                 0.8             0.000000
                                            2025 0.2             0.000000
                                                 0.5             0.000000
...                                                                   ...
522         2      5            wheat flour 2021 0.5             0.000000
                                                 0.8             0.000000
                                            2025 0.2             0.082348
                                                 0.5             0.205871
                                                 0.8             0.329393

                                                                 draw_100  \
location_id sex_id age_group_id vehicle     year coverage_level
6           1      2            wheat flour 2021 0.2             0.000000
                                                 0.5             0.000000
                                                 0.8             0.000000
                                            2025 0.2             0.000000
                                                 0.5             0.000000
...                                                                   ...
522         2      5            wheat flour 2021 0.5             0.000000
                                                 0.8             0.000000
                                            2025 0.2             0.107507
                                                 0.5             0.268767
                                                 0.8             0.430028

                                                                 draw_101  \
location_id sex_id age_group_id vehicle     year coverage_level
6           1      2            wheat flour 2021 0.2             0.000000
                                                 0.5             0.000000
                                                 0.8             0.000000
                                            2025 0.2             0.000000
                                                 0.5             0.000000
...                                                                   ...
522         2      5            wheat flour 2021 0.5             0.000000
                                                 0.8             0.000000
                                            2025 0.2             0.128118
                                                 0.5             0.320294
                                                 0.8             0.512470

                                                                 draw_102  \
location_id sex_id age_group_id vehicle     year coverage_level
6           1      2            wheat flour 2021 0.2             0.000000
                                                 0.5             0.000000
                                                 0.8             0.000000
                                            2025 0.2             0.000000
                                                 0.5             0.000000
...                                                                   ...
522         2      5            wheat flour 2021 0.5             0.000000
                                                 0.8             0.000000
                                            2025 0.2             0.105679
                                                 0.5             0.264198
                                                 0.8             0.422717

                                                                 draw_103  \
location_id sex_id age_group_id vehicle     year coverage_level
6           1      2            wheat flour 2021 0.2             0.000000
                                                 0.5             0.000000
                                                 0.8             0.000000
                                            2025 0.2             0.000000
                                                 0.5             0.000000
...                                                                   ...
522         2      5            wheat flour 2021 0.5             0.000000
                                                 0.8             0.000000
                                            2025 0.2             0.103214
                                                 0.5             0.258036
                                                 0.8             0.412858

                                                                 draw_104  \
location_id sex_id age_group_id vehicle     year coverage_level
6           1      2            wheat flour 2021 0.2             0.000000
                                                 0.5             0.000000
                                                 0.8             0.000000
                                            2025 0.2             0.000000
                                                 0.5             0.000000
...                                                                   ...
522         2      5            wheat flour 2021 0.5             0.000000
                                                 0.8             0.000000
                                            2025 0.2             0.076059
                                                 0.5             0.190148
                                                 0.8             0.304237

                                                                 draw_105  \
location_id sex_id age_group_id vehicle     year coverage_level
6           1      2            wheat flour 2021 0.2             0.000000
                                                 0.5             0.000000
                                                 0.8             0.000000
                                            2025 0.2             0.000000
                                                 0.5             0.000000
...                                                                   ...
522         2      5            wheat flour 2021 0.5             0.000000
                                                 0.8             0.000000
                                            2025 0.2             0.133869
                                                 0.5             0.334673
                                                 0.8             0.535476

                                                                 draw_106  \
location_id sex_id age_group_id vehicle     year coverage_level
6           1      2            wheat flour 2021 0.2             0.000000
                                                 0.5             0.000000
                                                 0.8             0.000000
                                            2025 0.2             0.000000
                                                 0.5             0.000000
...                                                                   ...
522         2      5            wheat flour 2021 0.5             0.000000
                                                 0.8             0.000000
                                            2025 0.2             0.104487
                                                 0.5             0.261217
                                                 0.8             0.417948

                                                                 ...  \
location_id sex_id age_group_id vehicle     year coverage_level  ...
6           1      2            wheat flour 2021 0.2             ...
                                                 0.5             ...
                                                 0.8             ...
                                            2025 0.2             ...
                                                 0.5             ...
...                                                              ...
522         2      5            wheat flour 2021 0.5             ...
                                                 0.8             ...
                                            2025 0.2             ...
                                                 0.5             ...
                                                 0.8             ...

                                                                 draw_990  \
location_id sex_id age_group_id vehicle     year coverage_level
6           1      2            wheat flour 2021 0.2             0.000000
                                                 0.5             0.000000
                                                 0.8             0.000000
                                            2025 0.2             0.000000
                                                 0.5             0.000000
...                                                                   ...
522         2      5            wheat flour 2021 0.5             0.000000
                                                 0.8             0.000000
                                            2025 0.2             0.093467
                                                 0.5             0.233668
                                                 0.8             0.373869

                                                                 draw_991  \
location_id sex_id age_group_id vehicle     year coverage_level
6           1      2            wheat flour 2021 0.2             0.000000
                                                 0.5             0.000000
                                                 0.8             0.000000
                                            2025 0.2             0.000000
                                                 0.5             0.000000
...                                                                   ...
522         2      5            wheat flour 2021 0.5             0.000000
                                                 0.8             0.000000
                                            2025 0.2             0.073777
                                                 0.5             0.184441
                                                 0.8             0.295106

                                                                 draw_992  \
location_id sex_id age_group_id vehicle     year coverage_level
6           1      2            wheat flour 2021 0.2             0.000000
                                                 0.5             0.000000
                                                 0.8             0.000000
                                            2025 0.2             0.000000
                                                 0.5             0.000000
...                                                                   ...
522         2      5            wheat flour 2021 0.5             0.000000
                                                 0.8             0.000000
                                            2025 0.2             0.064886
                                                 0.5             0.162215
                                                 0.8             0.259544

                                                                 draw_993  \
location_id sex_id age_group_id vehicle     year coverage_level
6           1      2            wheat flour 2021 0.2             0.000000
                                                 0.5             0.000000
                                                 0.8             0.000000
                                            2025 0.2             0.000000
                                                 0.5             0.000000
...                                                                   ...
522         2      5            wheat flour 2021 0.5             0.000000
                                                 0.8             0.000000
                                            2025 0.2             0.068923
                                                 0.5             0.172307
                                                 0.8             0.275691

                                                                 draw_994  \
location_id sex_id age_group_id vehicle     year coverage_level
6           1      2            wheat flour 2021 0.2             0.000000
                                                 0.5             0.000000
                                                 0.8             0.000000
                                            2025 0.2             0.000000
                                                 0.5             0.000000
...                                                                   ...
522         2      5            wheat flour 2021 0.5             0.000000
                                                 0.8             0.000000
                                            2025 0.2             0.133684
                                                 0.5             0.334211
                                                 0.8             0.534738

                                                                 draw_995  \
location_id sex_id age_group_id vehicle     year coverage_level
6           1      2            wheat flour 2021 0.2             0.000000
                                                 0.5             0.000000
                                                 0.8             0.000000
                                            2025 0.2             0.000000
                                                 0.5             0.000000
...                                                                   ...
522         2      5            wheat flour 2021 0.5             0.000000
                                                 0.8             0.000000
                                            2025 0.2             0.089962
                                                 0.5             0.224905
                                                 0.8             0.359849

                                                                 draw_996  \
location_id sex_id age_group_id vehicle     year coverage_level
6           1      2            wheat flour 2021 0.2             0.000000
                                                 0.5             0.000000
                                                 0.8             0.000000
                                            2025 0.2             0.000000
                                                 0.5             0.000000
...                                                                   ...
522         2      5            wheat flour 2021 0.5             0.000000
                                                 0.8             0.000000
                                            2025 0.2             0.114167
                                                 0.5             0.285417
                                                 0.8             0.456667

                                                                 draw_997  \
location_id sex_id age_group_id vehicle     year coverage_level
6           1      2            wheat flour 2021 0.2             0.000000
                                                 0.5             0.000000
                                                 0.8             0.000000
                                            2025 0.2             0.000000
                                                 0.5             0.000000
...                                                                   ...
522         2      5            wheat flour 2021 0.5             0.000000
                                                 0.8             0.000000
                                            2025 0.2             0.123985
                                                 0.5             0.309962
                                                 0.8             0.495939

                                                                 draw_998  \
location_id sex_id age_group_id vehicle     year coverage_level
6           1      2            wheat flour 2021 0.2             0.000000
                                                 0.5             0.000000
                                                 0.8             0.000000
                                            2025 0.2             0.000000
                                                 0.5             0.000000
...                                                                   ...
522         2      5            wheat flour 2021 0.5             0.000000
                                                 0.8             0.000000
                                            2025 0.2             0.114043
                                                 0.5             0.285108
                                                 0.8             0.456172

                                                                 draw_999
location_id sex_id age_group_id vehicle     year coverage_level
6           1      2            wheat flour 2021 0.2             0.000000
                                                 0.5             0.000000
                                                 0.8             0.000000
                                            2025 0.2             0.000000
                                                 0.5             0.000000
...                                                                   ...
522         2      5            wheat flour 2021 0.5             0.000000
                                                 0.8             0.000000
                                            2025 0.2             0.056117
                                                 0.5             0.140292

In [11]:
mean_hgb = generate_hemoglobin_values(delta_effective_coverage, 
                                      mean_difference_hemoglobin_fort,
                                      location_ids, age_group_ids, sex_ids)

mean_hgb = mean_hgb.reset_index()
mean_hgb = (mean_hgb
            .loc[mean_hgb.year_id.isin([2025, np.nan])]
            .set_index([c for c in mean_hgb.columns if 'draw' not in c]))

# note, expect to see missing results for locations excluded due to illogical values

mean_hgb.to_csv('anemia_files_u5/mean_hgb.csv')
mean_hgb

/ihme/homes/alibow/notebooks/vivarium_research_lsff/multiplication_models/iron_hemoglobin_functions.py:121: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  ignore_index=True)

                                                                        draw_0  \
location_id vehicle     sex_id age_group_id year_id coverage_level
11          wheat flour 1      2            NaN     baseline        162.537335
                               3            NaN     baseline        128.108577
                               4            NaN     baseline        116.694047
                               5            NaN     baseline        124.209700
                        2      2            NaN     baseline        162.373339
...                                                                        ...
522         maize flour 2      5            2025.0  0.5             112.728779
                                                    0.8             112.891749
            wheat flour 2      5            2025.0  0.2             112.822722
                                                    0.5             113.371062
                                                    0.8             113.919402

                                                                        draw_1  \
location_id vehicle     sex_id age_group_id year_id coverage_level
11          wheat flour 1      2            NaN     baseline        161.366817
                               3            NaN     baseline        132.713336
                               4            NaN     baseline        118.048532
                               5            NaN     baseline        118.689308
                        2      2            NaN     baseline        167.888409
...                                                                        ...
522         maize flour 2      5            2025.0  0.5             111.037525
                                                    0.8             111.213213
            wheat flour 2      5            2025.0  0.2             110.966248
                                                    0.5             111.298551
                                                    0.8             111.630854

                                                                       draw_10  \
location_id vehicle     sex_id age_group_id year_id coverage_level
11          wheat flour 1      2            NaN     baseline        175.149845
                               3            NaN     baseline        135.965175
                               4            NaN     baseline        108.423498
                               5            NaN     baseline        124.179081
                        2      2            NaN     baseline        161.528363
...                                                                        ...
522         maize flour 2      5            2025.0  0.5             110.674484
                                                    0.8             110.779655
            wheat flour 2      5            2025.0  0.2             110.664784
                                                    0.5             110.913161
                                                    0.8             111.161538

                                                                      draw_100  \
location_id vehicle     sex_id age_group_id year_id coverage_level
11          wheat flour 1      2            NaN     baseline        165.142201
                               3            NaN     baseline        124.548957
                               4            NaN     baseline        113.084533
                               5            NaN     baseline        121.421113
                        2      2            NaN     baseline        171.131066
...                                                                        ...
522         maize flour 2      5            2025.0  0.5             109.517242
                                                    0.8             109.638752
            wheat flour 2      5            2025.0  0.2             109.490249
                                                    0.5             109.753534
                                                    0.8             110.016819

                                                                      draw_101  \
location_id vehicle     sex_id age_group_id year_id coverage_level
11          wheat flour 1      2            NaN     baseline        165.273795
                               3            NaN     baseline        132.111498
                               4            NaN     baseline        117.967886
                               5            NaN     baseline        116.411739
                        2      2            NaN     baseline        163.541885
...                                                                        ...
522         maize flour 2      5            2025.0  0.5             109.846504
                                                    0.8             110.059648
            wheat flour 2      5            2025.0  0.2             109.951479
                                                    0.5             110.641800
                                                    0.8             111.332122

                                                                      draw_102  \
location_id vehicle     sex_id age_group_id year_id coverage_level
11          wheat flour 1      2            NaN     baseline        183.974392
                               3            NaN     baseline        135.206599
                               4            NaN     baseline        113.780310
                               5            NaN     baseline        122.489439
                        2      2            NaN     baseline        166.033503
...                                                                        ...
522         maize flour 2      5            2025.0  0.5             109.813267
                                                    0.8             110.018639
            wheat flour 2      5            2025.0  0.2             109.853464
                                                    0.5             110.427191
                                                    0.8             111.000918

                                                                      draw_103  \
location_id vehicle     sex_id age_group_id year_id coverage_level
11          wheat flour 1      2            NaN     baseline        169.394623
                               3            NaN     baseline        138.923143
                               4            NaN     baseline        114.195511
                               5            NaN     baseline        122.589276
                        2      2            NaN     baseline        167.968281
...                                                                        ...
522         maize flour 2      5            2025.0  0.5             113.714914
                                                    0.8             113.787059
            wheat flour 2      5            2025.0  0.2             113.668725
                                                    0.5             113.779805
                                                    0.8             113.890885

                                                                      draw_104  \
location_id vehicle     sex_id age_group_id year_id coverage_level
11          wheat flour 1      2            NaN     baseline        181.589668
                               3            NaN     baseline        136.464246
                               4            NaN     baseline        110.055419
                               5            NaN     baseline        121.181499
                        2      2            NaN     baseline        170.457961
...                                                                        ...
522         maize flour 2      5            2025.0  0.5             108.469063
                                                    0.8             108.645873
            wheat flour 2      5            2025.0  0.2             108.461062
                                                    0.5             108.891088
                                                    0.8             109.321115

                                                                      draw_105  \
location_id vehicle     sex_id age_group_id year_id coverage_level
11          wheat flour 1      2            NaN     baseline        171.553361
                               3            NaN     baseline        139.988663
                               4            NaN     baseline        117.753886
                               5            NaN     baseline        125.087467
                        2      2            NaN     baseline        168.120883
...                                                                        ...
522         maize flour 2      5            2025.0  0.5             114.472382
                                                    0.8             114.599055
            wheat flour 2      5            2025.0  0.2             114.542290
                                                    0.5             114.963834
                                                    0.8             115.385379

                                                                      draw_106  \
location_id vehicle     sex_id age_group_id year_id coverage_level
11          wheat flour 1      2            NaN     baseline        170.935567
                               3            NaN     baseline        136.419914
                               4            NaN     baseline        112.514560
                               5            NaN     baseline        121.040149
                        2      2            NaN     baseline        165.438924
...                                                                        ...
522         maize flour 2      5            2025.0  0.5             109.840804
                                                    0.8             110.090484
            wheat flour 2      5            2025.0  0.2             109.973916
                                                    0.5             110.797784
                                                    0.8             111.621652

                                                                    ...  \
location_id vehicle     sex_id age_group_id year_id coverage_level  ...
11          wheat flour 1      2            NaN     baseline        ...
                               3            NaN     baseline        ...
                               4            NaN     baseline        ...
                               5            NaN     baseline        ...
                        2      2            NaN     baseline        ...
...                                                                 ...
522         maize flour 2      5            2025.0  0.5             ...
                                                    0.8             ...
            wheat flour 2      5            2025.0  0.2             ...
                                                    0.5             ...
                                                    0.8             ...

                                                                      draw_990  \
location_id vehicle     sex_id age_group_id year_id coverage_level
11          wheat flour 1      2            NaN     baseline        168.888796
                               3            NaN     baseline        128.845407
                               4            NaN     baseline        120.322340
                               5            NaN     baseline        119.359127
                        2      2            NaN     baseline        165.217393
...                                                                        ...
522         maize flour 2      5            2025.0  0.5             109.511737
                                                    0.8             109.781562
            wheat flour 2      5            2025.0  0.2             109.312758
                                                    0.5             109.688851
                                                    0.8             110.064944

                                                                      draw_991  \
location_id vehicle     sex_id age_group_id year_id coverage_level
11          wheat flour 1      2            NaN     baseline        167.567843
                               3            NaN     baseline        141.840703
                               4            NaN     baseline        114.165518
                               5            NaN     baseline        122.372442
                        2      2            NaN     baseline        166.753700
...                                                                        ...
522         maize flour 2      5            2025.0  0.5             110.821480
                                                    0.8             111.004489
            wheat flour 2      5            2025.0  0.2             110.687310
                                                    0.5             110.943577
                                                    0.8             111.199844

                                                                      draw_992  \
location_id vehicle     sex_id age_group_id year_id coverage_level
11          wheat flour 1      2            NaN     baseline        175.388472
                               3            NaN     baseline        135.730835
                               4            NaN     baseline        116.475622
                               5            NaN     baseline        120.018969
                        2      2            NaN     baseline        169.539516
...                                                                        ...
522         maize flour 2      5            2025.0  0.5             109.330282
                                                    0.8             109.547884
            wheat flour 2      5            2025.0  0.2             109.290511
                                                    0.5             109.774861
                                                    0.8             110.259210

                                                                      draw_993  \
location_id vehicle     sex_id age_group_id year_id coverage_level
11          wheat flour 1      2            NaN     baseline        168.658595
                               3            NaN     baseline        142.837879
                               4            NaN     baseline        118.536108
                               5            NaN     baseline        117.908573
                        2      2            NaN     baseline        167.527443
...                                                                        ...
522         maize flour 2      5            2025.0  0.5             109.641987
                                                    0.8             110.127898
            wheat flour 2      5            2025.0  0.2             109.222957
                                                    0.5             109.809192
                                                    0.8             110.395426

                                                                      draw_994  \
location_id vehicle     sex_id age_group_id year_id coverage_level
11          wheat flour 1      2            NaN     baseline        166.195967
                               3            NaN     baseline        140.292585
                               4            NaN     baseline        111.077883
                               5            NaN     baseline        121.631622
                        2      2            NaN     baseline        171.184916
...                                                                        ...
522         maize flour 2      5            2025.0  0.5             110.788170
                                                    0.8             110.924942
            wheat flour 2      5            2025.0  0.2             110.820889
                                                    0.5             111.211898
                                                    0.8             111.602906

                                                                      draw_995  \
location_id vehicle     sex_id age_group_id year_id coverage_level
11          wheat flour 1      2            NaN     baseline        167.147827
                               3            NaN     baseline        137.735396
                               4            NaN     baseline        114.384075
                               5            NaN     baseline        120.556056
                        2      2            NaN     baseline        165.005131
...                                                                        ...
522         maize flour 2      5            2025.0  0.5             108.512954
                                                    0.8             108.683293
            wheat flour 2      5            2025.0  0.2             108.504443
                                                    0.5             108.917524
                                                    0.8             109.330605

                                                                      draw_996  \
location_id vehicle     sex_id age_group_id year_id coverage_level
11          wheat flour 1      2            NaN     baseline        157.917315
                               3            NaN     baseline        140.882186
                               4            NaN     baseline        110.250688
                               5            NaN     baseline        125.776417
                        2      2            NaN     baseline        170.269360
...                                                                        ...
522         maize flour 2      5            2025.0  0.5             109.690010
                                                    0.8             110.100709
            wheat flour 2      5            2025.0  0.2             109.448623
                                                    0.5             110.113290
                                                    0.8             110.777957

                                                                      draw_997  \
location_id vehicle     sex_id age_group_id year_id coverage_level
11          wheat flour 1      2            NaN     baseline        165.882506
                               3            NaN     baseline        134.382200
                               4            NaN     baseline        117.220713
                               5            NaN     baseline        121.612023
                        2      2            NaN     baseline        164.922812
...                                                                        ...
522         maize flour 2      5            2025.0  0.5             107.870892
                                                    0.8             108.113257
            wheat flour 2      5            2025.0  0.2             107.743118
                                                    0.5             108.157368
                                                    0.8             108.571618

                                                                      draw_998  \
location_id vehicle     sex_id age_group_id year_id coverage_level
11          wheat flour 1      2            NaN     baseline        162.726062
                               3            NaN     baseline        139.522404
                               4            NaN     baseline        114.639255
                               5            NaN     baseline        124.083226
                        2      2            NaN     baseline        171.070693
...                                                                        ...
522         maize flour 2      5            2025.0  0.5             109.509856

In [12]:
hgb_sd = get_draws('modelable_entity_id',
                10488,
                source='epi',
                location_id=location_ids,
                age_group_id=age_group_ids,
                sex_id=sex_ids,
                year_id=2019,
                gbd_round_id=6,
                decomp_step='step4',
                status='best')
(hgb_sd.set_index(['location_id','sex_id','age_group_id'])
 .filter([c for c in hgb_sd if 'draw' in c])
 .reset_index()).to_csv('anemia_files_u5/sd_hgb.csv')

In [ ]:
# NOW RUN HEMOGLOBIN_TO_ANEMIA.R FILE BEFORE RUNNING NEXT CELL
assert "Did you run the R file?" == "Double check :)", "Make sure you run the R file!"

In [13]:
anemia = load_anemia_prev_and_calculate_ylds('anemia_files_u5/anemia_prev.csv')
baseline_anemia = (duplicate_over_simulation_years(anemia.loc[anemia.coverage_level=='baseline'], years)
                   .drop(columns='coverage_level')
                   .set_index(['location_id','age_group_id','sex_id','year','draw','vehicle']))
counterfactual_anemia = (anemia.loc[anemia.coverage_level != 'baseline']
                         .set_index(['location_id','age_group_id','sex_id','year','draw','vehicle','coverage_level']))
averted_anemia = baseline_anemia - counterfactual_anemia
averted_anemia

                                                                              mild  \
location_id age_group_id sex_id year draw     vehicle     coverage_level
6           2            1      2021 draw_0   maize flour NaN                  NaN
                                              wheat flour NaN                  NaN
                                     draw_1   maize flour NaN                  NaN
                                              wheat flour NaN                  NaN
                                     draw_10  maize flour NaN                  NaN
...                                                                            ...
522         5            2      2025 draw_999 maize flour 0.5             0.001357
                                                          0.8             0.002182
                                              wheat flour 0.2             0.000839
                                                          0.5             0.002113
                                                          0.8             0.003406

                                                                          moderate  \
location_id age_group_id sex_id year draw     vehicle     coverage_level
6           2            1      2021 draw_0   maize flour NaN                  NaN
                                              wheat flour NaN                  NaN
                                     draw_1   maize flour NaN                  NaN
                                              wheat flour NaN                  NaN
                                     draw_10  maize flour NaN                  NaN
...                                                                            ...
522         5            2      2025 draw_999 maize flour 0.5             0.003536
                                                          0.8             0.005644
                                              wheat flour 0.2             0.002196
                                                          0.5             0.005469
                                                          0.8             0.008717

                                                                            severe  \
location_id age_group_id sex_id year draw     vehicle     coverage_level
6           2            1      2021 draw_0   maize flour NaN                  NaN
                                              wheat flour NaN                  NaN
                                     draw_1   maize flour NaN                  NaN
                                              wheat flour NaN                  NaN
                                     draw_10  maize flour NaN                  NaN
...                                                                            ...
522         5            2      2025 draw_999 maize flour 0.5             0.000203
                                                          0.8             0.000322
                                              wheat flour 0.2             0.000126
                                                          0.5             0.000312
                                                          0.8             0.000495

                                                                            anemic  \
location_id age_group_id sex_id year draw     vehicle     coverage_level
6           2            1      2021 draw_0   maize flour NaN                  NaN
                                              wheat flour NaN                  NaN
                                     draw_1   maize flour NaN                  NaN
                                              wheat flour NaN                  NaN
                                     draw_10  maize flour NaN                  NaN
...                                                                            ...
522         5            2      2025 draw_999 maize flour 0.5             0.005096
                                                          0.8             0.008148
                                              wheat flour 0.2             0.003161
                                                          0.5             0.007894
                                                          0.8             0.012619

                                                                          mild_ylds  \
location_id age_group_id sex_id year draw     vehicle     coverage_level
6           2            1      2021 draw_0   maize flour NaN                   NaN
                                              wheat flour NaN                   NaN
                                     draw_1   maize flour NaN                   NaN
                                              wheat flour NaN                   NaN
                                     draw_10  maize flour NaN                   NaN
...                                                                             ...
522         5            2      2025 draw_999 maize flour 0.5              0.000005
                                                          0.8              0.000009
                                              wheat flour 0.2              0.000003
                                                          0.5              0.000008
                                                          0.8              0.000014

                                                                          moderate_ylds  \
location_id age_group_id sex_id year draw     vehicle     coverage_level
6           2            1      2021 draw_0   maize flour NaN                       NaN
                                              wheat flour NaN                       NaN
                                     draw_1   maize flour NaN                       NaN
                                              wheat flour NaN                       NaN
                                     draw_10  maize flour NaN                       NaN
...                                                                                 ...
522         5            2      2025 draw_999 maize flour 0.5                  0.000184
                                                          0.8                  0.000293
                                              wheat flour 0.2                  0.000114
                                                          0.5                  0.000284
                                                          0.8                  0.000453

                                                                          severe_ylds  \
location_id age_group_id sex_id year draw     vehicle     coverage_level
6           2            1      2021 draw_0   maize flour NaN                     NaN
                                              wheat flour NaN                     NaN
                                     draw_1   maize flour NaN                     NaN
                                              wheat flour NaN                     NaN
                                     draw_10  maize flour NaN                     NaN
...                                                                               ...
522         5            2      2025 draw_999 maize flour 0.5                0.000030
                                                          0.8                0.000048
                                              wheat flour 0.2                0.000019
                                                          0.5                0.000047
                                                          0.8                0.000074

                                                                          anemic_ylds
location_id age_group_id sex_id year draw     vehicle     coverage_level
6           2            1      2021 draw_0   maize flour NaN                     NaN
                                              wheat flour NaN                     NaN
                                     draw_1   maize flour NaN                     NaN
                                              wheat flour NaN                     NaN
                                     draw_10  maize flour NaN                     NaN
...                                                                               ...
522         5            2      2025 draw_999 maize flour 0.5                0.000219
                                                          0.8                0.000350
                                              wheat flour 0.2                0.000136
                                                          0.5                0.000339
                                                          0.8                0.000541

[1464000 rows x 8 columns]

In [67]:
anemia_cols = ['mild','moderate','severe','anemic','moderate_ylds','mild_ylds','severe_ylds','anemic_ylds']

anemia_diff = anemia.drop(columns=[c for c in anemia_cols if c != 'anemic']).dropna()
pop = get_population(location_id=location_ids,
                    sex_id=sex_ids,
                    age_group_id=age_group_ids,
                    year_id=2019,
                    gbd_round_id=6,
                    decomp_step='step4')
anemia_diff = anemia_diff.merge(pop, on=['location_id','age_group_id','sex_id'])
anemia_diff['anemic'] = anemia_diff['anemic'] * anemia_diff['population']
anemia_diff = anemia_diff.groupby(['location_id','draw','vehicle','coverage_level','year']).sum()
anemia_diff['anemic'] = anemia_diff['anemic'] / anemia_diff['population'] * 100
anemia_diff = anemia_diff.filter(['anemic'])
anemia_diff = anemia_diff.stack().reset_index().rename(columns={'level_4':'measure',0:'value'})
anemia_diff = pd.pivot_table(anemia_diff, index=['location_id','vehicle','coverage_level','year'],
                            columns='draw',
                            values='value')
anemia_diff.head()

draw                                              draw_0     draw_1  \
location_id vehicle     coverage_level year
6           wheat flour 0.2            2025.0   8.192306   7.996519
                        0.5            2025.0   7.805588   7.870499
                        0.8            2025.0   7.441942   7.747143
15          wheat flour 0.2            2025.0  58.166857  68.909408
                        0.5            2025.0  58.005146  68.847535

draw                                             draw_10   draw_100  \
location_id vehicle     coverage_level year
6           wheat flour 0.2            2025.0   7.338217   9.665733
                        0.5            2025.0   7.178628   9.523500
                        0.8            2025.0   7.023585   9.383898
15          wheat flour 0.2            2025.0  67.242434  64.142091
                        0.5            2025.0  67.184063  64.100525

draw                                            draw_101   draw_102  \
location_id vehicle     coverage_level year
6           wheat flour 0.2            2025.0   8.052706   8.764164
                        0.5            2025.0   7.654914   8.388611
                        0.8            2025.0   7.282716   8.032571
15          wheat flour 0.2            2025.0  59.061625  64.584425
                        0.5            2025.0  58.951844  64.497639

draw                                            draw_103   draw_104  \
location_id vehicle     coverage_level year
6           wheat flour 0.2            2025.0   8.591914  10.488357
                        0.5            2025.0   8.519374  10.016088
                        0.8            2025.0   8.447585   9.569717
15          wheat flour 0.2            2025.0  69.477619  61.106939
                        0.5            2025.0  69.459875  61.008756

draw                                            draw_105   draw_106  ...  \
location_id vehicle     coverage_level year                          ...
6           wheat flour 0.2            2025.0   8.758349  10.777845  ...
                        0.5            2025.0   8.628970  10.322896  ...
                        0.8            2025.0   8.501892   9.890488  ...
15          wheat flour 0.2            2025.0  65.620528  63.762828  ...
                        0.5            2025.0  65.590213  63.639019  ...

draw                                            draw_990   draw_991  \
location_id vehicle     coverage_level year
6           wheat flour 0.2            2025.0  10.698869   8.587812
                        0.5            2025.0  10.421896   8.355647
                        0.8            2025.0  10.152526   8.131868
15          wheat flour 0.2            2025.0  66.368893  68.020538
                        0.5            2025.0  66.297138  67.953334

draw                                            draw_992   draw_993  \
location_id vehicle     coverage_level year
6           wheat flour 0.2            2025.0   8.086309   8.476035
                        0.5            2025.0   7.606016   7.984684
                        0.8            2025.0   7.165283   7.528525
15          wheat flour 0.2            2025.0  58.427117  66.379627
                        0.5            2025.0  58.309064  66.227408

draw                                            draw_994   draw_995  \
location_id vehicle     coverage_level year
6           wheat flour 0.2            2025.0   8.101480   9.047405
                        0.5            2025.0   8.000352   8.747473
                        0.8            2025.0   7.900970   8.459795
15          wheat flour 0.2            2025.0  58.044584  61.085245
                        0.5            2025.0  57.985035  61.009707

draw                                            draw_996   draw_997  \
location_id vehicle     coverage_level year
6           wheat flour 0.2            2025.0   7.614736   9.871573
                        0.5            2025.0   7.212244   9.725603
                        0.8            2025.0   6.840630   9.582131
15          wheat flour 0.2            2025.0  66.445172  70.112236
                        0.5            2025.0  66.323748  70.061949

draw                                            draw_998   draw_999
location_id vehicle     coverage_level year
6           wheat flour 0.2            2025.0   7.118635  10.453296
                        0.5            2025.0   6.923951  10.243421
                        0.8            2025.0   6.736710  10.038319
15          wheat flour 0.2            2025.0  70.313273  64.436876
                        0.5            2025.0  70.268222  64.389873

[5 rows x 1000 columns]

In [38]:
# total iron responsive anemia burden
iron_responsive_anemia_sequelae = [1004, 1005, 1006, 1008, 1009, 1010, 1012, 1013, 
                                   1014, 1016, 1017, 1018, 1020, 1021, 1022, 1024, 1025, 1026, 
                                   1028, 1029, 1030, 1032, 1033, 1034, 1361, 1364, 1367, 1373, 1376, 
                                   1379, 1385, 1388, 1391, 1397, 1400, 1403, 1409, 1412, 1415, 1421, 
                                   1424, 1427, 1433, 1436, 1439, 1445, 1448, 1451, 5213, 5216, 5219, 
                                   5222, 5225, 5228, 5237, 5240, 5243, 5246, 5249, 5252, 5261, 5264, 
                                   5267, 5270, 5273, 5276, 4985, 4988, 4991, 4994, 4997, 5000, 5009, 
                                   5012, 5015, 5678, 5681, 5684, 7214, 7217, 7220, 4952, 4955, 4958, 
                                   4961, 4964, 4967, 4976, 4979, 4982, 5627, 5630, 5633, 7202, 7205, 
                                   7208, 5393, 5396, 5399, 182, 183, 184, 240, 241, 242, 177, 178, 
                                   179, 144,145,146,172,173,174,525,526,527,1106,1107,1108,537,538,
                                   539,206,207,208, 22989, 22990, 22991, 22992, 22993, 22999, 23000, 
                                   23001, 23002, 23003, 23009, 23010, 23011, 23012, 23013,
                                   5567, 5570, 5573, 5579, 5582, 5585,
                                   23030, 23031, 23032, 23034, 23035, 23036, 23038, 23039, 23040,
                                   23042, 23043, 23044, 23046, 23047, 23048]

ira_prev = get_draws('sequela_id', iron_responsive_anemia_sequelae, 
                 source='como',
                 location_id=location_ids, 
                 age_group_id=age_group_ids,
                 sex_id=sex_ids,
                 year_id=2019,
                 measure_id=5,
                 decomp_step='step5',
                 gbd_round_id=6)
ira_prev = ira_prev.groupby(['location_id','sex_id','age_group_id'], as_index=False).sum()

,location_id,sex_id,age_group_id,draw_0,draw_1,draw_10,draw_100,draw_101,draw_102,draw_103,...,draw_994,draw_995,draw_996,draw_997,draw_998,draw_999,measure_id,sequela_id,year_id,metric_id
0,6,1,2,0.016731,0.015638,0.012522,0.013393,0.014531,0.017890,0.018534,...,0.012172,0.012495,0.020900,0.007996,0.021004,0.011646,705,1046064,284679,423
1,6,1,3,0.458979,0.472000,0.366632,0.450424,0.425838,0.431919,0.480472,...,0.544233,0.434892,0.507984,0.509704,0.520636,0.504225,705,1046064,284679,423
2,6,1,4,0.088148,0.116770,0.101156,0.125232,0.092834,0.099167,0.121800,...,0.122610,0.127926,0.109360,0.100149,0.098564,0.116675,705,1046064,284679,423
3,6,1,5,0.046062,0.053708,0.043193,0.060029,0.055650,0.061373,0.061939,...,0.046259,0.051258,0.060858,0.084271,0.043118,0.075477,705,1046064,284679,423
4,6,2,2,0.002613,0.000684,0.001343,0.001876,0.002273,0.003936,0.002514,...,0.002777,0.001424,0.002359,0.001185,0.001972,0.001948,705,1046064,284679,423

In [52]:
averted_anemia_prepped = averted_anemia.filter(['anemic']).reset_index()
averted_anemia_prepped = averted_anemia_prepped.pivot_table(index=['location_id','age_group_id','sex_id','year','coverage_level','vehicle'],
                                                           columns='draw', values='anemic')

In [51]:
ira_diff = (ira_prev
            .set_index(['location_id','age_group_id','sex_id'])
            .drop(columns=['measure_id','sequela_id','year_id','metric_id'])
            
            - averted_anemia_prepped)
pop = get_population(location_id=location_ids,
                    age_group_id=age_group_ids,
                    sex_id=sex_ids,
                    year_id=2019,
                    gbd_round_id=6,
                    decomp_step='step4')
ira_diff = ira_diff.reset_index().merge(pop, on=['location_id','age_group_id','sex_id'])
for i in list(range(0,1000)):
    ira_diff[f'draw_{i}'] = ira_diff[f'draw_{i}'] * ira_diff['population'] * 100
ira_diff = ira_diff.groupby(['location_id','year','vehicle','coverage_level']).sum()
for i in list(range(0,1000)):
    ira_diff[f'draw_{i}'] = ira_diff[f'draw_{i}'] / ira_diff['population']
ira_diff = ira_diff.filter([c for c in ira_diff if 'draw' in c])
ira_diff.head()

                                                  draw_0     draw_1  \
location_id year   vehicle     coverage_level
6           2025.0 wheat flour 0.2              6.783051   6.656086
                               0.5              6.396334   6.530065
                               0.8              6.032687   6.406709
15          2025.0 wheat flour 0.2             52.739333  63.120394
                               0.5             52.577622  63.058521

                                                 draw_10   draw_100  \
location_id year   vehicle     coverage_level
6           2025.0 wheat flour 0.2              5.810571   7.964143
                               0.5              5.650981   7.821910
                               0.8              5.495939   7.682308
15          2025.0 wheat flour 0.2             61.635366  58.882641
                               0.5             61.576994  58.841074

                                                draw_101   draw_102  \
location_id year   vehicle     coverage_level
6           2025.0 wheat flour 0.2              6.879538   7.368048
                               0.5              6.481746   6.992495
                               0.8              6.109548   6.636455
15          2025.0 wheat flour 0.2             53.197964  59.222302
                               0.5             53.088184  59.135516

                                                draw_103   draw_104  \
location_id year   vehicle     coverage_level
6           2025.0 wheat flour 0.2              7.381924   8.882641
                               0.5              7.309385   8.410372
                               0.8              7.237595   7.964000
15          2025.0 wheat flour 0.2             63.954746  56.011846
                               0.5             63.937003  55.913663

                                                draw_105   draw_106  ...  \
location_id year   vehicle     coverage_level                        ...
6           2025.0 wheat flour 0.2              7.331176   8.790944  ...
                               0.5              7.201797   8.335996  ...
                               0.8              7.074719   7.903588  ...
15          2025.0 wheat flour 0.2             60.261458  58.547931  ...
                               0.5             60.231143  58.424122  ...

                                                draw_990   draw_991  \
location_id year   vehicle     coverage_level
6           2025.0 wheat flour 0.2              8.692015   7.248704
                               0.5              8.415042   7.016539
                               0.8              8.145671   6.792760
15          2025.0 wheat flour 0.2             60.472150  62.432706
                               0.5             60.400395  62.365503

                                                draw_992   draw_993  \
location_id year   vehicle     coverage_level
6           2025.0 wheat flour 0.2              6.768717   7.399873
                               0.5              6.288424   6.908522
                               0.8              5.847690   6.452363
15          2025.0 wheat flour 0.2             53.089381  61.204738
                               0.5             52.971329  61.052519

                                                draw_994   draw_995  \
location_id year   vehicle     coverage_level
6           2025.0 wheat flour 0.2              6.955885   7.016766
                               0.5              6.854757   6.716834
                               0.8              6.755376   6.429156
15          2025.0 wheat flour 0.2             53.072315  55.647400
                               0.5             53.012765  55.571862

                                                draw_996   draw_997  \
location_id year   vehicle     coverage_level
6           2025.0 wheat flour 0.2              6.207796   8.236763
                               0.5              5.805304   8.090793
                               0.8              5.433690   7.947320
15          2025.0 wheat flour 0.2             61.095182  64.427805
                               0.5             60.973758  64.377518

                                                draw_998   draw_999
location_id year   vehicle     coverage_level
6           2025.0 wheat flour 0.2              6.023994   9.039241
                               0.5              5.829310   8.829366
                               0.8              5.642068   8.624264
15          2025.0 wheat flour 0.2             65.160852  59.131966
                               0.5             65.115801  59.084963

[5 rows x 1000 columns]

In [68]:
anemia_diff['measure'] = 'anemia'
ira_diff['measure'] = 'iron_responsive_anemia'
deficiency_difference = pd.concat([anemia_diff.reset_index(), ira_diff.reset_index()], ignore_index=True, sort=True)
deficiency_difference.to_pickle('results_raw/iron_deficiency_difference.pkl')
deficiency_difference.head()

,coverage_level,draw_0,draw_1,draw_10,draw_100,draw_101,draw_102,draw_103,draw_104,draw_105,...,draw_994,draw_995,draw_996,draw_997,draw_998,draw_999,location_id,measure,vehicle,year
0,0.2,8.192306,7.996519,7.338217,9.665733,8.052706,8.764164,8.591914,10.488357,8.758349,...,8.101480,9.047405,7.614736,9.871573,7.118635,10.453296,6,anemia,wheat flour,2025.0
1,0.5,7.805588,7.870499,7.178628,9.523500,7.654914,8.388611,8.519374,10.016088,8.628970,...,8.000352,8.747473,7.212244,9.725603,6.923951,10.243421,6,anemia,wheat flour,2025.0
2,0.8,7.441942,7.747143,7.023585,9.383898,7.282716,8.032571,8.447585,9.569717,8.501892,...,7.900970,8.459795,6.840630,9.582131,6.736710,10.038319,6,anemia,wheat flour,2025.0
3,0.2,58.166857,68.909408,67.242434,64.142091,59.061625,64.584425,69.477619,61.106939,65.620528,...,58.044584,61.085245,66.445172,70.112236,70.313273,64.436876,15,anemia,wheat flour,2025.0
4,0.5,58.005146,68.847535,67.184063,64.100525,58.951844,64.497639,69.459875,61.008756,65.590213,...,57.985035,61.009707,66.323748,70.061949,70.268222,64.389873,15,anemia,wheat flour,2025.0

In [35]:
counts, rates = population_weight_values(averted_anemia.reset_index(), age_group_ids, sex_ids, location_ids)

In [36]:
counts = summarize_data(counts)
rates = summarize_data(rates)

In [37]:
anemia_counts_averted = (counts.loc[counts.severity=='anemic']
     .loc[counts.measure=='ylds']
     .set_index(['location_id','coverage_level','year','vehicle'])
     .drop(columns=['severity','measure']))

anemia_rates_averted = (rates.loc[rates.severity=='anemic']
     .loc[rates.measure=='ylds']
     .set_index(['location_id','coverage_level','year','vehicle'])
     .drop(columns=['severity','measure']))
anemia_rates_averted.head()

draw                                              draw_0    draw_1   draw_10  \
location_id coverage_level year   vehicle
6           0.2            2025.0 wheat flour   5.138720  1.550677  1.819400
            0.5            2025.0 wheat flour  12.433329  3.832838  4.480047
            0.8            2025.0 wheat flour  19.261140  6.063503  7.060907
15          0.2            2025.0 wheat flour   4.265762  2.063121  1.906909
            0.5            2025.0 wheat flour  10.646940  5.155305  4.765058

draw                                           draw_100   draw_101   draw_102  \
location_id coverage_level year   vehicle
6           0.2            2025.0 wheat flour  1.926872   5.064732   5.088763
            0.5            2025.0 wheat flour  4.766696  12.228295  12.350243
            0.8            2025.0 wheat flour  7.547081  18.905072  19.189114
15          0.2            2025.0 wheat flour  1.408123   3.061338   2.686983
            0.5            2025.0 wheat flour  3.519077   7.645401   6.712556

draw                                           draw_103   draw_104  draw_105  \
location_id coverage_level year   vehicle
6           0.2            2025.0 wheat flour  0.909201   6.782712  1.684306
            0.5            2025.0 wheat flour  2.259757  16.421411  4.168513
            0.8            2025.0 wheat flour  3.594585  25.453228  6.602925
15          0.2            2025.0 wheat flour  0.694018   2.950149  0.993946
            0.5            2025.0 wheat flour  1.734809   7.368885  2.484231

draw                                            draw_106  ...   draw_990  \
location_id coverage_level year   vehicle                 ...
6           0.2            2025.0 wheat flour   6.944672  ...   3.973330
            0.5            2025.0 wheat flour  16.865352  ...   9.766973
            0.8            2025.0 wheat flour  26.219789  ...  15.366504
15          0.2            2025.0 wheat flour   4.000904  ...   2.244284
            0.5            2025.0 wheat flour   9.991453  ...   5.607459

draw                                            draw_991   draw_992  \
location_id coverage_level year   vehicle
6           0.2            2025.0 wheat flour   2.970374   6.233657
            0.5            2025.0 wheat flour   7.281715  14.910018
            0.8            2025.0 wheat flour  11.426309  22.844280
15          0.2            2025.0 wheat flour   2.171130   3.183437
            0.5            2025.0 wheat flour   5.424951   7.949698

draw                                            draw_993  draw_994   draw_995  \
location_id coverage_level year   vehicle
6           0.2            2025.0 wheat flour   6.732511  1.247495   3.977974
            0.5            2025.0 wheat flour  16.162353  3.090293   9.715725
            0.8            2025.0 wheat flour  24.847370  4.899558  15.189860
15          0.2            2025.0 wheat flour   4.997969  1.605828   2.249943
            0.5            2025.0 wheat flour  12.479397  4.012205   5.621185

draw                                            draw_996  draw_997  draw_998  \
location_id coverage_level year   vehicle
6           0.2            2025.0 wheat flour   5.154405  2.085823  2.128852
            0.5            2025.0 wheat flour  12.387754  5.162555  5.217671
            0.8            2025.0 wheat flour  19.068146  8.177951  8.185930
15          0.2            2025.0 wheat flour   3.742187  1.821622  1.622899
            0.5            2025.0 wheat flour   9.346336  4.552292  4.055945

draw                                            draw_999
location_id coverage_level year   vehicle
6           0.2            2025.0 wheat flour   3.033468
            0.5            2025.0 wheat flour   7.483155
            0.8            2025.0 wheat flour  11.814975
15          0.2            2025.0 wheat flour   1.454936
            0.5            2025.0 wheat flour   3.635848

[5 rows x 1000 columns]

In [19]:
# total iron responsive anemia burden
iron_responsive_anemia_sequelae = [1004, 1005, 1006, 1008, 1009, 1010, 1012, 1013, 
                                   1014, 1016, 1017, 1018, 1020, 1021, 1022, 1024, 1025, 1026, 
                                   1028, 1029, 1030, 1032, 1033, 1034, 1361, 1364, 1367, 1373, 1376, 
                                   1379, 1385, 1388, 1391, 1397, 1400, 1403, 1409, 1412, 1415, 1421, 
                                   1424, 1427, 1433, 1436, 1439, 1445, 1448, 1451, 5213, 5216, 5219, 
                                   5222, 5225, 5228, 5237, 5240, 5243, 5246, 5249, 5252, 5261, 5264, 
                                   5267, 5270, 5273, 5276, 4985, 4988, 4991, 4994, 4997, 5000, 5009, 
                                   5012, 5015, 5678, 5681, 5684, 7214, 7217, 7220, 4952, 4955, 4958, 
                                   4961, 4964, 4967, 4976, 4979, 4982, 5627, 5630, 5633, 7202, 7205, 
                                   7208, 5393, 5396, 5399, 182, 183, 184, 240, 241, 242, 177, 178, 
                                   179, 144,145,146,172,173,174,525,526,527,1106,1107,1108,537,538,
                                   539,206,207,208, 22989, 22990, 22991, 22992, 22993, 22999, 23000, 
                                   23001, 23002, 23003, 23009, 23010, 23011, 23012, 23013,
                                   5567, 5570, 5573, 5579, 5582, 5585,
                                   23030, 23031, 23032, 23034, 23035, 23036, 23038, 23039, 23040,
                                   23042, 23043, 23044, 23046, 23047, 23048]

ira_ylds = get_draws('sequela_id', iron_responsive_anemia_sequelae, 
                 source='como',
                 location_id=location_ids, 
                 age_group_id=age_group_ids,
                 sex_id=sex_ids,
                 year_id=2019,
                 measure_id=3,
                 decomp_step='step5',
                 gbd_round_id=6)
ira_ylds = ira_ylds.groupby(['location_id','sex_id','age_group_id'], as_index=False).sum()

pop = get_population(location_id=location_ids,
                    age_group_id=age_group_ids,
                    sex_id=sex_ids,
                    gbd_round_id=6,
                    year_id=2019,
                    decomp_step='step4')

ira_ylds = ira_ylds.merge(pop, on=['location_id','sex_id','age_group_id'])
for i in list(range(0,1000)):
    ira_ylds[f'draw_{i}'] = ira_ylds[f'draw_{i}'] * ira_ylds['population']
ira_ylds = ira_ylds.groupby(['location_id']).sum()
for i in list(range(0,1000)):
    ira_ylds[f'draw_{i}'] = ira_ylds[f'draw_{i}'] / ira_ylds['population'] * 100_000
ira_ylds = ira_ylds.drop(columns=[c for c in ira_ylds.columns if 'draw' not in c])
ira_ylds.head()

,draw_0,draw_1,draw_10,draw_100,draw_101,draw_102,draw_103,draw_104,draw_105,draw_106,...,draw_990,draw_991,draw_992,draw_993,draw_994,draw_995,draw_996,draw_997,draw_998,draw_999
location_id,,,,,,,,,,,,,,,,,,,,,
6,159.521185,149.504631,100.583939,187.977485,121.369982,161.693547,161.442319,180.764634,189.182884,139.298653,...,161.146759,161.105192,146.968764,146.212128,128.874763,154.243402,60.812590,147.362232,88.309456,149.454163
11,334.914343,449.263093,312.187773,371.093815,336.264462,333.130095,354.156542,324.446786,343.422797,195.863755,...,277.473307,384.770485,340.598940,446.805528,348.981431,294.134392,121.313252,246.787417,268.237555,207.969605
15,1609.951272,2134.896640,1636.070352,1996.148853,1266.332205,1798.158169,2402.252624,1430.798848,2330.966122,1270.446987,...,1502.438385,1839.651579,1398.844621,1721.311228,1336.721747,1695.889717,834.406314,1697.382614,1635.694403,1372.195891
20,526.466078,553.994150,600.407682,418.543595,221.388082,411.849792,370.077565,382.577208,565.761909,282.486003,...,450.961192,374.960253,406.362976,395.782476,346.155629,384.768319,239.205233,246.077775,384.852123,654.519577
141,470.000860,568.483499,407.548504,545.404367,384.929305,540.007349,467.181908,510.863030,718.197510,316.708609,...,316.154718,514.016740,397.976448,362.146510,460.936948,576.705734,259.186672,485.492549,359.243370,418.142217

In [21]:
# check iron responsive portion
impairment_anemia = get_draws(gbd_id_type='rei_id',
         gbd_id=[192],
         source='como',
         location_id=location_ids,
         sex_id=sex_ids,
         age_group_id=1,
         gbd_round_id=6,
         year_id=2019,
         decomp_step='step5',
         measure_id=[3])
impairment_anemia = impairment_anemia.loc[impairment_anemia.cause_id==294]
impairment_anemia = impairment_anemia.merge(pop, on=['location_id','sex_id'])
for i in list(range(0,1000)):
    impairment_anemia[f'draw_{i}'] = impairment_anemia[f'draw_{i}'] * impairment_anemia['population']
impairment_anemia = impairment_anemia.groupby(['location_id','measure_id','rei_id']).sum()
for i in list(range(0,1000)):
    impairment_anemia[f'draw_{i}'] = impairment_anemia[f'draw_{i}'] / impairment_anemia['population'] * 100_000
impairment_anemia = impairment_anemia.drop(columns=[c for c in impairment_anemia.columns if 'draw' not in c])
(ira_ylds / impairment_anemia).mean(axis=1)

location_id  measure_id  rei_id
11           3           192       0.882996
15           3           192       0.894140
20           3           192       0.875280
161          3           192       0.874950
163          3           192       0.841738
164          3           192       0.944990
165          3           192       0.876596
171          3           192       0.686937
179          3           192       0.894505
180          3           192       0.759371
184          3           192       0.777699
189          3           192       0.847804
190          3           192       0.665991
196          3           192       0.969324
201          3           192       0.732008
202          3           192       0.714081
205          3           192       0.675463
214          3           192       0.737197
dtype: float64

In [38]:
anemia_pifs = anemia_rates_averted / (ira_ylds) * 100
anemia_pifs.head()

draw                                              draw_0    draw_1   draw_10  \
location_id coverage_level year   vehicle
6           0.2            2025.0 wheat flour   3.221340  1.037210  1.808838
            0.5            2025.0 wheat flour   7.794156  2.563692  4.454038
            0.8            2025.0 wheat flour  12.074346  4.055729  7.019915
15          0.2            2025.0 wheat flour   0.264962  0.096638  0.116554
            0.5            2025.0 wheat flour   0.661321  0.241478  0.291250

draw                                           draw_100   draw_101   draw_102  \
location_id coverage_level year   vehicle
6           0.2            2025.0 wheat flour  1.025055   4.172969   3.147165
            0.5            2025.0 wheat flour  2.535780  10.075222   7.638056
            0.8            2025.0 wheat flour  4.014886  15.576398  11.867582
15          0.2            2025.0 wheat flour  0.070542   0.241748   0.149430
            0.5            2025.0 wheat flour  0.176293   0.603744   0.373302

draw                                           draw_103   draw_104  draw_105  \
location_id coverage_level year   vehicle
6           0.2            2025.0 wheat flour  0.563174   3.752234  0.890306
            0.5            2025.0 wheat flour  1.399730   9.084416  2.203430
            0.8            2025.0 wheat flour  2.226544  14.080867  3.490234
15          0.2            2025.0 wheat flour  0.028890   0.206189  0.042641
            0.5            2025.0 wheat flour  0.072216   0.515019  0.106575

draw                                            draw_106  ...  draw_990  \
location_id coverage_level year   vehicle                 ...
6           0.2            2025.0 wheat flour   4.985455  ...  2.465659
            0.5            2025.0 wheat flour  12.107333  ...  6.060918
            0.8            2025.0 wheat flour  18.822715  ...  9.535720
15          0.2            2025.0 wheat flour   0.314921  ...  0.149376
            0.5            2025.0 wheat flour   0.786452  ...  0.373224

draw                                           draw_991   draw_992   draw_993  \
location_id coverage_level year   vehicle
6           0.2            2025.0 wheat flour  1.843748   4.241484   4.604619
            0.5            2025.0 wheat flour  4.519851  10.145025  11.054044
            0.8            2025.0 wheat flour  7.092452  15.543629  16.994056
15          0.2            2025.0 wheat flour  0.118019   0.227576   0.290358
            0.5            2025.0 wheat flour  0.294890   0.568305   0.724994

draw                                           draw_994  draw_995   draw_996  \
location_id coverage_level year   vehicle
6           0.2            2025.0 wheat flour  0.967990  2.579024   8.475886
            0.5            2025.0 wheat flour  2.397904  6.298957  20.370378
            0.8            2025.0 wheat flour  3.801798  9.847980  31.355589
15          0.2            2025.0 wheat flour  0.120132  0.132670   0.448485
            0.5            2025.0 wheat flour  0.300153  0.331459   1.120118

draw                                           draw_997  draw_998  draw_999
location_id coverage_level year   vehicle
6           0.2            2025.0 wheat flour  1.415439  2.410672  2.029698
            0.5            2025.0 wheat flour  3.503309  5.908395  5.006990
            0.8            2025.0 wheat flour  5.549557  9.269596  7.905417
15          0.2            2025.0 wheat flour  0.107319  0.099218  0.106030
            0.5            2025.0 wheat flour  0.268195  0.247965  0.264966

[5 rows x 1000 columns]

In [39]:
anemia_pifs['measure'] = 'pif'
anemia_counts_averted['measure'] = 'counts_averted'
anemia_rates_averted['measure'] = 'rates_averted'
iron_u5_results = pd.concat([anemia_pifs.reset_index(),
                         anemia_counts_averted.reset_index(),
                         anemia_rates_averted.reset_index()],
                        ignore_index=True)
iron_u5_results.to_pickle('results_raw/iron_u5.pkl')