In [1]:
from functions_for_all_nutrients import *
from iron_hemoglobin_functions import *
import matplotlib.backends.backend_pdf
from matplotlib.backends.backend_pdf import PdfPages

In [2]:
username = !whoami
username

['alibow']

In [3]:
index_cols=['location_id','sex_id','age_group_id']

age_group_ids = [2,3,4,5]
sex_ids = [1,2]
coverage_levels = [0.2,0.5,0.8,1]
years = [2021,2025]

In [4]:
coverage_data_dir = f'/ihme/homes/{username[0]}/notebooks/vivarium_research_lsff/data_prep/outputs/waterfall_coverage_all_vehicles.csv'

In [5]:
location_ids = (list(
                pd.read_csv(coverage_data_dir)
                .location_id
                .unique()))
location_ids

[168,
 161,
 201,
 205,
 202,
 6,
 171,
 141,
 179,
 207,
 163,
 11,
 180,
 181,
 184,
 15,
 164,
 213,
 214,
 165,
 196,
 522,
 190,
 189,
 20]

In [6]:
nutrient = 'iron'
#vehicles = ['wheat flour','maize flour', 'zero wheat flour', 'zero maize flour','industry wheat','zero industry wheat']
vehicles = ['industry wheat','zero industry wheat']

effective_fractions = [0, 
                       0, 
                       0.1666666667, 
                       0.9166666667]

In [7]:
baseline_coverage, counterfactual_coverage = get_baseline_and_counterfactual_coverage(coverage_data_dir,
                                             location_ids,
                                             nutrient,
                                             vehicles,
                                             years,
                                             coverage_levels, 'U5')
counterfactual_coverage.head()

Excluded location IDs [] due to missing data
Excluded location IDs [] due to missing data

,coverage_level,draw_0,draw_1,draw_10,draw_100,draw_101,draw_102,draw_103,draw_104,draw_105,...,draw_993,draw_994,draw_995,draw_996,draw_997,draw_998,draw_999,location_id,vehicle,year
0,0.2,0.048558,0.040897,0.057464,0.055794,0.078894,0.069322,0.066442,0.074779,0.040128,...,0.060894,0.038659,0.063932,0.084612,0.040307,0.073570,0.062551,6,industry wheat,2021
1,0.5,0.048558,0.040897,0.057464,0.055794,0.078894,0.069322,0.066442,0.074779,0.040128,...,0.060894,0.038659,0.063932,0.084612,0.040307,0.073570,0.062551,6,industry wheat,2021
2,0.8,0.048558,0.040897,0.057464,0.055794,0.078894,0.069322,0.066442,0.074779,0.040128,...,0.060894,0.038659,0.063932,0.084612,0.040307,0.073570,0.062551,6,industry wheat,2021
3,1.0,0.048558,0.040897,0.057464,0.055794,0.078894,0.069322,0.066442,0.074779,0.040128,...,0.060894,0.038659,0.063932,0.084612,0.040307,0.073570,0.062551,6,industry wheat,2021
4,0.2,0.120573,0.106497,0.136935,0.133869,0.176306,0.158721,0.153429,0.168745,0.105084,...,0.143237,0.102384,0.148818,0.186810,0.105413,0.166525,0.146281,6,industry wheat,2025

# HEMOGLOBIN

In [8]:
from scipy.stats import norm

# mean and 0.975-quantile of normal distribution for mean difference (MD)
mean = 3
q_975 = 6.1

# 0.975-quantile of standard normal distribution (=1.96, approximately)
q_975_stdnorm = norm().ppf(0.975)

std = (q_975 - mean) / q_975_stdnorm # std dev of normal distribution

# Frozen normal distribution for MD, representing uncertainty in our effect size
hb_md_distribution = norm(mean, std)

In [9]:
mean_difference_hemoglobin_fort = generate_normal_rr_deficiency_nofort_draws(mean, std, location_ids)
mean_difference_hemoglobin_fort.head()

draws,draw_0,draw_1,draw_10,draw_100,draw_101,draw_102,draw_103,draw_104,draw_105,draw_106,...,draw_990,draw_991,draw_992,draw_993,draw_994,draw_995,draw_996,draw_997,draw_998,draw_999
location_id,,,,,,,,,,,,,,,,,,,,,
168,5.67384,2.263045,2.010783,1.632669,3.592127,3.619293,0.71747,3.769218,2.099288,5.25659,...,2.68253,2.315703,4.976409,5.670455,1.949907,3.061148,3.881265,2.227427,2.005891,1.92852
161,5.67384,2.263045,2.010783,1.632669,3.592127,3.619293,0.71747,3.769218,2.099288,5.25659,...,2.68253,2.315703,4.976409,5.670455,1.949907,3.061148,3.881265,2.227427,2.005891,1.92852
201,5.67384,2.263045,2.010783,1.632669,3.592127,3.619293,0.71747,3.769218,2.099288,5.25659,...,2.68253,2.315703,4.976409,5.670455,1.949907,3.061148,3.881265,2.227427,2.005891,1.92852
205,5.67384,2.263045,2.010783,1.632669,3.592127,3.619293,0.71747,3.769218,2.099288,5.25659,...,2.68253,2.315703,4.976409,5.670455,1.949907,3.061148,3.881265,2.227427,2.005891,1.92852
202,5.67384,2.263045,2.010783,1.632669,3.592127,3.619293,0.71747,3.769218,2.099288,5.25659,...,2.68253,2.315703,4.976409,5.670455,1.949907,3.061148,3.881265,2.227427,2.005891,1.92852

In [10]:
effective_baseline_coverage = get_effective_iron_hemoglobin_coverage(baseline_coverage.set_index(['location_id','vehicle','year']), 
                                                                     sex_ids, 
                                                                     age_group_ids, 
                                                                     effective_fractions, 
                                                                     years)

effective_counterfactual_coverage = get_effective_iron_hemoglobin_coverage(counterfactual_coverage.set_index(['location_id','vehicle','year','coverage_level']), 
                                                                     sex_ids, 
                                                                     age_group_ids, 
                                                                     effective_fractions, 
                                                                     years)

delta_effective_coverage = effective_counterfactual_coverage - effective_baseline_coverage
delta_effective_coverage

NOTE: not currently applying time lag effect.
NOTE: not currently applying time lag effect.

                                                                           draw_0  \
location_id sex_id age_group_id vehicle             year coverage_level
6           1      2            industry wheat      2021 0.2             0.000000
                                                         0.5             0.000000
                                                         0.8             0.000000
                                                         1.0             0.000000
                                                    2025 0.2             0.000000
...                                                                           ...
522         2      5            zero industry wheat 2021 1.0             0.000000
                                                    2025 0.2            -0.008188
                                                         0.5            -0.020470
                                                         0.8            -0.032752
                                                         1.0            -0.040939

                                                                           draw_1  \
location_id sex_id age_group_id vehicle             year coverage_level
6           1      2            industry wheat      2021 0.2             0.000000
                                                         0.5             0.000000
                                                         0.8             0.000000
                                                         1.0             0.000000
                                                    2025 0.2             0.000000
...                                                                           ...
522         2      5            zero industry wheat 2021 1.0             0.000000
                                                    2025 0.2            -0.012445
                                                         0.5            -0.031113
                                                         0.8            -0.049781
                                                         1.0            -0.062226

                                                                          draw_10  \
location_id sex_id age_group_id vehicle             year coverage_level
6           1      2            industry wheat      2021 0.2             0.000000
                                                         0.5             0.000000
                                                         0.8             0.000000
                                                         1.0             0.000000
                                                    2025 0.2             0.000000
...                                                                           ...
522         2      5            zero industry wheat 2021 1.0             0.000000
                                                    2025 0.2            -0.010466
                                                         0.5            -0.026166
                                                         0.8            -0.041865
                                                         1.0            -0.052332

                                                                         draw_100  \
location_id sex_id age_group_id vehicle             year coverage_level
6           1      2            industry wheat      2021 0.2             0.000000
                                                         0.5             0.000000
                                                         0.8             0.000000
                                                         1.0             0.000000
                                                    2025 0.2             0.000000
...                                                                           ...
522         2      5            zero industry wheat 2021 1.0             0.000000
                                                    2025 0.2            -0.013672
                                                         0.5            -0.034180
                                                         0.8            -0.054688
                                                         1.0            -0.068360

                                                                         draw_101  \
location_id sex_id age_group_id vehicle             year coverage_level
6           1      2            industry wheat      2021 0.2             0.000000
                                                         0.5             0.000000
                                                         0.8             0.000000
                                                         1.0             0.000000
                                                    2025 0.2             0.000000
...                                                                           ...
522         2      5            zero industry wheat 2021 1.0             0.000000
                                                    2025 0.2            -0.016325
                                                         0.5            -0.040813
                                                         0.8            -0.065302
                                                         1.0            -0.081627

                                                                         draw_102  \
location_id sex_id age_group_id vehicle             year coverage_level
6           1      2            industry wheat      2021 0.2             0.000000
                                                         0.5             0.000000
                                                         0.8             0.000000
                                                         1.0             0.000000
                                                    2025 0.2             0.000000
...                                                                           ...
522         2      5            zero industry wheat 2021 1.0             0.000000
                                                    2025 0.2            -0.013439
                                                         0.5            -0.033596
                                                         0.8            -0.053754
                                                         1.0            -0.067193

                                                                         draw_103  \
location_id sex_id age_group_id vehicle             year coverage_level
6           1      2            industry wheat      2021 0.2             0.000000
                                                         0.5             0.000000
                                                         0.8             0.000000
                                                         1.0             0.000000
                                                    2025 0.2             0.000000
...                                                                           ...
522         2      5            zero industry wheat 2021 1.0             0.000000
                                                    2025 0.2            -0.013124
                                                         0.5            -0.032810
                                                         0.8            -0.052496
                                                         1.0            -0.065619

                                                                         draw_104  \
location_id sex_id age_group_id vehicle             year coverage_level
6           1      2            industry wheat      2021 0.2             0.000000
                                                         0.5             0.000000
                                                         0.8             0.000000
                                                         1.0             0.000000
                                                    2025 0.2             0.000000
...                                                                           ...
522         2      5            zero industry wheat 2021 1.0             0.000000
                                                    2025 0.2            -0.009666
                                                         0.5            -0.024166
                                                         0.8            -0.038666
                                                         1.0            -0.048332

                                                                         draw_105  \
location_id sex_id age_group_id vehicle             year coverage_level
6           1      2            industry wheat      2021 0.2             0.000000
                                                         0.5             0.000000
                                                         0.8             0.000000
                                                         1.0             0.000000
                                                    2025 0.2             0.000000
...                                                                           ...
522         2      5            zero industry wheat 2021 1.0             0.000000
                                                    2025 0.2            -0.017082
                                                         0.5            -0.042706
                                                         0.8            -0.068329
                                                         1.0            -0.085411

                                                                         draw_106  \
location_id sex_id age_group_id vehicle             year coverage_level
6           1      2            industry wheat      2021 0.2             0.000000
                                                         0.5             0.000000
                                                         0.8             0.000000
                                                         1.0             0.000000
                                                    2025 0.2             0.000000
...                                                                           ...
522         2      5            zero industry wheat 2021 1.0             0.000000
                                                    2025 0.2            -0.013286
                                                         0.5            -0.033216
                                                         0.8            -0.053145
                                                         1.0            -0.066431

                                                                         ...  \
location_id sex_id age_group_id vehicle             year coverage_level  ...
6           1      2            industry wheat      2021 0.2             ...
                                                         0.5             ...
                                                         0.8             ...
                                                         1.0             ...
                                                    2025 0.2             ...
...                                                                      ...
522         2      5            zero industry wheat 2021 1.0             ...
                                                    2025 0.2             ...
                                                         0.5             ...
                                                         0.8             ...
                                                         1.0             ...

                                                                         draw_990  \
location_id sex_id age_group_id vehicle             year coverage_level
6           1      2            industry wheat      2021 0.2             0.000000
                                                         0.5             0.000000
                                                         0.8             0.000000
                                                         1.0             0.000000
                                                    2025 0.2             0.000000
...                                                                           ...
522         2      5            zero industry wheat 2021 1.0             0.000000
                                                    2025 0.2            -0.011881
                                                         0.5            -0.029704
                                                         0.8            -0.047526
                                                         1.0            -0.059407

                                                                         draw_991  \
location_id sex_id age_group_id vehicle             year coverage_level
6           1      2            industry wheat      2021 0.2             0.000000
                                                         0.5             0.000000
                                                         0.8             0.000000
                                                         1.0             0.000000
                                                    2025 0.2             0.000000
...                                                                           ...
522         2      5            zero industry wheat 2021 1.0             0.000000
                                                    2025 0.2            -0.009376
                                                         0.5            -0.023440
                                                         0.8            -0.037505
                                                         1.0            -0.046881

                                                                         draw_992  \
location_id sex_id age_group_id vehicle             year coverage_level
6           1      2            industry wheat      2021 0.2             0.000000
                                                         0.5             0.000000
                                                         0.8             0.000000
                                                         1.0             0.000000
                                                    2025 0.2             0.000000
...                                                                           ...
522         2      5            zero industry wheat 2021 1.0             0.000000
                                                    2025 0.2            -0.008246
                                                         0.5            -0.020615
                                                         0.8            -0.032984
                                                         1.0            -0.041230

                                                                         draw_993  \
location_id sex_id age_group_id vehicle             year coverage_level
6           1      2            industry wheat      2021 0.2             0.000000
                                                         0.5             0.000000
                                                         0.8             0.000000
                                                         1.0             0.000000
                                                    2025 0.2             0.000000
...                                                                           ...
522         2      5            zero industry wheat 2021 1.0             0.000000
                                                    2025 0.2            -0.008759
                                                         0.5            -0.021898
                                                         0.8            -0.035036
                                                         1.0            -0.043796

                                                                         draw_994  \
location_id sex_id age_group_id vehicle             year coverage_level
6           1      2            industry wheat      2021 0.2             0.000000
                                                         0.5             0.000000
                                                         0.8             0.000000
                                                         1.0             0.000000
                                                    2025 0.2             0.000000
...                                                                           ...
522         2      5            zero industry wheat 2021 1.0             0.000000
                                                    2025 0.2            -0.017058
                                                         0.5            -0.042644
                                                         0.8            -0.068231
                                                         1.0            -0.085288

                                                                         draw_995  \
location_id sex_id age_group_id vehicle             year coverage_level
6           1      2            industry wheat      2021 0.2             0.000000
                                                         0.5             0.000000
                                                         0.8             0.000000
                                                         1.0             0.000000
                                                    2025 0.2             0.000000
...                                                                           ...
522         2      5            zero industry wheat 2021 1.0             0.000000
                                                    2025 0.2            -0.011435
                                                         0.5            -0.028588
                                                         0.8            -0.045741
                                                         1.0            -0.057176

                                                                         draw_996  \
location_id sex_id age_group_id vehicle             year coverage_level
6           1      2            industry wheat      2021 0.2             0.000000
                                                         0.5             0.000000
                                                         0.8             0.000000
                                                         1.0             0.000000
                                                    2025 0.2             0.000000
...                                                                           ...
522         2      5            zero industry wheat 2021 1.0             0.000000
                                                    2025 0.2            -0.014524
                                                         0.5            -0.036310
                                                         0.8            -0.058097
                                                         1.0            -0.072621

                                                                         draw_997  \
location_id sex_id age_group_id vehicle             year coverage_level
6           1      2            industry wheat      2021 0.2             0.000000
                                                         0.5             0.000000
                                                         0.8             0.000000
                                                         1.0             0.000000
                                                    2025 0.2             0.000000
...                                                                           ...
522         2      5            zero industry wheat 2021 1.0             0.000000
                                                    2025 0.2            -0.015788
                                                         0.5            -0.039471

In [11]:
mean_hgb = generate_hemoglobin_values(delta_effective_coverage, 
                                      mean_difference_hemoglobin_fort,
                                      location_ids, age_group_ids, sex_ids)

mean_hgb = mean_hgb.reset_index()
mean_hgb = (mean_hgb
            .loc[mean_hgb.year_id.isin([2025, np.nan])]
            .set_index([c for c in mean_hgb.columns if 'draw' not in c]))

# note, expect to see missing results for locations excluded due to illogical values

mean_hgb.to_csv('anemia_files_u5/mean_hgb.csv')
mean_hgb

/ihme/homes/alibow/notebooks/vivarium_research_lsff/multiplication_models/iron_hemoglobin_functions.py:121: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  ignore_index=True)

                                                                                draw_0  \
location_id vehicle             sex_id age_group_id year_id coverage_level
11          industry wheat      1      2            NaN     baseline        162.537335
                                       3            NaN     baseline        128.108577
                                       4            NaN     baseline        116.694047
                                       5            NaN     baseline        124.209700
                                2      2            NaN     baseline        162.373339
...                                                                                ...
522         industry wheat      2      5            2025.0  1.0             115.593952
            zero industry wheat 2      5            2025.0  0.2             112.410705
                                                            0.5             112.341020
                                                            0.8             112.271334
                                                            1.0             112.224878

                                                                                draw_1  \
location_id vehicle             sex_id age_group_id year_id coverage_level
11          industry wheat      1      2            NaN     baseline        161.366817
                                       3            NaN     baseline        132.713336
                                       4            NaN     baseline        118.048532
                                       5            NaN     baseline        118.689308
                                2      2            NaN     baseline        167.888409
...                                                                                ...
522         industry wheat      2      5            2025.0  1.0             112.283442
            zero industry wheat 2      5            2025.0  0.2             110.716549
                                                            0.5             110.674302
                                                            0.8             110.632056
                                                            1.0             110.603892

                                                                               draw_10  \
location_id vehicle             sex_id age_group_id year_id coverage_level
11          industry wheat      1      2            NaN     baseline        175.149845
                                       3            NaN     baseline        135.965175
                                       4            NaN     baseline        108.423498
                                       5            NaN     baseline        124.179081
                                2      2            NaN     baseline        161.528363
...                                                                                ...
522         industry wheat      2      5            2025.0  1.0             111.749190
            zero industry wheat 2      5            2025.0  0.2             110.478154
                                                            0.5             110.446585
                                                            0.8             110.415017
                                                            1.0             110.393972

                                                                              draw_100  \
location_id vehicle             sex_id age_group_id year_id coverage_level
11          industry wheat      1      2            NaN     baseline        165.142201
                                       3            NaN     baseline        124.548957
                                       4            NaN     baseline        113.084533
                                       5            NaN     baseline        121.421113
                                2      2            NaN     baseline        171.131066
...                                                                                ...
522         industry wheat      2      5            2025.0  1.0             110.481391
            zero industry wheat 2      5            2025.0  0.2             109.292404
                                                            0.5             109.258922
                                                            0.8             109.225439
                                                            1.0             109.203117

                                                                              draw_101  \
location_id vehicle             sex_id age_group_id year_id coverage_level
11          industry wheat      1      2            NaN     baseline        165.273795
                                       3            NaN     baseline        132.111498
                                       4            NaN     baseline        117.967886
                                       5            NaN     baseline        116.411739
                                2      2            NaN     baseline        163.541885
...                                                                                ...
522         industry wheat      2      5            2025.0  1.0             112.289803
            zero industry wheat 2      5            2025.0  0.2             109.432621
                                                            0.5             109.344657
                                                            0.8             109.256693
                                                            1.0             109.198050

                                                                              draw_102  \
location_id vehicle             sex_id age_group_id year_id coverage_level
11          industry wheat      1      2            NaN     baseline        183.974392
                                       3            NaN     baseline        135.206599
                                       4            NaN     baseline        113.780310
                                       5            NaN     baseline        122.489439
                                2      2            NaN     baseline        166.033503
...                                                                                ...
522         industry wheat      2      5            2025.0  1.0             112.033874
            zero industry wheat 2      5            2025.0  0.2             109.422342
                                                            0.5             109.349385
                                                            0.8             109.276428
                                                            1.0             109.227790

                                                                              draw_103  \
location_id vehicle             sex_id age_group_id year_id coverage_level
11          industry wheat      1      2            NaN     baseline        169.394623
                                       3            NaN     baseline        138.923143
                                       4            NaN     baseline        114.195511
                                       5            NaN     baseline        122.589276
                                2      2            NaN     baseline        167.968281
...                                                                                ...
522         industry wheat      2      5            2025.0  1.0             114.096404
            zero industry wheat 2      5            2025.0  0.2             113.585256
                                                            0.5             113.571132
                                                            0.8             113.557008
                                                            1.0             113.547592

                                                                              draw_104  \
location_id vehicle             sex_id age_group_id year_id coverage_level
11          industry wheat      1      2            NaN     baseline        181.589668
                                       3            NaN     baseline        136.464246
                                       4            NaN     baseline        110.055419
                                       5            NaN     baseline        121.181499
                                2      2            NaN     baseline        170.457961
...                                                                                ...
522         industry wheat      2      5            2025.0  1.0             110.426963
            zero industry wheat 2      5            2025.0  0.2             108.137943
                                                            0.5             108.083291
                                                            0.8             108.028638
                                                            1.0             107.992203

                                                                              draw_105  \
location_id vehicle             sex_id age_group_id year_id coverage_level
11          industry wheat      1      2            NaN     baseline        171.553361
                                       3            NaN     baseline        139.988663
                                       4            NaN     baseline        117.753886
                                       5            NaN     baseline        125.087467
                                2      2            NaN     baseline        168.120883
...                                                                                ...
522         industry wheat      2      5            2025.0  1.0             115.924719
            zero industry wheat 2      5            2025.0  0.2             114.225399
                                                            0.5             114.171609
                                                            0.8             114.117818
                                                            1.0             114.081958

                                                                              draw_106  \
location_id vehicle             sex_id age_group_id year_id coverage_level
11          industry wheat      1      2            NaN     baseline        170.935567
                                       3            NaN     baseline        136.419914
                                       4            NaN     baseline        112.514560
                                       5            NaN     baseline        121.040149
                                2      2            NaN     baseline        165.438924
...                                                                                ...
522         industry wheat      2      5            2025.0  1.0             113.124635
            zero industry wheat 2      5            2025.0  0.2             109.354830
                                                            0.5             109.250069
                                                            0.8             109.145308
                                                            1.0             109.075467

                                                                            ...  \
location_id vehicle             sex_id age_group_id year_id coverage_level  ...
11          industry wheat      1      2            NaN     baseline        ...
                                       3            NaN     baseline        ...
                                       4            NaN     baseline        ...
                                       5            NaN     baseline        ...
                                2      2            NaN     baseline        ...
...                                                                         ...
522         industry wheat      2      5            2025.0  1.0             ...
            zero industry wheat 2      5            2025.0  0.2             ...
                                                            0.5             ...
                                                            0.8             ...
                                                            1.0             ...

                                                                              draw_990  \
location_id vehicle             sex_id age_group_id year_id coverage_level
11          industry wheat      1      2            NaN     baseline        168.888796
                                       3            NaN     baseline        128.845407
                                       4            NaN     baseline        120.322340
                                       5            NaN     baseline        119.359127
                                2      2            NaN     baseline        165.217393
...                                                                                ...
522         industry wheat      2      5            2025.0  1.0             110.842030
            zero industry wheat 2      5            2025.0  0.2             109.030157
                                                            0.5             108.982348
                                                            0.8             108.934540
                                                            1.0             108.902667

                                                                              draw_991  \
location_id vehicle             sex_id age_group_id year_id coverage_level
11          industry wheat      1      2            NaN     baseline        167.567843
                                       3            NaN     baseline        141.840703
                                       4            NaN     baseline        114.165518
                                       5            NaN     baseline        122.372442
                                2      2            NaN     baseline        166.753700
...                                                                                ...
522         industry wheat      2      5            2025.0  1.0             111.880114
            zero industry wheat 2      5            2025.0  0.2             110.494753
                                                            0.5             110.462185
                                                            0.8             110.429616
                                                            1.0             110.407904

                                                                              draw_992  \
location_id vehicle             sex_id age_group_id year_id coverage_level
11          industry wheat      1      2            NaN     baseline        175.388472
                                       3            NaN     baseline        135.730835
                                       4            NaN     baseline        116.475622
                                       5            NaN     baseline        120.018969
                                2      2            NaN     baseline        169.539516
...                                                                                ...
522         industry wheat      2      5            2025.0  1.0             111.727616
            zero industry wheat 2      5            2025.0  0.2             108.926576
                                                            0.5             108.865023
                                                            0.8             108.803470
                                                            1.0             108.762435

                                                                              draw_993  \
location_id vehicle             sex_id age_group_id year_id coverage_level
11          industry wheat      1      2            NaN     baseline        168.658595
                                       3            NaN     baseline        142.837879
                                       4            NaN     baseline        118.536108
                                       5            NaN     baseline        117.908573
                                2      2            NaN     baseline        167.527443
...                                                                                ...
522         industry wheat      2      5            2025.0  1.0             112.065405
            zero industry wheat 2      5            2025.0  0.2             108.782466
                                                            0.5             108.707964
                                                            0.8             108.633462
                                                            1.0             108.583793

                                                                              draw_994  \
location_id vehicle             sex_id age_group_id year_id coverage_level
11          industry wheat      1      2            NaN     baseline        166.195967
                                       3            NaN     baseline        140.292585
                                       4            NaN     baseline        111.077883
                                       5            NaN     baseline        121.631622
                                2      2            NaN     baseline        171.184916
...                                                                                ...
522         industry wheat      2      5            2025.0  1.0             112.104565
            zero industry wheat 2      5            2025.0  0.2             110.526956
                                                            0.5             110.477065
                                                            0.8             110.427174
                                                            1.0             110.393913

                                                                              draw_995  \
location_id vehicle             sex_id age_group_id year_id coverage_level
11          industry wheat      1      2            NaN     baseline        167.147827
                                       3            NaN     baseline        137.735396
                                       4            NaN     baseline        114.384075
                                       5            NaN     baseline        120.556056
                                2      2            NaN     baseline        165.005131
...                                                                                ...
522         industry wheat      2      5            2025.0  1.0             110.220145
            zero industry wheat 2      5            2025.0  0.2             108.194050
                                                            0.5             108.141543
                                                            0.8             108.089036
                                                            1.0             108.054031

                                                                              draw_996  \
location_id vehicle             sex_id age_group_id year_id coverage_level
11          industry wheat      1      2            NaN     baseline        157.917315
                                       3            NaN     baseline        140.882186
                                       4            NaN     baseline        110.250688
                                       5            NaN     baseline        125.776417
                                2      2            NaN     baseline        170.269360
...                                                                                ...
522         industry wheat      2      5            2025.0  1.0             111.867446
            zero industry wheat 2      5            2025.0  0.2             108.949139
                                                            0.5             108.864581

In [12]:
hgb_sd = get_draws('modelable_entity_id',
                10488,
                source='epi',
                location_id=location_ids,
                age_group_id=age_group_ids,
                sex_id=sex_ids,
                year_id=2019,
                gbd_round_id=6,
                decomp_step='step4',
                status='best')
(hgb_sd.set_index(['location_id','sex_id','age_group_id'])
 .filter([c for c in hgb_sd if 'draw' in c])
 .reset_index()).to_csv('anemia_files_u5/sd_hgb.csv')

In [ ]:
# NOW RUN HEMOGLOBIN_TO_ANEMIA.R FILE BEFORE RUNNING NEXT CELL
assert "Did you run the R file?" == "Double check :)", "Make sure you run the R file!"

In [16]:
anemia = load_anemia_prev_and_calculate_ylds('anemia_files_u5/anemia_prev.csv')
baseline_anemia = (duplicate_over_simulation_years(anemia.loc[anemia.coverage_level=='baseline'], years)
                   .drop(columns='coverage_level')
                   .set_index(['location_id','age_group_id','sex_id','year','draw','vehicle']))
counterfactual_anemia = (anemia.loc[anemia.coverage_level != 'baseline']
                         .set_index(['location_id','age_group_id','sex_id','year','draw','vehicle','coverage_level']))
averted_anemia = baseline_anemia - counterfactual_anemia
averted_anemia

                                                                                      mild  \
location_id age_group_id sex_id year draw     vehicle             coverage_level
6           2            1      2021 draw_0   industry wheat      NaN                  NaN
                                              zero industry wheat NaN                  NaN
                                     draw_1   industry wheat      NaN                  NaN
                                              zero industry wheat NaN                  NaN
                                     draw_10  industry wheat      NaN                  NaN
...                                                                                    ...
522         5            2      2025 draw_999 industry wheat      1.0             0.008098
                                              zero industry wheat 0.2            -0.000106
                                                                  0.5            -0.000265
                                                                  0.8            -0.000423
                                                                  1.0            -0.000529

                                                                                  moderate  \
location_id age_group_id sex_id year draw     vehicle             coverage_level
6           2            1      2021 draw_0   industry wheat      NaN                  NaN
                                              zero industry wheat NaN                  NaN
                                     draw_1   industry wheat      NaN                  NaN
                                              zero industry wheat NaN                  NaN
                                     draw_10  industry wheat      NaN                  NaN
...                                                                                    ...
522         5            2      2025 draw_999 industry wheat      1.0             0.019950
                                              zero industry wheat 0.2            -0.000280
                                                                  0.5            -0.000700
                                                                  0.8            -0.001120
                                                                  1.0            -0.001401

                                                                                    severe  \
location_id age_group_id sex_id year draw     vehicle             coverage_level
6           2            1      2021 draw_0   industry wheat      NaN                  NaN
                                              zero industry wheat NaN                  NaN
                                     draw_1   industry wheat      NaN                  NaN
                                              zero industry wheat NaN                  NaN
                                     draw_10  industry wheat      NaN                  NaN
...                                                                                    ...
522         5            2      2025 draw_999 industry wheat      1.0             0.001113
                                              zero industry wheat 0.2            -0.000016
                                                                  0.5            -0.000040
                                                                  0.8            -0.000065
                                                                  1.0            -0.000081

                                                                                    anemic  \
location_id age_group_id sex_id year draw     vehicle             coverage_level
6           2            1      2021 draw_0   industry wheat      NaN                  NaN
                                              zero industry wheat NaN                  NaN
                                     draw_1   industry wheat      NaN                  NaN
                                              zero industry wheat NaN                  NaN
                                     draw_10  industry wheat      NaN                  NaN
...                                                                                    ...
522         5            2      2025 draw_999 industry wheat      1.0             0.029160
                                              zero industry wheat 0.2            -0.000402
                                                                  0.5            -0.001005
                                                                  0.8            -0.001608
                                                                  1.0            -0.002010

                                                                                     mild_ylds  \
location_id age_group_id sex_id year draw     vehicle             coverage_level
6           2            1      2021 draw_0   industry wheat      NaN                      NaN
                                              zero industry wheat NaN                      NaN
                                     draw_1   industry wheat      NaN                      NaN
                                              zero industry wheat NaN                      NaN
                                     draw_10  industry wheat      NaN                      NaN
...                                                                                        ...
522         5            2      2025 draw_999 industry wheat      1.0             3.239126e-05
                                              zero industry wheat 0.2            -4.240066e-07
                                                                  0.5            -1.058969e-06
                                                                  0.8            -1.692671e-06
                                                                  1.0            -2.114437e-06

                                                                                  moderate_ylds  \
location_id age_group_id sex_id year draw     vehicle             coverage_level
6           2            1      2021 draw_0   industry wheat      NaN                       NaN
                                              zero industry wheat NaN                       NaN
                                     draw_1   industry wheat      NaN                       NaN
                                              zero industry wheat NaN                       NaN
                                     draw_10  industry wheat      NaN                       NaN
...                                                                                         ...
522         5            2      2025 draw_999 industry wheat      1.0                  0.001037
                                              zero industry wheat 0.2                 -0.000015
                                                                  0.5                 -0.000036
                                                                  0.8                 -0.000058
                                                                  1.0                 -0.000073

                                                                                  severe_ylds  \
location_id age_group_id sex_id year draw     vehicle             coverage_level
6           2            1      2021 draw_0   industry wheat      NaN                     NaN
                                              zero industry wheat NaN                     NaN
                                     draw_1   industry wheat      NaN                     NaN
                                              zero industry wheat NaN                     NaN
                                     draw_10  industry wheat      NaN                     NaN
...                                                                                       ...
522         5            2      2025 draw_999 industry wheat      1.0                0.000166
                                              zero industry wheat 0.2               -0.000002
                                                                  0.5               -0.000006
                                                                  0.8               -0.000010
                                                                  1.0               -0.000012

                                                                                  anemic_ylds
location_id age_group_id sex_id year draw     vehicle             coverage_level
6           2            1      2021 draw_0   industry wheat      NaN                     NaN
                                              zero industry wheat NaN                     NaN
                                     draw_1   industry wheat      NaN                     NaN
                                              zero industry wheat NaN                     NaN
                                     draw_10  industry wheat      NaN                     NaN
...                                                                                       ...
522         5            2      2025 draw_999 industry wheat      1.0                0.001236
                                              zero industry wheat 0.2               -0.000017
                                                                  0.5               -0.000043
                                                                  0.8               -0.000070
                                                                  1.0               -0.000087

[2000000 rows x 8 columns]

In [17]:
anemia_cols = ['mild','moderate','severe','anemic','mild_ylds','moderate_ylds','severe_ylds','anemic_ylds']

def calculate_counterfactual_anemia_prevalence(location_ids, sex_ids, age_group_ids,
                                              anemia_data):
    anemia_diff = anemia_data.drop(columns=[c for c in anemia_cols if c != 'anemic']).dropna()
    pop = get_population(location_id=location_ids,
                        sex_id=sex_ids,
                        age_group_id=age_group_ids,
                        year_id=2019,
                        gbd_round_id=6,
                        decomp_step='step4')
    anemia_diff = anemia_diff.merge(pop, on=['location_id','age_group_id','sex_id'])
    anemia_diff['anemic'] = anemia_diff['anemic'] * anemia_diff['population']
    anemia_diff = anemia_diff.groupby(['location_id','draw','vehicle','coverage_level','year']).sum()
    anemia_diff['anemic'] = anemia_diff['anemic'] / anemia_diff['population'] * 100
    anemia_diff = anemia_diff.filter(['anemic'])
    anemia_diff = anemia_diff.stack().reset_index().rename(columns={'level_4':'measure',0:'value'})
    anemia_diff = pd.pivot_table(anemia_diff, index=['location_id','vehicle','coverage_level','year'],
                                columns='draw',
                                values='value')
    return anemia_diff

In [12]:
# total iron responsive anemia burden
iron_responsive_anemia_sequelae = [1004, 1005, 1006, 1008, 1009, 1010, 1012, 1013, 
                                   1014, 1016, 1017, 1018, 1020, 1021, 1022, 1024, 1025, 1026, 
                                   1028, 1029, 1030, 1032, 1033, 1034, 1361, 1364, 1367, 1373, 1376, 
                                   1379, 1385, 1388, 1391, 1397, 1400, 1403, 1409, 1412, 1415, 1421, 
                                   1424, 1427, 1433, 1436, 1439, 1445, 1448, 1451, 5213, 5216, 5219, 
                                   5222, 5225, 5228, 5237, 5240, 5243, 5246, 5249, 5252, 5261, 5264, 
                                   5267, 5270, 5273, 5276, 4985, 4988, 4991, 4994, 4997, 5000, 5009, 
                                   5012, 5015, 5678, 5681, 5684, 7214, 7217, 7220, 4952, 4955, 4958, 
                                   4961, 4964, 4967, 4976, 4979, 4982, 5627, 5630, 5633, 7202, 7205, 
                                   7208, 5393, 5396, 5399, 182, 183, 184, 240, 241, 242, 177, 178, 
                                   179, 144,145,146,172,173,174,525,526,527,1106,1107,1108,537,538,
                                   539,206,207,208, 22989, 22990, 22991, 22992, 22993, 22999, 23000, 
                                   23001, 23002, 23003, 23009, 23010, 23011, 23012, 23013,
                                   5567, 5570, 5573, 5579, 5582, 5585,
                                   23030, 23031, 23032, 23034, 23035, 23036, 23038, 23039, 23040,
                                   23042, 23043, 23044, 23046, 23047, 23048]

ira_prev = get_draws('sequela_id', iron_responsive_anemia_sequelae, 
                 source='como',
                 location_id=location_ids, 
                 age_group_id=age_group_ids,
                 sex_id=sex_ids,
                 year_id=2019,
                 measure_id=5,
                 decomp_step='step5',
                 gbd_round_id=6)
ira_prev = ira_prev.groupby(['location_id','sex_id','age_group_id'], as_index=False).sum()

In [13]:
def calculate_counterfactual_iron_responsive_anemia_prevalence(ira_prevalence_data,
                                                              averted_anemia_data,
                                                              location_ids,
                                                              sex_ids,
                                                              age_group_ids):
    averted_anemia_prepped = averted_anemia_data.filter(['anemic']).reset_index()
    averted_anemia_prepped = averted_anemia_prepped.pivot_table(index=['location_id','age_group_id','sex_id','year','coverage_level','vehicle'],
                                                           columns='draw', values='anemic')
    ira_diff = (ira_prevalence_data
            .set_index(['location_id','age_group_id','sex_id'])
            .drop(columns=['measure_id','sequela_id','year_id','metric_id'])
            - averted_anemia_prepped)
    pop = get_population(location_id=location_ids,
                        age_group_id=age_group_ids,
                        sex_id=sex_ids,
                        year_id=2019,
                        gbd_round_id=6,
                        decomp_step='step4')
    ira_diff = ira_diff.reset_index().merge(pop, on=['location_id','age_group_id','sex_id'])
    for i in list(range(0,1000)):
        ira_diff[f'draw_{i}'] = ira_diff[f'draw_{i}'] * ira_diff['population'] * 100
    ira_diff = ira_diff.groupby(['location_id','year','vehicle','coverage_level']).sum()
    for i in list(range(0,1000)):
        ira_diff[f'draw_{i}'] = ira_diff[f'draw_{i}'] / ira_diff['population']
    ira_diff = ira_diff.filter([c for c in ira_diff if 'draw' in c])
    return ira_diff

In [18]:
anemia_diff = calculate_counterfactual_anemia_prevalence(location_ids, sex_ids, age_group_ids,
                                              anemia)
ira_diff = calculate_counterfactual_iron_responsive_anemia_prevalence(ira_prev,
                                                              averted_anemia,
                                                              location_ids,
                                                              sex_ids,
                                                              age_group_ids)
anemia_diff['measure'] = 'anemia'
ira_diff['measure'] = 'iron_responsive_anemia'
deficiency_difference = pd.concat([anemia_diff.reset_index(), ira_diff.reset_index()], ignore_index=True, sort=True)
deficiency_difference.to_pickle('results_raw/iron_deficiency_difference_u5.pkl')
deficiency_difference.head()

,coverage_level,draw_0,draw_1,draw_10,draw_100,draw_101,draw_102,draw_103,draw_104,draw_105,...,draw_994,draw_995,draw_996,draw_997,draw_998,draw_999,location_id,measure,vehicle,year
0,0.2,8.192917,7.989811,7.345736,9.671348,8.099245,8.798270,8.597711,10.538525,8.750615,...,8.094079,9.069226,7.667233,9.863078,7.138512,10.467383,6,anemia,industry wheat,2025.0
1,0.5,7.807027,7.854097,7.196910,9.537284,7.764449,8.469767,8.533726,10.135217,8.609992,...,7.982187,8.799927,7.334378,9.704744,6.971890,10.277881,6,anemia,industry wheat,2025.0
2,0.8,7.444106,7.721477,7.052030,9.405556,7.447579,8.156076,8.470324,9.750599,8.472092,...,7.872436,8.540458,7.022377,9.549352,6.810689,10.092259,6,anemia,industry wheat,2025.0
3,1.0,7.214374,7.634756,6.957595,9.319020,7.245912,7.954938,8.428377,9.504281,8.381652,...,7.800443,8.372811,6.825381,9.447375,6.706161,9.970642,6,anemia,industry wheat,2025.0
4,0.2,8.500809,8.093633,7.462008,9.775082,8.371406,9.061635,8.647282,10.863355,8.857752,...,8.179144,9.282624,7.941044,9.983654,7.270980,10.615252,6,anemia,zero industry wheat,2025.0

In [19]:
counts, rates = population_weight_values(averted_anemia.reset_index(), age_group_ids, sex_ids, location_ids)

In [20]:
counts = summarize_data(counts)
rates = summarize_data(rates)

In [21]:
anemia_counts_averted = (counts.loc[counts.severity=='anemic']
     .loc[counts.measure=='ylds']
     .set_index(['location_id','coverage_level','year','vehicle'])
     .drop(columns=['severity','measure']))

anemia_rates_averted = (rates.loc[rates.severity=='anemic']
     .loc[rates.measure=='ylds']
     .set_index(['location_id','coverage_level','year','vehicle'])
     .drop(columns=['severity','measure']))
anemia_rates_averted.head()

draw                                                    draw_0    draw_1  \
location_id coverage_level year vehicle
6           0.2            2025 industry wheat        5.127151  1.672245
            0.5            2025 industry wheat       12.406260  4.129626
            0.8            2025 industry wheat       19.220593  6.527243
            1.0            2025 industry wheat       23.520714  8.093223
            0.2            2025 zero industry wheat  -0.708891 -0.210442

draw                                                  draw_10  draw_100  \
location_id coverage_level year vehicle
6           0.2            2025 industry wheat       1.693929  1.814628
            0.5            2025 industry wheat       4.175465  4.491790
            0.8            2025 industry wheat       6.587674  7.116169
            1.0            2025 industry wheat       8.158332  8.836954
            0.2            2025 zero industry wheat -0.247633 -0.261332

draw                                                  draw_101   draw_102  \
location_id coverage_level year vehicle
6           0.2            2025 industry wheat        4.224427   4.426745
            0.5            2025 industry wheat       10.258916  10.785358
            0.8            2025 industry wheat       15.950265  16.821555
            1.0            2025 industry wheat       19.564197  20.674836
            0.2            2025 zero industry wheat  -0.700000  -0.700384

draw                                                 draw_103   draw_104  \
location_id coverage_level year vehicle
6           0.2            2025 industry wheat       0.801196   5.753575
            0.5            2025 industry wheat       1.992702  13.998344
            0.8            2025 industry wheat       3.171978  21.802074
            1.0            2025 industry wheat       3.951430  26.771209
            0.2            2025 zero industry wheat -0.122877  -0.935311

draw                                                 draw_105   draw_106  ...  \
location_id coverage_level year vehicle                                   ...
6           0.2            2025 industry wheat       1.832983   6.763796  ...
            0.5            2025 industry wheat       4.532427  16.438621  ...
            0.8            2025 industry wheat       7.173003  25.575508  ...
            1.0            2025 industry wheat       8.901326  31.382504  ...
            0.2            2025 zero industry wheat -0.228350  -0.955237  ...

draw                                                  draw_990   draw_991  \
location_id coverage_level year vehicle
6           0.2            2025 industry wheat        3.756583   2.571796
            0.5            2025 industry wheat        9.242744   6.321287
            0.8            2025 industry wheat       14.555105   9.945040
            1.0            2025 industry wheat       18.002672  12.293243
            0.2            2025 zero industry wheat  -0.541487  -0.405695

draw                                                  draw_992   draw_993  \
location_id coverage_level year vehicle
6           0.2            2025 industry wheat        5.322750   6.139707
            0.5            2025 industry wheat       12.814289  14.792457
            0.8            2025 industry wheat       19.756432  22.820937
            1.0            2025 industry wheat       24.101136  27.849625
            0.2            2025 zero industry wheat  -0.867826  -0.934424

draw                                                 draw_994   draw_995  \
location_id coverage_level year vehicle
6           0.2            2025 industry wheat       1.382413   3.559267
            0.5            2025 industry wheat       3.421117   8.714561
            0.8            2025 industry wheat       5.418733  13.657717
            1.0            2025 industry wheat       6.728096  16.839727
            0.2            2025 zero industry wheat -0.169012  -0.544826

draw                                                  draw_996   draw_997  \
location_id coverage_level year vehicle
6           0.2            2025 industry wheat        4.210590   2.265128
            0.5            2025 industry wheat       10.193084   5.601500
            0.8            2025 industry wheat       15.800105   8.865658
            1.0            2025 industry wheat       19.342459  11.002394
            0.2            2025 zero industry wheat  -0.715097  -0.282772

draw                                                 draw_998   draw_999
location_id coverage_level year vehicle
6           0.2            2025 industry wheat       1.813299   2.734168
            0.5            2025 industry wheat       4.457380   6.753742
            0.8            2025 industry wheat       7.013381  10.677316
            1.0            2025 industry wheat       8.670048  13.240804
            0.2            2025 zero industry wheat -0.290821  -0.412302

[5 rows x 1000 columns]

In [14]:
# total iron responsive anemia burden
iron_responsive_anemia_sequelae = [1004, 1005, 1006, 1008, 1009, 1010, 1012, 1013, 
                                   1014, 1016, 1017, 1018, 1020, 1021, 1022, 1024, 1025, 1026, 
                                   1028, 1029, 1030, 1032, 1033, 1034, 1361, 1364, 1367, 1373, 1376, 
                                   1379, 1385, 1388, 1391, 1397, 1400, 1403, 1409, 1412, 1415, 1421, 
                                   1424, 1427, 1433, 1436, 1439, 1445, 1448, 1451, 5213, 5216, 5219, 
                                   5222, 5225, 5228, 5237, 5240, 5243, 5246, 5249, 5252, 5261, 5264, 
                                   5267, 5270, 5273, 5276, 4985, 4988, 4991, 4994, 4997, 5000, 5009, 
                                   5012, 5015, 5678, 5681, 5684, 7214, 7217, 7220, 4952, 4955, 4958, 
                                   4961, 4964, 4967, 4976, 4979, 4982, 5627, 5630, 5633, 7202, 7205, 
                                   7208, 5393, 5396, 5399, 182, 183, 184, 240, 241, 242, 177, 178, 
                                   179, 144,145,146,172,173,174,525,526,527,1106,1107,1108,537,538,
                                   539,206,207,208, 22989, 22990, 22991, 22992, 22993, 22999, 23000, 
                                   23001, 23002, 23003, 23009, 23010, 23011, 23012, 23013,
                                   5567, 5570, 5573, 5579, 5582, 5585,
                                   23030, 23031, 23032, 23034, 23035, 23036, 23038, 23039, 23040,
                                   23042, 23043, 23044, 23046, 23047, 23048]

ira_ylds = get_draws('sequela_id', iron_responsive_anemia_sequelae, 
                 source='como',
                 location_id=location_ids, 
                 age_group_id=age_group_ids,
                 sex_id=sex_ids,
                 year_id=2019,
                 measure_id=3,
                 decomp_step='step5',
                 gbd_round_id=6)
ira_ylds = ira_ylds.groupby(['location_id','sex_id','age_group_id'], as_index=False).sum()

pop = get_population(location_id=location_ids,
                    age_group_id=age_group_ids,
                    sex_id=sex_ids,
                    gbd_round_id=6,
                    year_id=2019,
                    decomp_step='step4')

ira_ylds = ira_ylds.merge(pop, on=['location_id','sex_id','age_group_id'])
for i in list(range(0,1000)):
    ira_ylds[f'draw_{i}'] = ira_ylds[f'draw_{i}'] * ira_ylds['population']
ira_ylds = ira_ylds.groupby(['location_id']).sum()
#for i in list(range(0,1000)):
#    ira_ylds[f'draw_{i}'] = ira_ylds[f'draw_{i}'] / ira_ylds['population'] * 100_000
ira_ylds = ira_ylds.drop(columns=[c for c in ira_ylds.columns if 'draw' not in c])
ira_ylds.head()

,draw_0,draw_1,draw_10,draw_100,draw_101,draw_102,draw_103,draw_104,draw_105,draw_106,...,draw_990,draw_991,draw_992,draw_993,draw_994,draw_995,draw_996,draw_997,draw_998,draw_999
location_id,,,,,,,,,,,,,,,,,,,,,
6,129995.184187,121832.608770,81966.716263,153184.467442,98905.441529,131765.461152,131560.732748,147306.653101,154166.757674,113515.669514,...,131319.878392,131286.005488,119766.108674,119149.519535,105021.152072,125694.273864,49556.701951,120086.748950,71964.134494,121791.481925
11,65999.404992,88533.374112,61520.826694,73129.059671,66265.464242,65647.794779,69791.340810,63936.631211,67676.111014,38597.604227,...,54679.871273,75824.232615,67119.631815,88049.077669,68771.515148,57963.163681,23906.418438,48632.801316,52859.841345,40983.225969
15,80798.144121,107143.420657,82108.974582,100180.126876,63553.036500,90243.627501,120561.135663,71807.074851,116983.501223,63759.543860,...,75402.426913,92326.044880,70203.397621,86386.932980,67085.655442,85111.111217,41876.100719,85186.034783,82090.106926,68865.985727
20,36523.314632,38433.060525,41652.975549,29036.247569,15358.684846,28571.868477,25673.941562,26541.097895,39249.442727,19597.321798,...,31285.201827,26012.675552,28191.223414,27457.206650,24014.369498,26693.105110,16594.740537,17071.519614,26698.919013,45406.960498
141,50878.505460,61539.442233,44117.916662,59041.081396,41669.344490,58456.843749,50573.348431,55301.914647,77746.274532,34284.321711,...,34224.361928,55643.309933,43081.723053,39203.062705,49897.319335,62429.515216,28057.460328,52555.510885,38888.792106,45264.706612

In [15]:
ira_ylds.to_pickle('results_raw/u5_ira_dalys.pkl')

In [16]:
# check iron responsive portion
#impairment_anemia = get_draws(gbd_id_type='rei_id',
#         gbd_id=[192],
#         source='como',
#         location_id=location_ids,
#         sex_id=sex_ids,
#         age_group_id=1,
#         gbd_round_id=6,
#         year_id=2019,
#         decomp_step='step5',
#         measure_id=[3])
#impairment_anemia = impairment_anemia.loc[impairment_anemia.cause_id==294]
#impairment_anemia = impairment_anemia.merge(pop, on=['location_id','sex_id'])
#for i in list(range(0,1000)):
#    impairment_anemia[f'draw_{i}'] = impairment_anemia[f'draw_{i}'] * impairment_anemia['population']
#impairment_anemia = impairment_anemia.groupby(['location_id','measure_id','rei_id']).sum()
#for i in list(range(0,1000)):
#    impairment_anemia[f'draw_{i}'] = impairment_anemia[f'draw_{i}'] / impairment_anemia['population'] * 100_000
#impairment_anemia = impairment_anemia.drop(columns=[c for c in impairment_anemia.columns if 'draw' not in c])
#(ira_ylds / impairment_anemia).mean(axis=1)

In [22]:
anemia_pifs = anemia_counts_averted / (ira_ylds) * 100
anemia_pifs.head()

draw                                                    draw_0    draw_1  \
location_id coverage_level year vehicle
6           0.2            2025 industry wheat        3.214088  1.118524
            0.5            2025 industry wheat        7.777186  2.762206
            0.8            2025 industry wheat       12.048928  4.365913
            1.0            2025 industry wheat       14.744571  5.413359
            0.2            2025 zero industry wheat  -0.444387 -0.140759

draw                                                  draw_10  draw_100  \
location_id coverage_level year vehicle
6           0.2            2025 industry wheat       1.684095  0.965343
            0.5            2025 industry wheat       4.151225  2.389536
            0.8            2025 industry wheat       6.549429  3.785649
            1.0            2025 industry wheat       8.110969  4.701071
            0.2            2025 zero industry wheat -0.246195 -0.139023

draw                                                  draw_101   draw_102  \
location_id coverage_level year vehicle
6           0.2            2025 industry wheat        3.480620   2.737738
            0.5            2025 industry wheat        8.452598   6.670246
            0.8            2025 industry wheat       13.141853  10.403356
            1.0            2025 industry wheat       16.119469  12.786432
            0.2            2025 zero industry wheat  -0.576749  -0.433155

draw                                                 draw_103   draw_104  \
location_id coverage_level year vehicle
6           0.2            2025 industry wheat       0.496274   3.182910
            0.5            2025 industry wheat       1.234312   7.743962
            0.8            2025 industry wheat       1.964775  12.061028
            1.0            2025 industry wheat       2.447580  14.809981
            0.2            2025 zero industry wheat -0.076112  -0.517419

draw                                                 draw_105   draw_106  ...  \
location_id coverage_level year vehicle                                   ...
6           0.2            2025 industry wheat       0.968895   4.855608  ...
            0.5            2025 industry wheat       2.395791  11.800990  ...
            0.8            2025 industry wheat       3.791571  18.360197  ...
            1.0            2025 industry wheat       4.705143  22.528936  ...
            0.2            2025 zero industry wheat -0.120703  -0.685748  ...

draw                                                  draw_990  draw_991  \
location_id coverage_level year vehicle
6           0.2            2025 industry wheat        2.331156  1.596346
            0.5            2025 industry wheat        5.735606  3.923702
            0.8            2025 industry wheat        9.032205  6.173010
            1.0            2025 industry wheat       11.171600  7.630569
            0.2            2025 zero industry wheat  -0.336021 -0.251820

draw                                                  draw_992   draw_993  \
location_id coverage_level year vehicle
6           0.2            2025 industry wheat        3.621688   4.199178
            0.5            2025 industry wheat        8.719056  10.117121
            0.8            2025 industry wheat       13.442606  15.608101
            1.0            2025 industry wheat       16.398815  19.047411
            0.2            2025 zero industry wheat  -0.590484  -0.639088

draw                                                 draw_994   draw_995  \
location_id coverage_level year vehicle
6           0.2            2025 industry wheat       1.072679   2.307565
            0.5            2025 industry wheat       2.654606   5.649876
            0.8            2025 industry wheat       4.204651   8.854652
            1.0            2025 industry wheat       5.220647  10.917632
            0.2            2025 zero industry wheat -0.131144  -0.353225

draw                                                  draw_996  draw_997  \
location_id coverage_level year vehicle
6           0.2            2025 industry wheat        6.923879  1.537115
            0.5            2025 industry wheat       16.761471  3.801178
            0.8            2025 industry wheat       25.981634  6.016235
            1.0            2025 industry wheat       31.806669  7.466224
            0.2            2025 zero industry wheat  -1.175903 -0.191889

draw                                                 draw_998  draw_999
location_id coverage_level year vehicle
6           0.2            2025 industry wheat       2.053347  1.829435
            0.5            2025 industry wheat       5.047455  4.518938
            0.8            2025 industry wheat       7.941823  7.144208
            1.0            2025 industry wheat       9.817803  8.859441
            0.2            2025 zero industry wheat -0.329320 -0.275872

[5 rows x 1000 columns]

In [23]:
anemia_pifs['measure'] = 'pif'
anemia_counts_averted['measure'] = 'counts_averted'
anemia_rates_averted['measure'] = 'rates_averted'
iron_u5_results = pd.concat([anemia_pifs.reset_index(),
                         anemia_counts_averted.reset_index(),
                         anemia_rates_averted.reset_index()],
                        ignore_index=True)
iron_u5_results.to_pickle('results_raw/iron_u5_industry_wheat_update.pkl')