In [1]:
from functions_for_all_nutrients import *
from iron_hemoglobin_functions import *

In [2]:
username = !whoami
username

['alibow']

In [3]:
index_cols=['location_id','sex_id','age_group_id']

age_group_ids = list(range(7,16))
sex_ids = [2]
coverage_levels = [0.2,0.5,0.8]
years = [2021,2022,2023,2024,2025]

In [4]:
coverage_data_dir = f'/ihme/homes/{username[0]}/notebooks/vivarium_research_lsff/data_prep/outputs/lsff_input_coverage_data.csv'

In [5]:
location_ids = (list(
                pd.read_csv(coverage_data_dir)
                .location_id
                .unique()))
location_ids

[161,
 201,
 202,
 205,
 171,
 179,
 163,
 11,
 180,
 184,
 15,
 164,
 214,
 165,
 196,
 190,
 189,
 20]

In [6]:
nutrient = 'iron'
vehicle = 'maize flour'
effective_fractions = [1] * len(age_group_ids)

In [7]:
pd.read_csv(coverage_data_dir).sub_population.unique()

array(['total population', nan, 'women of reproductive age', 'under-5',
       '8-59 months', 'children 12-36 months',
       'households with children <2 years old'], dtype=object)

In [8]:
baseline_coverage, counterfactual_coverage = generate_overall_coverage_rates(
                                                     coverage_data_dir,
                                                     nutrient, 
                                                     vehicle,
                                                     coverage_levels,
                                                     years,
                                                     location_ids,
                                                    ['women of reproductive age','total population',np.nan,'households with children <2 years old'])

# HEMOGLOBIN

In [9]:
from scipy.stats import norm

# mean and 0.975-quantile of normal distribution for mean difference (MD)
mean = 3
q_975 = 6.1

# 0.975-quantile of standard normal distribution (=1.96, approximately)
q_975_stdnorm = norm().ppf(0.975)

std = (q_975 - mean) / q_975_stdnorm # std dev of normal distribution

# Frozen normal distribution for MD, representing uncertainty in our effect size
hb_md_distribution = norm(mean, std)

In [10]:
mean_difference_hemoglobin_fort = generate_normal_rr_deficiency_nofort_draws(mean, std, location_ids)
mean_difference_hemoglobin_fort.head()

draws,draw_0,draw_1,draw_10,draw_100,draw_101,draw_102,draw_103,draw_104,draw_105,draw_106,...,draw_990,draw_991,draw_992,draw_993,draw_994,draw_995,draw_996,draw_997,draw_998,draw_999
location_id,,,,,,,,,,,,,,,,,,,,,
161,5.67384,2.263045,2.010783,1.632669,3.592127,3.619293,0.71747,3.769218,2.099288,5.25659,...,2.68253,2.315703,4.976409,5.670455,1.949907,3.061148,3.881265,2.227427,2.005891,1.92852
201,5.67384,2.263045,2.010783,1.632669,3.592127,3.619293,0.71747,3.769218,2.099288,5.25659,...,2.68253,2.315703,4.976409,5.670455,1.949907,3.061148,3.881265,2.227427,2.005891,1.92852
202,5.67384,2.263045,2.010783,1.632669,3.592127,3.619293,0.71747,3.769218,2.099288,5.25659,...,2.68253,2.315703,4.976409,5.670455,1.949907,3.061148,3.881265,2.227427,2.005891,1.92852
205,5.67384,2.263045,2.010783,1.632669,3.592127,3.619293,0.71747,3.769218,2.099288,5.25659,...,2.68253,2.315703,4.976409,5.670455,1.949907,3.061148,3.881265,2.227427,2.005891,1.92852
171,5.67384,2.263045,2.010783,1.632669,3.592127,3.619293,0.71747,3.769218,2.099288,5.25659,...,2.68253,2.315703,4.976409,5.670455,1.949907,3.061148,3.881265,2.227427,2.005891,1.92852

In [11]:
# NOTE:
# This approach currently does not consider that new coverage
# applies to those who are slightly more anemic
# than the overall population due to their lack
# of access to fortification

effective_baseline_coverage = get_effective_iron_hemoglobin_coverage(baseline_coverage, 
                                                                     sex_ids, 
                                                                     age_group_ids, 
                                                                     effective_fractions, 
                                                                     years)
effective_counterfactual_coverage = get_effective_iron_hemoglobin_coverage(counterfactual_coverage, 
                                                                     sex_ids, 
                                                                     age_group_ids, 
                                                                     effective_fractions, 
                                                                     years)

delta_effective_coverage = effective_counterfactual_coverage - effective_baseline_coverage
delta_effective_coverage

                                                       draw_0    draw_1  \
location_id sex_id age_group_id year coverage_level
171         2      7            2021 0.2             0.000000  0.000000
                                     0.5             0.000000  0.000000
                                     0.8             0.000000  0.000000
                                2022 0.2             0.001008  0.001271
                                     0.5             0.002521  0.003178
...                                                       ...       ...
205         2      15           2024 0.5            -0.276014 -0.144077
                                     0.8            -0.253818 -0.132491
                                2025 0.2            -0.298210 -0.155664
                                     0.5            -0.276014 -0.144077
                                     0.8            -0.253818 -0.132491

                                                       draw_2    draw_3  \
location_id sex_id age_group_id year coverage_level
171         2      7            2021 0.2             0.000000  0.000000
                                     0.5             0.000000  0.000000
                                     0.8             0.000000  0.000000
                                2022 0.2             0.001067  0.001165
                                     0.5             0.002668  0.002913
...                                                       ...       ...
205         2      15           2024 0.5            -0.227819 -0.279171
                                     0.8            -0.209499 -0.256721
                                2025 0.2            -0.246139 -0.301621
                                     0.5            -0.227819 -0.279171
                                     0.8            -0.209499 -0.256721

                                                       draw_4    draw_5  \
location_id sex_id age_group_id year coverage_level
171         2      7            2021 0.2             0.000000  0.000000
                                     0.5             0.000000  0.000000
                                     0.8             0.000000  0.000000
                                2022 0.2             0.001429  0.001057
                                     0.5             0.003573  0.002643
...                                                       ...       ...
205         2      15           2024 0.5            -0.130630 -0.193331
                                     0.8            -0.120125 -0.177784
                                2025 0.2            -0.141135 -0.208878
                                     0.5            -0.130630 -0.193331
                                     0.8            -0.120125 -0.177784

                                                       draw_6    draw_7  \
location_id sex_id age_group_id year coverage_level
171         2      7            2021 0.2             0.000000  0.000000
                                     0.5             0.000000  0.000000
                                     0.8             0.000000  0.000000
                                2022 0.2             0.001215  0.001083
                                     0.5             0.003037  0.002706
...                                                       ...       ...
205         2      15           2024 0.5            -0.188936 -0.231479
                                     0.8            -0.173742 -0.212864
                                2025 0.2            -0.204129 -0.250094
                                     0.5            -0.188936 -0.231479
                                     0.8            -0.173742 -0.212864

                                                       draw_8    draw_9  ...  \
location_id sex_id age_group_id year coverage_level                      ...
171         2      7            2021 0.2             0.000000  0.000000  ...
                                     0.5             0.000000  0.000000  ...
                                     0.8             0.000000  0.000000  ...
                                2022 0.2             0.001352  0.001173  ...
                                     0.5             0.003381  0.002934  ...
...                                                       ...       ...  ...
205         2      15           2024 0.5            -0.195328 -0.256027  ...
                                     0.8            -0.179621 -0.235438  ...
                                2025 0.2            -0.211036 -0.276616  ...
                                     0.5            -0.195328 -0.256027  ...
                                     0.8            -0.179621 -0.235438  ...

                                                     draw_990  draw_991  \
location_id sex_id age_group_id year coverage_level
171         2      7            2021 0.2             0.000000  0.000000
                                     0.5             0.000000  0.000000
                                     0.8             0.000000  0.000000
                                2022 0.2             0.001154  0.001070
                                     0.5             0.002885  0.002674
...                                                       ...       ...
205         2      15           2024 0.5            -0.216209 -0.217047
                                     0.8            -0.198823 -0.199592
                                2025 0.2            -0.233596 -0.234501
                                     0.5            -0.216209 -0.217047
                                     0.8            -0.198823 -0.199592

                                                     draw_992  draw_993  \
location_id sex_id age_group_id year coverage_level
171         2      7            2021 0.2             0.000000  0.000000
                                     0.5             0.000000  0.000000
                                     0.8             0.000000  0.000000
                                2022 0.2             0.001195  0.001087
                                     0.5             0.002987  0.002718
...                                                       ...       ...
205         2      15           2024 0.5            -0.253340 -0.184400
                                     0.8            -0.232967 -0.169571
                                2025 0.2            -0.273713 -0.199229
                                     0.5            -0.253340 -0.184400
                                     0.8            -0.232967 -0.169571

                                                     draw_994  draw_995  \
location_id sex_id age_group_id year coverage_level
171         2      7            2021 0.2             0.000000  0.000000
                                     0.5             0.000000  0.000000
                                     0.8             0.000000  0.000000
                                2022 0.2             0.001435  0.001333
                                     0.5             0.003588  0.003332
...                                                       ...       ...
205         2      15           2024 0.5            -0.107961 -0.303673
                                     0.8            -0.099280 -0.279253
                                2025 0.2            -0.116643 -0.328094
                                     0.5            -0.107961 -0.303673
                                     0.8            -0.099280 -0.279253

                                                     draw_996  draw_997  \
location_id sex_id age_group_id year coverage_level
171         2      7            2021 0.2             0.000000  0.000000
                                     0.5             0.000000  0.000000
                                     0.8             0.000000  0.000000
                                2022 0.2             0.001335  0.001041
                                     0.5             0.003338  0.002603
...                                                       ...       ...
205         2      15           2024 0.5            -0.149658 -0.259595
                                     0.8            -0.137623 -0.238719
                                2025 0.2            -0.161693 -0.280470
                                     0.5            -0.149658 -0.259595
                                     0.8            -0.137623 -0.238719

                                                     draw_998  draw_999
location_id sex_id age_group_id year coverage_level
171         2      7            2021 0.2             0.000000  0.000000
                                     0.5             0.000000  0.000000
                                     0.8             0.000000  0.000000
                                2022 0.2             0.001114  0.001275
                                     0.5             0.002786  0.003188
...                                                       ...       ...
205         2      15           2024 0.5            -0.159560 -0.231867
                                     0.8            -0.146729 -0.213221
                                2025 0.2            -0.172392 -0.250513
                                     0.5            -0.159560 -0.231867
                                     0.8            -0.146729 -0.213221

[1215 rows x 1000 columns]

In [12]:
mean_hgb = generate_hemoglobin_values(delta_effective_coverage, 
                                      mean_difference_hemoglobin_fort,
                                      location_ids, age_group_ids, sex_ids)
mean_hgb.to_csv('anemia_files_wra/mean_hgb_wra.csv')
mean_hgb = mean_hgb.reset_index().rename(columns={'year_id':'year'}).set_index(['location_id','sex_id','age_group_id','coverage_level','year'])
mean_hgb

/ihme/homes/alibow/notebooks/vivarium_research_lsff/multiplication_models/iron_hemoglobin_functions.py:112: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  ignore_index=True)

                                                         draw_0      draw_1  \
location_id sex_id age_group_id coverage_level year
11          2      7            baseline       NaN   125.720458  125.013067
                   8            baseline       NaN   123.909047  124.923568
                   9            baseline       NaN   126.279327  129.756698
                   10           baseline       NaN   127.370087  123.591184
                   11           baseline       NaN   124.102796  128.072308
...                                                         ...         ...
214         2      11           NaN            NaN          NaN         NaN
                   12           NaN            NaN          NaN         NaN
                   13           NaN            NaN          NaN         NaN
                   14           NaN            NaN          NaN         NaN
                   15           NaN            NaN          NaN         NaN

                                                        draw_10    draw_100  \
location_id sex_id age_group_id coverage_level year
11          2      7            baseline       NaN   123.877956  131.046273
                   8            baseline       NaN   130.778339  125.834611
                   9            baseline       NaN   127.747059  126.493747
                   10           baseline       NaN   124.936974  127.437921
                   11           baseline       NaN   127.937545  125.883403
...                                                         ...         ...
214         2      11           NaN            NaN          NaN         NaN
                   12           NaN            NaN          NaN         NaN
                   13           NaN            NaN          NaN         NaN
                   14           NaN            NaN          NaN         NaN
                   15           NaN            NaN          NaN         NaN

                                                       draw_101    draw_102  \
location_id sex_id age_group_id coverage_level year
11          2      7            baseline       NaN   126.535151  126.539773
                   8            baseline       NaN   124.179762  131.425035
                   9            baseline       NaN   127.871689  126.866193
                   10           baseline       NaN   127.871399  126.539961
                   11           baseline       NaN   125.754281  125.336822
...                                                         ...         ...
214         2      11           NaN            NaN          NaN         NaN
                   12           NaN            NaN          NaN         NaN
                   13           NaN            NaN          NaN         NaN
                   14           NaN            NaN          NaN         NaN
                   15           NaN            NaN          NaN         NaN

                                                       draw_103    draw_104  \
location_id sex_id age_group_id coverage_level year
11          2      7            baseline       NaN   128.910306  130.213900
                   8            baseline       NaN   130.662542  130.573890
                   9            baseline       NaN   125.532345  127.220828
                   10           baseline       NaN   128.011740  129.364461
                   11           baseline       NaN   131.052587  124.180565
...                                                         ...         ...
214         2      11           NaN            NaN          NaN         NaN
                   12           NaN            NaN          NaN         NaN
                   13           NaN            NaN          NaN         NaN
                   14           NaN            NaN          NaN         NaN
                   15           NaN            NaN          NaN         NaN

                                                       draw_105    draw_106  \
location_id sex_id age_group_id coverage_level year
11          2      7            baseline       NaN   124.539656  126.966239
                   8            baseline       NaN   124.279944  130.325987
                   9            baseline       NaN   127.520039  125.757247
                   10           baseline       NaN   125.843733  129.093740
                   11           baseline       NaN   130.917344  124.230008
...                                                         ...         ...
214         2      11           NaN            NaN          NaN         NaN
                   12           NaN            NaN          NaN         NaN
                   13           NaN            NaN          NaN         NaN
                   14           NaN            NaN          NaN         NaN
                   15           NaN            NaN          NaN         NaN

                                                     ...    draw_990  \
location_id sex_id age_group_id coverage_level year  ...
11          2      7            baseline       NaN   ...  127.598859
                   8            baseline       NaN   ...  129.610821
                   9            baseline       NaN   ...  128.830036
                   10           baseline       NaN   ...  127.874589
                   11           baseline       NaN   ...  125.236726
...                                                  ...         ...
214         2      11           NaN            NaN   ...         NaN
                   12           NaN            NaN   ...         NaN
                   13           NaN            NaN   ...         NaN
                   14           NaN            NaN   ...         NaN
                   15           NaN            NaN   ...         NaN

                                                       draw_991    draw_992  \
location_id sex_id age_group_id coverage_level year
11          2      7            baseline       NaN   128.639075  127.495184
                   8            baseline       NaN   126.145738  131.445379
                   9            baseline       NaN   129.892692  129.194790
                   10           baseline       NaN   126.383536  125.760543
                   11           baseline       NaN   126.314923  126.743300
...                                                         ...         ...
214         2      11           NaN            NaN          NaN         NaN
                   12           NaN            NaN          NaN         NaN
                   13           NaN            NaN          NaN         NaN
                   14           NaN            NaN          NaN         NaN
                   15           NaN            NaN          NaN         NaN

                                                       draw_993    draw_994  \
location_id sex_id age_group_id coverage_level year
11          2      7            baseline       NaN   126.026349  126.802325
                   8            baseline       NaN   125.873082  128.667313
                   9            baseline       NaN   128.552509  128.126533
                   10           baseline       NaN   127.463698  128.855356
                   11           baseline       NaN   127.318785  133.116473
...                                                         ...         ...
214         2      11           NaN            NaN          NaN         NaN
                   12           NaN            NaN          NaN         NaN
                   13           NaN            NaN          NaN         NaN
                   14           NaN            NaN          NaN         NaN
                   15           NaN            NaN          NaN         NaN

                                                       draw_995    draw_996  \
location_id sex_id age_group_id coverage_level year
11          2      7            baseline       NaN   123.832785  125.791511
                   8            baseline       NaN   125.066203  132.511309
                   9            baseline       NaN   125.604651  131.079342
                   10           baseline       NaN   130.627663  122.278558
                   11           baseline       NaN   129.348699  126.391037
...                                                         ...         ...
214         2      11           NaN            NaN          NaN         NaN
                   12           NaN            NaN          NaN         NaN
                   13           NaN            NaN          NaN         NaN
                   14           NaN            NaN          NaN         NaN
                   15           NaN            NaN          NaN         NaN

                                                       draw_997    draw_998  \
location_id sex_id age_group_id coverage_level year
11          2      7            baseline       NaN   126.368115  128.945972
                   8            baseline       NaN   127.834327  131.196175
                   9            baseline       NaN   131.531884  126.830442
                   10           baseline       NaN   124.942197  130.590653
                   11           baseline       NaN   126.928617  127.330763
...                                                         ...         ...
214         2      11           NaN            NaN          NaN         NaN
                   12           NaN            NaN          NaN         NaN
                   13           NaN            NaN          NaN         NaN
                   14           NaN            NaN          NaN         NaN
                   15           NaN            NaN          NaN         NaN

                                                       draw_999
location_id sex_id age_group_id coverage_level year
11          2      7            baseline       NaN   125.442573
                   8            baseline       NaN   130.157132
                   9            baseline       NaN   130.693367
                   10           baseline       NaN   132.024848
                   11           baseline       NaN   124.853824
...                                                         ...
214         2      11           NaN            NaN          NaN
                   12           NaN            NaN          NaN
                   13           NaN            NaN          NaN
                   14           NaN            NaN          NaN
                   15           NaN            NaN          NaN

[1458 rows x 1000 columns]

In [13]:
hgb_sd = get_draws('modelable_entity_id',
                10488,
                source='epi',
                location_id=location_ids,
                age_group_id=age_group_ids,
                sex_id=sex_ids,
                year_id=2019,
                gbd_round_id=6,
                decomp_step='step4',
                status='best')
hgb_sd = (hgb_sd.set_index(['location_id','sex_id','age_group_id'])
 .filter([c for c in hgb_sd if 'draw' in c])
 .reset_index())
hgb_sd.to_csv('anemia_files_wra/sd_hgb_wra.csv')
hgb_sd.head()

,location_id,sex_id,age_group_id,draw_0,draw_1,draw_10,draw_100,draw_101,draw_102,draw_103,...,draw_990,draw_991,draw_992,draw_993,draw_994,draw_995,draw_996,draw_997,draw_998,draw_999
0,11,2,7,13.292978,11.733902,12.935610,12.320549,14.694083,11.641884,11.431122,...,11.937170,14.399819,12.861581,13.566565,12.164301,13.666041,14.456370,12.005398,12.240155,14.472192
1,11,2,8,13.048941,12.197300,12.731180,15.277344,13.369539,14.518696,14.063543,...,12.613480,13.173946,11.281764,13.472578,13.443456,14.703646,11.525980,13.965222,13.907065,12.660112
2,11,2,9,12.543767,11.401418,12.888930,12.235923,13.494031,12.088787,12.987416,...,11.474242,13.854220,13.195765,12.937137,14.376137,13.119984,13.970816,12.079224,12.637997,13.366738
3,11,2,10,12.688434,12.885363,14.576534,11.692162,13.442872,12.988569,13.790864,...,12.558221,12.488462,12.442922,13.015538,11.233946,12.781795,12.458717,10.758250,12.619695,12.304094
4,11,2,11,13.946558,13.899470,14.838546,12.968994,11.884177,13.638474,12.981515,...,12.948337,12.461297,14.151997,15.132955,13.837780,16.155101,12.949827,14.163339,14.101253,13.043767

In [14]:
# get age-specific fertility rate
get_covariate_estimates(13, 
                               location_id=location_ids,
                               age_group_id=age_group_ids,
                               sex_id=sex_ids,
                               year_id=2019,
                               gbd_round_id=6,
                               decomp_step='step4').to_csv('anemia_files_wra/asfr.csv')


# get still birth to live birth ratio (not age-specific)
still = get_covariate_estimates(2267, 
                                location_id=location_ids,
                                year_id=2019,
                                gbd_round_id=6,
                                decomp_step='step4').to_csv('anemia_files_wra/still.csv')

In [ ]:
# NOW RUN HEMOGLOBIN_TO_ANEMIA.R FILE BEFORE RUNNING NEXT CELL
assert "Did you run the R file?" == "Double check :)", "Make sure you run the R file!"

In [ ]:
anemia = load_anemia_prev_and_calculate_ylds('anemia_files_wra/anemia_prev_wra.csv')
baseline_anemia = (duplicate_over_simulation_years(anemia.loc[anemia.coverage_level=='baseline'], years)
                   .drop(columns='coverage_level')
                   .set_index(['location_id','age_group_id','sex_id','year','draw']))
counterfactual_anemia = (anemia.loc[anemia.coverage_level != 'baseline']
                         .set_index(['location_id','age_group_id','sex_id','year','draw','coverage_level']))
averted_anemia = baseline_anemia - counterfactual_anemia
averted_anemia

In [ ]:
counts, rates = population_weight_values(averted_anemia.reset_index(), age_group_ids, sex_ids, location_ids)

In [ ]:
counts = summarize_data(counts)
rates = summarize_data(rates)

In [ ]:
anemia_counts_averted = (counts.loc[counts.severity=='anemic']
     .loc[counts.measure=='ylds']
     .set_index(['location_id','coverage_level','year'])
     .drop(columns=['severity','measure']))
anemia_counts_averted.head()

In [ ]:
anemia_rates_averted = (rates.loc[rates.severity=='anemic']
     .loc[rates.measure=='ylds']
     .set_index(['location_id','coverage_level','year'])
     .drop(columns=['severity','measure']))
anemia_rates_averted.head()

In [ ]:
# total iron responsive anemia burden
iron_responsive_anemia_sequelae = [1004, 1005, 1006, 1008, 1009, 1010, 1012, 1013, 
                                   1014, 1016, 1017, 1018, 1020, 1021, 1022, 1024, 1025, 1026, 
                                   1028, 1029, 1030, 1032, 1033, 1034, 1361, 1364, 1367, 1373, 1376, 
                                   1379, 1385, 1388, 1391, 1397, 1400, 1403, 1409, 1412, 1415, 1421, 
                                   1424, 1427, 1433, 1436, 1439, 1445, 1448, 1451, 5213, 5216, 5219, 
                                   5222, 5225, 5228, 5237, 5240, 5243, 5246, 5249, 5252, 5261, 5264, 
                                   5267, 5270, 5273, 5276, 4985, 4988, 4991, 4994, 4997, 5000, 5009, 
                                   5012, 5015, 5678, 5681, 5684, 7214, 7217, 7220, 4952, 4955, 4958, 
                                   4961, 4964, 4967, 4976, 4979, 4982, 5627, 5630, 5633, 7202, 7205, 
                                   7208, 5393, 5396, 5399, 182, 183, 184, 240, 241, 242, 177, 178, 
                                   179, 144,145,146,172,173,174,525,526,527,1106,1107,1108,537,538,
                                   539,206,207,208, 22989, 22990, 22991, 22992, 22993, 22999, 23000, 
                                   23001, 23002, 23003, 23009, 23010, 23011, 23012, 23013,
                                   5567, 5570, 5573, 5579, 5582, 5585,
                                   23030, 23031, 23032, 23034, 23035, 23036, 23038, 23039, 23040,
                                   23042, 23043, 23044, 23046, 23047, 23048]

ira_ylds = get_draws('sequela_id', iron_responsive_anemia_sequelae, 
                 source='como',
                 location_id=location_ids, 
                 age_group_id=age_group_ids,
                 sex_id=sex_ids,
                 year_id=2019,
                 measure_id=3,
                 decomp_step='step5',
                 gbd_round_id=6)
ira_ylds = ira_ylds.groupby(['location_id','sex_id','age_group_id'], as_index=False).sum()

pop = get_population(location_id=location_ids,
                    age_group_id=age_group_ids,
                    sex_id=sex_ids,
                    gbd_round_id=6,
                    year_id=2019,
                    decomp_step='step4')

ira_ylds = ira_ylds.merge(pop, on=['location_id','sex_id','age_group_id'])
for i in list(range(0,1000)):
    ira_ylds[f'draw_{i}'] = ira_ylds[f'draw_{i}'] * ira_ylds['population']
ira_ylds = ira_ylds.groupby(['location_id']).sum()
for i in list(range(0,1000)):
    ira_ylds[f'draw_{i}'] = ira_ylds[f'draw_{i}'] / ira_ylds['population'] * 100_000
ira_ylds = ira_ylds.drop(columns=[c for c in ira_ylds.columns if 'draw' not in c])
ira_ylds.head()

In [ ]:
# check iron responsive portion
impairment_anemia = get_draws(gbd_id_type='rei_id',
         gbd_id=[192],
         source='como',
         location_id=location_ids,
         sex_id=sex_ids,
         age_group_id=age_group_ids,
         gbd_round_id=6,
         year_id=2019,
         decomp_step='step5',
         measure_id=[3])
impairment_anemia = impairment_anemia.loc[impairment_anemia.cause_id==294]
impairment_anemia = impairment_anemia.merge(pop, on=['location_id','sex_id'])
for i in list(range(0,1000)):
    impairment_anemia[f'draw_{i}'] = impairment_anemia[f'draw_{i}'] * impairment_anemia['population']
impairment_anemia = impairment_anemia.groupby(['location_id','measure_id','rei_id']).sum()
for i in list(range(0,1000)):
    impairment_anemia[f'draw_{i}'] = impairment_anemia[f'draw_{i}'] / impairment_anemia['population'] * 100_000
impairment_anemia = impairment_anemia.drop(columns=[c for c in impairment_anemia.columns if 'draw' not in c])
(ira_ylds / impairment_anemia).mean(axis=1)

In [ ]:
anemia_pifs = anemia_rates_averted / (ira_ylds) * 100
anemia_pifs.head()

In [ ]:
make_dot_plots(
    anemia_counts_averted, 
    'Iron', 
    'counts', 
    coverage_levels, 'Anemia-Specific DALYs', 
    'iron_wra_anemia_counts_averted', True)

make_dot_plots(
    anemia_rates_averted, 
    'Iron', 
    'rates', 
    coverage_levels, 'Anemia-Specific DALYs', 
    'iron_wra_anemia_rates_averted', True)

make_dot_plots(
    anemia_pifs, 
    'Iron', 
    'pifs', 
    coverage_levels, 'Anemia-Specific DALYs, as a proportion of iron-responsive anemia DALYs', 
    'iron_wra_anemia_pif', True)

# MATERNAL DISORDERS

In [ ]:
rr = get_draws('rei_id',
                 95,
                 source='rr',
                 location_id=location_ids,
                 age_group_id=age_group_ids,
                 sex_id=sex_ids,
                 year_id=2019,
                 gbd_round_id=6,
                 decomp_step='step4'
                 )
rr = rr.loc[rr.cause_id==367].set_index(['sex_id','age_group_id'])
rr = rr.drop(columns=[c for c in rr.columns if 'draw' not in c])
rr

In [ ]:
baseline_hgb = get_draws('modelable_entity_id',
                    10487,
                    source='epi',
                    location_id=location_ids,
                    age_group_id=age_group_ids,
                    sex_id=sex_ids,
                    year_id=2019,
                    gbd_round_id=6,
                    decomp_step='step4',
                    status='best')
baseline_hgb = baseline_hgb.set_index(['location_id','sex_id','age_group_id'])
baseline_hgb = baseline_hgb.drop(columns=[c for c in baseline_hgb.columns if 'draw' not in c])
baseline_hgb.head()

In [ ]:
hgb_diff = (((mean_hgb - baseline_hgb) / 10)
            .reset_index()
            .set_index(['sex_id','age_group_id','location_id','coverage_level','year']))
hgb_diff.head()

In [ ]:
import math
frac_reduction = ((1 / math.e ** (np.log(rr) * hgb_diff))
                  .reset_index()
                  .set_index(['location_id','sex_id','age_group_id','coverage_level','year']))
frac_reduction.head()

In [ ]:
maternal_ylds = get_draws('cause_id',
                367,
                source='como',
                location_id=location_ids,
                age_group_id=age_group_ids,
                measure_id=3, #ylds
                metric_id=3, #rate
                sex_id=sex_ids,
                year_id=2019,
                gbd_round_id=6,
                decomp_step='step5')
pop = get_population(location_id=location_ids,
                    sex_id=sex_ids,
                    age_group_id=age_group_ids,
                    gbd_round_id=6,
                    decomp_step='step4')
maternal_ylds = maternal_ylds.merge(pop, on=['location_id','sex_id','age_group_id'])
for i in list(range(0,1000)):
    maternal_ylds[f'draw_{i}'] = maternal_ylds[f'draw_{i}'] * maternal_ylds['population']

maternal_ylds = maternal_ylds.set_index(['location_id','sex_id','age_group_id'])
maternal_ylds = maternal_ylds.drop(columns=[c for c in maternal_ylds.columns if 'draw' not in c])
maternal_ylds.head()

In [ ]:
maternal_ylls = get_draws('cause_id',
                367,
                source='codcorrect',
                location_id=location_ids,
                age_group_id=age_group_ids,
                measure_id=4,
                metric_id=1,
                sex_id=sex_ids,
                year_id=2019,
                gbd_round_id=6,
                decomp_step='step5',
                status='latest')

maternal_ylls = maternal_ylls.set_index(['location_id','sex_id','age_group_id'])
maternal_ylls = maternal_ylls.drop(columns=[c for c in maternal_ylls.columns if 'draw' not in c])
maternal_ylls.head()

In [ ]:
maternal_dalys = maternal_ylds + maternal_ylls
maternal_dalys.head()

In [ ]:
counterfactual_maternal_dalys = maternal_dalys * frac_reduction
counterfactual_maternal_dalys = (counterfactual_maternal_dalys.groupby(['location_id','coverage_level','year']).sum())
maternal_counts_averted = maternal_dalys.groupby('location_id').sum() - counterfactual_maternal_dalys
maternal_counts_averted.head()

In [ ]:
maternal_rates_averted = (maternal_counts_averted.reset_index()
                 .merge(pop.groupby('location_id', as_index=False).sum().drop(columns='year_id'), 
                        on='location_id'))
for i in list(range(0,1000)):
    maternal_rates_averted[f'draw_{i}'] = (maternal_rates_averted[f'draw_{i}'] / maternal_rates_averted['population']) * 100_000
maternal_rates_averted = maternal_rates_averted.set_index(['location_id','coverage_level','year'])
maternal_rates_averted = maternal_rates_averted.drop(columns=[c for c in maternal_rates_averted.columns if 'draw' not in c])
maternal_rates_averted.head()

In [ ]:
iron_attributable_maternal_disorder_burden = get_draws(gbd_id_type=['rei_id','cause_id'],
                                                      gbd_id=[95,367],
                                                      location_id=location_ids,
                                                      sex_id=sex_ids,
                                                      age_group_id=age_group_ids,
                                                      measure_id=2, # dalys
                                                      metric_id=1, # number
                                                      source='burdenator',
                                                      decomp_step='step5',
                                                      gbd_round_id=6,
                                                      year_id=2019)
iron_attributable_maternal_disorder_burden = iron_attributable_maternal_disorder_burden.groupby('location_id').sum()
iron_attributable_maternal_disorder_burden = iron_attributable_maternal_disorder_burden.drop(columns=[c for c in iron_attributable_maternal_disorder_burden.columns if 'draw' not in c])
iron_attributable_maternal_disorder_burden = (iron_attributable_maternal_disorder_burden.reset_index()
                                              .merge(pop.groupby('location_id').sum().reset_index(),
                                                     on='location_id'))
for i in list(range(0,1000)):
    iron_attributable_maternal_disorder_burden[f'draw_{i}'] = iron_attributable_maternal_disorder_burden[f'draw_{i}'] / iron_attributable_maternal_disorder_burden['population']
iron_attributable_maternal_disorder_burden = iron_attributable_maternal_disorder_burden.set_index(['location_id'])
iron_attributable_maternal_disorder_burden = iron_attributable_maternal_disorder_burden.drop(columns=[c for c in iron_attributable_maternal_disorder_burden.columns if 'draw' not in c])

iron_attributable_maternal_disorder_burden

In [ ]:
maternal_disorders_pif = maternal_rates_averted / (iron_attributable_maternal_disorder_burden * 100_000) * 100
maternal_disorders_pif.head()

In [ ]:
make_dot_plots(
    maternal_counts_averted,
    'Iron', 
    'counts', 
    coverage_levels, 'Maternal Disorder DALYs', 
    'iron_wra_maternal_disorder_counts_averted', True)
make_dot_plots(
    maternal_rates_averted,
    'Iron', 
    'rates',
    coverage_levels, 'Maternal Disorder DALYs', 
    'iron_wra_maternal_disorder_rates_averted', True)
make_dot_plots(
    maternal_disorders_pif,
    'Iron', 
    'pifs',
    coverage_levels, 'Maternal Disorder DALYs as a proportion of\niron deficiency attributable maternal disorder DALYs',
    'iron_wra_maternal_disorder_pif', True)

# OVERALL

In [ ]:
overall_counts_averted = anemia_counts_averted + maternal_counts_averted
overall_rates_averted = anemia_rates_averted + maternal_rates_averted
overall_counts_averted.head()

In [ ]:
overall_pif = overall_rates_averted / ((ira_ylds + iron_attributable_maternal_disorder_burden)) * 100
overall_pif.head()

In [ ]:
overall_pif['measure'] = 'pif'
overall_counts_averted['measure'] = 'counts_averted'
overall_rates_averted['measure'] = 'rates_averted'
iron_wra_results = pd.concat([overall_pif.reset_index(),
                         overall_counts_averted.reset_index(),
                         overall_rates_averted.reset_index()],
                        ignore_index=True)
iron_wra_results.to_pickle('results_raw/iron_wra.pkl')

In [ ]:
make_dot_plots(
    overall_counts_averted,
    'Iron', 
    'counts', 
    coverage_levels, 
    '', 
    'iron_wra_overall_counts_averted',
    True)
make_dot_plots(
    overall_rates_averted,
    'Iron', 
    'rates',
    coverage_levels, 
    '', 
    'iron_wra_overall_rates_averted',
    True)
make_dot_plots(
    overall_pif,
    'Iron', 
    'pifs',
    coverage_levels, 
    'As a proportion of iron responsive anemia and\niron deficiency attributable maternal disorder DALYs', 
    'iron_wra_overall_pif',
    True)

In [ ]:
def make_dot_plots(data, nutrient, measure, coverage_levels, subtitle, output_filename, wra=False):
    """This function takes a dataframe,
    nutrient (as a string),
    and measure (as a string, either: 'rates', 'counts', or 'pifs').
    """

    f, ax = plt.subplots(figsize=(7, 4), dpi=120)
    colors = ['tab:red', 'tab:orange', 'tab:green']

    location_spacer = 0.15
    coverage_spacer = 0.025
    df = data.apply(pd.DataFrame.describe, percentiles=[0.025, 0.975], axis=1).reset_index()

    order = df.reset_index()
    order = list(
        order.loc[order.coverage_level == 0.8].loc[order.year == 2025].sort_values(by='mean').location_id.values)
    nums = list(range(0, len(order)))
    orders = pd.DataFrame()
    orders['location_id'] = order
    orders['order'] = nums
    df = df.merge(orders, on='location_id').sort_values(by='order', ascending=False)

    for n in list(range(0, len(coverage_levels))):
        rate = (df.loc[df.year == 2025]
            .loc[df.coverage_level == coverage_levels[n]])
        for i in list(range(0, len(rate))):
            plt.plot([location_spacer * i + coverage_spacer * n, location_spacer * i + coverage_spacer * n],
                     [rate['2.5%'].values[i], rate['97.5%'].values[i]], c='black')
            plt.scatter([location_spacer * i + coverage_spacer * n], rate['2.5%'].values[i], s=50, marker='_',
                        c='black')
            plt.scatter([location_spacer * i + coverage_spacer * n], rate['97.5%'].values[i], s=50, marker='_',
                        c='black')

        x_vals = []
        for x in list(range(0, len(rate))):
            x_vals.append(location_spacer * x + coverage_spacer * n)
        plt.scatter(x_vals, rate['mean'], s=50,
                    label=f'{int(coverage_levels[n] * 100)} percent coverage', color=colors[n])

    plt.hlines(0, 0 - coverage_spacer * 2,
               location_spacer * (len(rate)) - coverage_spacer * 2,
               linestyle='dashed', color='grey', alpha=0.5)

    plt.plot()

    if wra == True:
        subpop = 'Women of Reproductive Age'
    else:
        subpop = 'Children Under Five'

    if measure == 'rates':
        plt.title(f'DALYs Averted per 100,000 Person-Years due to\n{nutrient} Fortication Among {subpop}\n{subtitle}')
        plt.ylabel('DALYs Averted per 100,000')
    elif measure == 'counts':
        plt.title(f'DALYs Averted due to\n{nutrient} Fortication Among {subpop}\n{subtitle}')
        plt.ylabel('DALYs')
    elif measure == 'pifs':
        plt.title(f'Population Impact Fraction of {nutrient} Fortication\non DALYs Among {subpop}\n{subtitle}')
        plt.ylabel('Population Impact Fraction (Percent)')

    plt.legend(bbox_to_anchor=[1.5, 1])

    x_ticks = []
    for x in list(range(0, len(rate))):
        x_ticks.append(location_spacer * x + coverage_spacer)
    ax.set_xticks(x_ticks)
    plt.xticks(rotation=90)
    l = get_ids('location')
    l_names = df.loc[df.coverage_level == coverage_levels[0]].loc[df.year == 2025]
    l_names = list(l_names.reset_index().merge(l, on='location_id')['location_name'].values)
    ax.set_xticklabels(l_names)
    plt.savefig(f'results_plots/{output_filename}.png', bbox_inches='tight')

In [ ]:
make_dot_plots(
    overall_pif,
    'Iron', 
    'pifs',
    coverage_levels, 
    'As a proportion of iron responsive anemia and\niron deficiency attributable maternal disorder DALYs', 
    'iron_wra_overall_pif',
    True)