In [1]:
import pandas as pd, numpy as np

# Add 'industry {vehicle}' to coverage input data

In [2]:
## pull in (previously final) input data sheet
outputs_dir = '/ihme/homes/beatrixh/vivarium_research_lsff/data_prep/outputs/'
input_data_path = outputs_dir + 'lsff_input_coverage_data.csv'

In [3]:
# pull in (previously final) version of input data sheet with metadata
input_data = pd.read_csv(outputs_dir + '04_27_lsff_input_coverage_data_with_metadata.csv')

loc_id_map = {i:j for(i,j) in zip(input_data.location_name, input_data.location_id) }

## wheat

In [4]:
# pull in new numbers from Jonathan / industry
inputs_dir = "/ihme/homes/beatrixh/vivarium_research_lsff/data_prep/inputs/"
new_wheat = pd.read_excel(inputs_dir + "Kopie_von_20210412_LSFF_input_data_for_IHME_(002)_editLeo.xlsx", header = [1,2,3])

In [5]:
# set location index
new_wheat = new_wheat.set_index(new_wheat.columns[0])

In [6]:
# they only asked us to update % fortifiable, but want to check if the % fortified matches us
industry_wheat_fortified = new_wheat['Baseline coverage']['Wheat flour\n(percent of population eating specified wheat flour)']['Wheat flour fortified with iron'].reset_index()
test = input_data.loc[(input_data.vehicle=="wheat flour") & (input_data.u5_applicable) & (input_data.nutrient=="iron"),['location_name','value_mean']]
industry_wheat_fortified.columns = ['location_name','industry_value_mean']
test = test.merge(industry_wheat_fortified, on = 'location_name')
test['diff'] = test.value_mean - test.industry_value_mean
test

,location_name,value_mean,industry_value_mean,diff
0,Ethiopia,0.000000,0.0,0.000000
1,India,6.300000,6.3,0.000000
2,Nigeria,17.452812,17.5,-0.047188
3,Bangladesh,0.155875,0.2,-0.044125
4,Pakistan,3.821239,3.8,0.021239
5,Uganda,8.500000,8.5,0.000000
6,United Republic of Tanzania,33.100000,33.1,0.000000
7,South Africa,5.707704,5.7,0.007704
8,Burkina Faso,17.389750,17.4,-0.010250
9,Kenya,27.105320,27.1,0.005320
10,Myanmar,0.000000,0.0,0.000000
11,Nepal,7.334332,7.3,0.034332
12,Viet Nam,4.111875,4.1,0.011875
13,Cameroon,53.088564,6.4,46.688564
14,Democratic Republic of the Congo,0.000000,0.0,0.000000
15,Indonesia,73.100000,73.1,0.000000
16,Mozambique,12.632500,12.6,0.032500
17,Angola,16.888381,16.9,-0.011619
18,China,6.363472,10.3,-3.936528
19,Egypt,15.616431,15.6,0.016431
20,Ghana,17.121532,17.1,0.021532
21,Madagascar,8.630461,8.6,0.030461
22,Niger,30.000000,30.0,0.000000
23,Sudan,6.525113,6.5,0.025113

In [7]:
new_wheat = new_wheat['Baseline coverage']['Wheat flour\n(percent of population eating specified wheat flour)']['Fortifiable wheat flour'].reset_index()

In [8]:
# # pull columns we're interested in
# rename_oil = {
#     ('Location', 'Unnamed: 0_level_1', 'Unnamed: 0_level_2'): 'location_name',
#  'Fortifiable oil.1': 'percent of population eating industrially produced vehicle',
#  'Compliance % of fortifiable': 'percent of population eating fortified vehicle'
# }

# new_oil = new_oil.reset_index().rename(columns=rename_oil)

In [9]:
rename_wheat = {
    ('Location', 'Unnamed: 0_level_1', 'Unnamed: 0_level_2'):'location_name',
    'Fortifiable wheat flour':'percent of population eating industrially produced vehicle'
}

new_wheat = new_wheat.rename(columns=rename_wheat)

In [10]:
# reshape to our format
new_wheat = pd.melt(new_wheat, id_vars = 'location_name',
        value_vars = ['percent of population eating industrially produced vehicle'],
       var_name='value_description',value_name='value_mean')

In [11]:
#convert from prop to percent
new_wheat.value_mean = 100 * new_wheat.value_mean

In [12]:
new_wheat

,location_name,value_description,value_mean
0,Angola,percent of population eating industrially prod...,27.200
1,Bangladesh,percent of population eating industrially prod...,33.101
2,Burkina Faso,percent of population eating industrially prod...,48.000
3,CÃ´te d'Ivoire,percent of population eating industrially prod...,90.160
4,Cameroon,percent of population eating industrially prod...,65.440
5,China,percent of population eating industrially prod...,48.683
6,Democratic Republic of the Congo,percent of population eating industrially prod...,0.600
7,Egypt,percent of population eating industrially prod...,88.500
8,Ethiopia,percent of population eating industrially prod...,15.400
9,Ghana,percent of population eating industrially prod...,82.700
10,India,percent of population eating industrially prod...,24.960
11,Indonesia,percent of population eating industrially prod...,75.800
12,Kenya,percent of population eating industrially prod...,36.600
13,Madagascar,percent of population eating industrially prod...,45.200
14,Mozambique,percent of population eating industrially prod...,16.300
15,Myanmar,percent of population eating industrially prod...,5.000
16,Nepal,percent of population eating industrially prod...,13.025
17,Niger,percent of population eating industrially prod...,41.400
18,Nigeria,percent of population eating industrially prod...,62.800
19,Pakistan,percent of population eating industrially prod...,60.000
20,South Africa,percent of population eating industrially prod...,10.900
21,Sudan,percent of population eating industrially prod...,79.920
22,Uganda,percent of population eating industrially prod...,11.200
23,United Republic of Tanzania,percent of population eating industrially prod...,43.775
24,Viet Nam,percent of population eating industrially prod...,38.800

In [13]:
# fix c'ote divoire 
new_wheat.loc[new_wheat.location_name=="CÃ´te d'Ivoire","location_name"] = "Côte d'Ivoire"

In [14]:
# make sure we're not missing any locations / don't have any extra
assert(set(new_wheat.location_name).symmetric_difference(set(input_data.location_name))==set())

In [15]:
# formatting
new_wheat['vehicle'] = 'industry wheat'
new_wheat['nutrient'] = 'na'
new_wheat['u5_applicable'] = True
new_wheat['wra_applicable'] = True
new_wheat['sub_population'] = np.NaN
new_wheat['location_id'] = new_wheat.location_name.map(loc_id_map)
new_wheat['source_citation'] = 'From BMGF team: Kopie_von_20210412_LSFF_input_data_for_IHME_(002)_editLeo.xlsx'

In [16]:
# grab pct fortified and use for industry wheat
fortified_wheat = input_data.loc[(input_data.vehicle=="wheat flour") & (input_data.value_description=="percent of population eating fortified vehicle")]
fortified_wheat['vehicle'] = "industry wheat"

/ihme/homes/beatrixh/.local/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [17]:
new_wheat = new_wheat.append(fortified_wheat)

/ihme/code/central_comp/miniconda_svc-ccomp/envs/v109/lib/python3.7/site-packages/pandas/core/frame.py:7138: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort,

## oil

In [18]:
# pull in new numbers from Jonathan / industry
inputs_dir = "/ihme/homes/beatrixh/vivarium_research_lsff/data_prep/inputs/"
new_oil = pd.read_excel(inputs_dir + "20210411_LSFF_input_data_for_IHME.xlsx", header = [1,2,3])

In [19]:
# subset to the oil numbers we're interested in
new_oil = new_oil.set_index(new_oil.columns[0])

new_oil = new_oil['Baseline coverage']['Oil\n(percent of population eating specified oil)'][['Fortifiable oil.1','Compliance % of fortifiable']]

In [20]:
# pull columns we're interested in
rename_oil = {
    ('Location', 'Unnamed: 0_level_1', 'Unnamed: 0_level_2'): 'location_name',
 'Fortifiable oil.1': 'percent of population eating industrially produced vehicle',
 'Compliance % of fortifiable': 'percent of population eating fortified vehicle'
}

new_oil = new_oil.reset_index().rename(columns=rename_oil)

In [21]:
# reshape to our format (keep only ind prod; we're getting fortified today's email
new_oil = pd.melt(new_oil, id_vars = 'location_name',
        value_vars = ['percent of population eating industrially produced vehicle'],
       var_name='value_description',value_name='value_mean')

In [22]:
# fix c'ote divoire 
new_oil.loc[new_oil.location_name=="CÃ´te d'Ivoire","location_name"] = "Côte d'Ivoire"

In [23]:
# make sure we're not missing any locations / don't have any extra
assert(set(new_oil.location_name).symmetric_difference(set(input_data.location_name))==set())

In [24]:
# formatting
new_oil['vehicle'] = 'industry oil'
new_oil['nutrient'] = 'na'
new_oil['u5_applicable'] = True
new_oil['wra_applicable'] = True
new_oil['sub_population'] = np.NaN
new_oil['location_id'] = new_oil.location_name.map(loc_id_map)
new_oil['source_citation'] = 'From BMGF team: 20210411_LSFF_input_data_for_IHME.xlsx'

In [25]:
new_oil.head()

,location_name,value_description,value_mean,vehicle,nutrient,u5_applicable,wra_applicable,sub_population,location_id,source_citation
0,Angola,percent of population eating industrially prod...,72.320,industry oil,na,True,True,NaN,168,From BMGF team: 20210411_LSFF_input_data_for_I...
1,Bangladesh,percent of population eating industrially prod...,87.516,industry oil,na,True,True,NaN,161,From BMGF team: 20210411_LSFF_input_data_for_I...
2,Burkina Faso,percent of population eating industrially prod...,73.760,industry oil,na,True,True,NaN,201,From BMGF team: 20210411_LSFF_input_data_for_I...
3,Côte d'Ivoire,percent of population eating industrially prod...,72.000,industry oil,na,True,True,NaN,205,From BMGF team: 20210411_LSFF_input_data_for_I...
4,Cameroon,percent of population eating industrially prod...,72.000,industry oil,na,True,True,NaN,202,From BMGF team: 20210411_LSFF_input_data_for_I...

In [26]:
fortified_oil = pd.read_csv('/ihme/homes/beatrixh/vivarium_research_lsff/data_prep/inputs/20210416_838AM_jonathan_update_vita_fortified_oil.csv', header = 2)
fortified_oil.columns = ['location_name','percent of population eating fortified vehicle','old_fortified']
fortified_oil = pd.melt(fortified_oil, id_vars = 'location_name',
        value_vars = ['percent of population eating fortified vehicle'],
       var_name='value_description',value_name='value_mean')

In [27]:
fortified_oil['vehicle'] = 'industry oil'
fortified_oil['nutrient'] = 'vitamin a'
fortified_oil['u5_applicable'] = True
fortified_oil['wra_applicable'] = True
fortified_oil['sub_population'] = np.NaN
fortified_oil['location_id'] = new_oil.location_name.map(loc_id_map)
fortified_oil['source_citation'] = "From BMGF team: 8:38 4/16/2021 email from Jonathan"

In [28]:
fortified_oil.head()

,location_name,value_description,value_mean,vehicle,nutrient,u5_applicable,wra_applicable,sub_population,location_id,source_citation
0,Angola,percent of population eating fortified vehicle,8.8,industry oil,vitamin a,True,True,NaN,168,From BMGF team: 8:38 4/16/2021 email from Jona...
1,Bangladesh,percent of population eating fortified vehicle,42.8,industry oil,vitamin a,True,True,NaN,161,From BMGF team: 8:38 4/16/2021 email from Jona...
2,Burkina Faso,percent of population eating fortified vehicle,51.1,industry oil,vitamin a,True,True,NaN,201,From BMGF team: 8:38 4/16/2021 email from Jona...
3,Côte d'Ivoire,percent of population eating fortified vehicle,30.5,industry oil,vitamin a,True,True,NaN,205,From BMGF team: 8:38 4/16/2021 email from Jona...
4,Cameroon,percent of population eating fortified vehicle,20.0,industry oil,vitamin a,True,True,NaN,202,From BMGF team: 8:38 4/16/2021 email from Jona...

In [29]:
fortified_regular_oil = fortified_oil.copy()
fortified_regular_oil['vehicle'] = "oil"

In [30]:
fortified_regular_oil.head()

,location_name,value_description,value_mean,vehicle,nutrient,u5_applicable,wra_applicable,sub_population,location_id,source_citation
0,Angola,percent of population eating fortified vehicle,8.8,oil,vitamin a,True,True,NaN,168,From BMGF team: 8:38 4/16/2021 email from Jona...
1,Bangladesh,percent of population eating fortified vehicle,42.8,oil,vitamin a,True,True,NaN,161,From BMGF team: 8:38 4/16/2021 email from Jona...
2,Burkina Faso,percent of population eating fortified vehicle,51.1,oil,vitamin a,True,True,NaN,201,From BMGF team: 8:38 4/16/2021 email from Jona...
3,Côte d'Ivoire,percent of population eating fortified vehicle,30.5,oil,vitamin a,True,True,NaN,205,From BMGF team: 8:38 4/16/2021 email from Jona...
4,Cameroon,percent of population eating fortified vehicle,20.0,oil,vitamin a,True,True,NaN,202,From BMGF team: 8:38 4/16/2021 email from Jona...

In [31]:
new_oil = new_oil.append(fortified_oil)

In [32]:
# check formatting
new_oil.head()

,location_name,value_description,value_mean,vehicle,nutrient,u5_applicable,wra_applicable,sub_population,location_id,source_citation
0,Angola,percent of population eating industrially prod...,72.320,industry oil,na,True,True,NaN,168,From BMGF team: 20210411_LSFF_input_data_for_I...
1,Bangladesh,percent of population eating industrially prod...,87.516,industry oil,na,True,True,NaN,161,From BMGF team: 20210411_LSFF_input_data_for_I...
2,Burkina Faso,percent of population eating industrially prod...,73.760,industry oil,na,True,True,NaN,201,From BMGF team: 20210411_LSFF_input_data_for_I...
3,Côte d'Ivoire,percent of population eating industrially prod...,72.000,industry oil,na,True,True,NaN,205,From BMGF team: 20210411_LSFF_input_data_for_I...
4,Cameroon,percent of population eating industrially prod...,72.000,industry oil,na,True,True,NaN,202,From BMGF team: 20210411_LSFF_input_data_for_I...

In [33]:
# remove the old version of fortified oil from input data, to replace with new one
input_data = input_data.loc[~((input_data.vehicle=="oil")
               & (input_data.value_description=="percent of population eating fortified vehicle"))]

## add CIs

In [34]:
new_data = pd.concat([new_wheat,new_oil,fortified_regular_oil])

/ihme/homes/beatrixh/.local/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [35]:
# from our (previously final) input sheet, select extracted rows of data (no regression or multiplicative results)
# then drop any rows duplicated for different nutrients
w_meta = input_data[input_data.estimation_status=='na'].drop(columns = 'nutrient').drop_duplicates()

In [36]:
# use ratio of scale over mean to estimate scale for new industry datapoints
w_meta['scale_over_mean'] = (w_meta.value_975_percentile - w_meta.value_025_percentile) / w_meta.value_mean
r = w_meta.loc[(w_meta.scale_over_mean!=np.inf) & (w_meta.scale_over_mean!=0),['vehicle','scale_over_mean']]

r_mean = r.scale_over_mean.mean()
r.loc[r.vehicle=="maize flour",'scale_over_mean'] = r_mean

r = r.groupby('vehicle').mean().dropna().rename(columns={'scale_over_mean':'r'}).reset_index()

In [37]:
vehicle_map = {'wheat flour':'industry wheat','oil':'industry oil'}
r.vehicle = r.vehicle.map(vehicle_map)

In [38]:
r

          vehicle         r
0             NaN  0.558651
1    industry oil  0.336789
2  industry wheat  0.689506

In [39]:
new_data = new_data.merge(r, on = 'vehicle', how = 'left')

In [40]:
# input estimated CIs
new_data['lower'] = np.clip(new_data.value_mean - (new_data.r * new_data.value_mean)/2, 0, 100)
new_data['upper'] = np.clip(new_data.value_mean + (new_data.r * new_data.value_mean)/2, 0, 100)


new_data.loc[(new_data.value_025_percentile.isna()),'value_025_percentile'] = new_data.lower
new_data.loc[(new_data.value_975_percentile.isna()),'value_975_percentile'] = new_data.upper

In [41]:
new_data = new_data.drop(columns=['lower','upper','r'])

In [42]:
new_data

,CI_source,data_choice_notes,estimation_status,location_id,location_name,nutrient,source_citation,source_link,sub_population,u5_applicable,value_025_percentile,value_975_percentile,value_description,value_mean,vehicle,wra_applicable
0,NaN,NaN,NaN,168,Angola,na,From BMGF team: Kopie_von_20210412_LSFF_input_...,NaN,NaN,True,17.822717,36.577283,percent of population eating industrially prod...,27.200,industry wheat,True
1,NaN,NaN,NaN,161,Bangladesh,na,From BMGF team: Kopie_von_20210412_LSFF_input_...,NaN,NaN,True,21.689329,44.512671,percent of population eating industrially prod...,33.101,industry wheat,True
2,NaN,NaN,NaN,201,Burkina Faso,na,From BMGF team: Kopie_von_20210412_LSFF_input_...,NaN,NaN,True,31.451853,64.548147,percent of population eating industrially prod...,48.000,industry wheat,True
3,NaN,NaN,NaN,205,Côte d'Ivoire,na,From BMGF team: Kopie_von_20210412_LSFF_input_...,NaN,NaN,True,59.077064,100.000000,percent of population eating industrially prod...,90.160,industry wheat,True
4,NaN,NaN,NaN,202,Cameroon,na,From BMGF team: Kopie_von_20210412_LSFF_input_...,NaN,NaN,True,42.879360,88.000640,percent of population eating industrially prod...,65.440,industry wheat,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,NaN,NaN,NaN,196,South Africa,vitamin a,From BMGF team: 8:38 4/16/2021 email from Jona...,NaN,NaN,True,NaN,NaN,percent of population eating fortified vehicle,30.200,oil,True
196,NaN,NaN,NaN,522,Sudan,vitamin a,From BMGF team: 8:38 4/16/2021 email from Jona...,NaN,NaN,True,NaN,NaN,percent of population eating fortified vehicle,80.000,oil,True
197,NaN,NaN,NaN,190,Uganda,vitamin a,From BMGF team: 8:38 4/16/2021 email from Jona...,NaN,NaN,True,NaN,NaN,percent of population eating fortified vehicle,54.400,oil,True
198,NaN,NaN,NaN,189,United Republic of Tanzania,vitamin a,From BMGF team: 8:38 4/16/2021 email from Jona...,NaN,NaN,True,NaN,NaN,percent of population eating fortified vehicle,53.600,oil,True
199,NaN,NaN,NaN,20,Viet Nam,vitamin a,From BMGF team: 8:38 4/16/2021 email from Jona...,NaN,NaN,True,NaN,NaN,percent of population eating fortified vehicle,70.000,oil,True

In [43]:
new_data[['vehicle','value_description']].drop_duplicates()

            vehicle                                  value_description
0    industry wheat  percent of population eating industrially prod...
25   industry wheat     percent of population eating fortified vehicle
125    industry oil  percent of population eating industrially prod...
150    industry oil     percent of population eating fortified vehicle
175             oil     percent of population eating fortified vehicle

In [44]:
new_data[['vehicle','value_description','data_choice_notes', 'estimation_status','source_citation','CI_source']].drop_duplicates()

,vehicle,value_description,data_choice_notes,estimation_status,source_citation,CI_source
0,industry wheat,percent of population eating industrially prod...,NaN,NaN,From BMGF team: Kopie_von_20210412_LSFF_input_...,NaN
25,industry wheat,percent of population eating fortified vehicle,NaN,regression,NaN,modeling
29,industry wheat,percent of population eating fortified vehicle,Only one source. Note source had two numbers: ...,na,"Grant J Aaron, Valerie M Friesen, Svenja Jungj...",extraction
30,industry wheat,percent of population eating fortified vehicle,Only one source. Note source had two numbers: ...,na,"Grant J Aaron, Valerie M Friesen, Svenja Jungj...",extraction
33,industry wheat,percent of population eating fortified vehicle,Only one source.,na,"Grant J Aaron, Valerie M Friesen, Svenja Jungj...",extraction
37,industry wheat,percent of population eating fortified vehicle,NaN,multiplicative,NaN,modeling
42,industry wheat,percent of population eating fortified vehicle,Only one source,na,NaN,modeling
43,industry wheat,percent of population eating fortified vehicle,NaN,lack of evidence,NaN,extraction
45,industry wheat,percent of population eating fortified vehicle,All sources (Aaron and GFDx) agreed.,na,"Grant J Aaron, Valerie M Friesen, Svenja Jungj...",extraction
46,industry wheat,percent of population eating fortified vehicle,All sources (Aaron and GFDx) agreed.,na,"Grant J Aaron, Valerie M Friesen, Svenja Jungj...",extraction
47,industry wheat,percent of population eating fortified vehicle,All sources (Aaron and GFDx) agreed.,na,"Grant J Aaron, Valerie M Friesen, Svenja Jungj...",extraction
48,industry wheat,percent of population eating fortified vehicle,All sources (Aaron and GFDx) agreed.,na,"Grant J Aaron, Valerie M Friesen, Svenja Jungj...",extraction
49,industry wheat,percent of population eating fortified vehicle,All sources (Aaron and GFDx) agreed.,na,"Grant J Aaron, Valerie M Friesen, Svenja Jungj...",extraction
53,industry wheat,percent of population eating fortified vehicle,Only one source.,na,"Grant J Aaron, Valerie M Friesen, Svenja Jungj...",extraction
61,industry wheat,percent of population eating fortified vehicle,NaN,multiplicative + rejection sampling,na,modeling
65,industry wheat,percent of population eating fortified vehicle,Unable to find data; assuming 0; justification...,na,NaN,extraction
82,industry wheat,percent of population eating fortified vehicle,NaN,multiplicative + rejection sampling,NaN,modeling
117,industry wheat,percent of population eating fortified vehicle,Only one source.,na,"Corner, S. S. Nutrition and Business.",modeling
125,industry oil,percent of population eating industrially prod...,NaN,NaN,From BMGF team: 20210411_LSFF_input_data_for_I...,NaN
150,industry oil,percent of population eating fortified vehicle,NaN,NaN,From BMGF team: 8:38 4/16/2021 email from Jona...,NaN
175,oil,percent of population eating fortified vehicle,NaN,NaN,From BMGF team: 8:38 4/16/2021 email from Jona...,NaN

In [45]:
input_data.head()

,location_id,location_name,sub_population,vehicle,value_description,nutrient,value_mean,value_025_percentile,value_975_percentile,u5_applicable,wra_applicable,estimation_status,source_citation,source_link,CI_source,data_choice_notes
0,179,Ethiopia,NaN,maize flour,percent of population eating vehicle,na,59.263848,24.950317,93.577380,True,True,regression,NaN,NaN,modeling,NaN
1,179,Ethiopia,NaN,maize flour,percent of population eating industrially prod...,na,27.167514,11.437632,42.897396,True,True,regression,NaN,NaN,modeling,NaN
2,179,Ethiopia,NaN,maize flour,percent of population eating fortified vehicle,folic acid,0.000000,0.000000,0.000000,True,True,regression,NaN,NaN,modeling,NaN
3,179,Ethiopia,NaN,maize flour,percent of population eating fortified vehicle,iron,0.000000,0.000000,0.000000,True,True,regression,NaN,NaN,modeling,NaN
4,179,Ethiopia,NaN,maize flour,percent of population eating fortified vehicle,vitamin a,0.000000,0.000000,0.000000,True,True,regression,NaN,NaN,modeling,NaN

In [46]:
output = input_data.append(new_data)[input_data.columns]

In [49]:
final_save_path = '/ihme/homes/beatrixh/vivarium_research_lsff/data_prep/outputs/final_input_coverage_data_with_citations.csv'
output.to_csv(final_save_path, index = False)

In [ ]:
output[['estimation_status', 'source_citation', 'source_link', 'CI_source',
       'data_choice_notes']].drop_duplicates().sort_values('estimation_status')

In [ ]:
output.to_csv('/ihme')

In [ ]:
#checkout results
output.tail()

In [ ]:
output.columns

In [ ]:
# checkout problem rows

In [ ]:
output.loc[(output.value_mean > output.value_975_percentile) | (output.value_mean < output.value_025_percentile)]

In [ ]:
output.loc[(output.value_mean == output.value_975_percentile) & (output.value_description!='percent of population eating vehicle')]

In [ ]:
output.loc[(output.value_mean == output.value_025_percentile) & (output.value_description!='percent of population eating vehicle')]

In [ ]:
output.loc[(output.value_025_percentile.isna()) | (output.value_975_percentile.isna())]

In [ ]:
input_data.loc[(input_data.value_025_percentile.isna()) | (input_data.value_975_percentile.isna())]

In [ ]:
output_updated = output.loc[(output.vehicle.isin(["industry oil","oil"]))]

In [ ]:
output_updated.to_csv('/ihme/homes/beatrixh/repos/scratch/lsff_updated_oil_input_coverage_data_v6_04_16_2021.csv', index = False)

In [ ]:
output.to_csv('/ihme/homes/beatrixh/repos/scratch/lsff_input_coverage_data_w_industry_oil_wheat_v6_04_16_2021.csv', index = False)

In [ ]:
save_path = '/ihme/homes/beatrixh/vivarium_research_lsff/data_prep/outputs/lsff_input_coverage_data_w_industry_oil_wheat_v6_04_16_2021.csv'
output.to_csv(save_path, index = False)

In [ ]:
output_updated